[2022-03-01 08:29] freekmurze commented on #2426
In development we always start from a fresh db with `php artisan migrate:fresh --seed`.
In production we never migrate down, as in most cases that is a dangerous thing to do, because probably you haven't have written tests for that scenario.

[2022-03-01 08:32] vedmant commented on #2426
@freekmurze During the very beginning of a new project development it's often convenient to run `migrate:refresh`, this package breaks this functionality by default, also `artisan make:migration create_some_table` always automatically created down method. Sure down() method is not needed on later stages, but not having this causing errors on lots of people's projects.

[2022-03-01 08:41] freekmurze commented on #2426
Try running `migrate:fresh`. It's even more convenient as you don't need `down` migrations, and there are no downsides for most apps.

Feel free to add a `down` method yourself should you need it.

[2022-03-01 08:44] vedmant commented on #2426
@freekmurze Yes, I added `down` methods, but still this package causes two artisan commands to fail, it's not a good reason to make error two commands and make people google for the problem, basically stealing their working time.

[2022-03-01 08:46] freekmurze commented on #2426
Feel free to send a PR to docs with instructions for people that want to have `down` methods.

That's a bit harsh, no?

[2022-03-01 08:49] vedmant commented on #2426
@freekmurze Why not just to add `down` method? There will be no need for documentation and people will not have to search for it when having this error.

[2022-03-01 08:53] freekmurze commented on #2426
For the reasons we stated above: we don't use it ourselves for our projects and any of our packages, and because people often don't have tests for running `down` migrations.

It makes sense for us to only support things we need ourselves and build package in a way that they are perfect for our projects.

[2022-03-01 08:55] vedmant commented on #2426
@freekmurze This makes sense if your package is private, but this is public package with a lot of downloads, you basically saying that you don't care about all other people that use this package.

[2022-03-01 08:58] freekmurze commented on #2426
I have often stated that we create these packages for our own projects, and that it wouldn't be sustainable for us if you build packages according to other peoples "rules". It seems that a lot of people do seem to like our work and find it useful for their projects.

If you don't like how we handle things, I've listed a few alternatives in the readme for you to try out.

[2022-03-01 19:19] danielzzz commented on #623
thanks @paolocaccavo , but what I need is to be able to access $model->addMediaFromUrl within a service, not just test the url of the item

[2022-03-01 19:44] Muetze42 opened #2815 "Documenation only until v6"
Since a few hours ago the documentation is only available up to version 6.

https://spatie.be/docs/laravel-medialibrary

[2022-03-01 19:45] vesper8 opened #2816 "9.11.4 introduces error when deleting file from S3 bucket"
Just tested reverting back to `9.11.3` and I get no errors. I only get this error as of `9.11.4`.

All my images are on a S3 bucket. When I try to delete an image, works perfectly on `9.11.3`, on `9.11.4` I get this error:

[code]

The database record gets deleted, but the files don't get deleted on S3 and I get two errors like the one above.

Not sure what's going on, the change in `9.11.4` seems

[2022-03-01 20:52] freekmurze commented on #2815
Back in business!

[2022-03-01 20:52] #2815 closed

[2022-03-02 01:53] ziming commented on #2816
I would say my PR is not the 1 causing this issue. because 1 of my sites havent update to this version and I already get delete from S3 error.

[2022-03-02 04:14] vesper8 commented on #2816
@ziming I get the error 100% of the time with 9.11.4 and I get the error 0% of the time on 9.11.3.

I mean I haven't done thousands of tests but I have done more than a dozen.

I do have this on my User model which is the one model that uses media

[code]

When I delete the media I just do `$media->delete();`

And this has always deleted the media on S3 prior to this new error.

I'm not blaming yo

[2022-03-02 05:51] ziming commented on #2816
Hmm interesting. when i find something new i update here.

[2022-03-02 13:53] steveoc opened #2818 "jpg SOI corrupted"
using 8.10.2

Thank you for this awesome package.

If i upload a .jpg and then view it in browser (```return response()->file($media->getPath());```) or download (```return $media;```) it then I get an unreadable file. Looking at the downloaded file in a hex editor it looks like the image header footer are shifted by the corrupted file having an extra 1 or 2 bytes at start before SOI: FF D8 and no

[2022-03-02 17:59] dsErick commented on #2773
I've just updated Laravel to version 9 and MediaLibrary to version 10, and I'm getting the same issue as @LucaPuddu.
The file uploading is working, but on tests the `getPath()` ignores the `Storage::fake()`.

[2022-03-02 18:47] kossa commented on #2807
I found the issue, seems like always the conversion is .jpg, and in my case I'm moving old codeigniter website to Laravel, and the conversion is the with original image extension I created a hack for that

[code]

[2022-03-02 19:54] #2807 closed

[2022-03-03 14:04] sebastiaanluca commented on #2816
We got 26 identical exceptions since deploying the upgrade.

We do something like this to delete existing media individually:
[code]

The `/?delete` endpoint seems wrong to me at first glance, unless the data like ID is in the payload. Perhaps `forceDelete()` does things differently?

[2022-03-03 14:15] ziming commented on #2816
Do you use soft deletes sebastiaan?

[2022-03-03 14:22] sebastiaanluca commented on #2816
Not for the media itself, but we do for the model it's related to.

[2022-03-03 15:14] sebastiaanluca commented on #2816
After some digging around, this seems to be an `aws/aws-sdk-php` bug introduced in v3.209.31.

- https://github.com/aws/aws-sdk-php/issues/2389
- https://github.com/aws/aws-sdk-php/pull/2390

You can check which version you use with `composer show -i`.

v3.211.x should have fixed it, though not sure how to update that since we don't use it directly.

[2022-03-04 10:15] mojowill commented on #2778
Looking at this in more detail it seems that `getBaseMediaDirectoryUrl()` calls down to https://github.com/thephpleague/flysystem/blob/ea4542acf038d2ac37fa36df6a29a25f6dc41a63/src/PathPrefixer.php#L36 (eventually via `laravel/framework/illuminate/AwsS3V3Adaptor.php`) which strips out the forward slash?

[2022-03-07 09:04] masoud-me commented on #1745
I have same problem

[2022-03-07 18:36] matt127127 commented on #2778
In the function getResponsiveImagesDirectoryUrl (DefaultUrlGenerator) line 34,

Just change the return statement from
`
return Str::finish(url($base.$path), '/');
`
to
`
return Str::finish($this->getDisk()->url($path), '/');

`
and comment out
`
        $base = Str::finish($this->getBaseMediaDirectoryUrl(), '/');
`

[2022-03-08 08:14] yahya077 opened #2825 "UUID Invalid"
### Discussed in https://github.com/spatie/laravel-medialibrary/discussions/2786

<div type='discussions-op-text'>

<sup>Originally posted by **yahya077** February 16, 2022</sup>
I'm trying to upload image to 'api/media-library-pro/uploads' from postman. I get 200 status and success response.

But when i do `$model->syncFromMediaLibraryRequest(<response object>)->toMediaCollection('thumb')`
It ret

[2022-03-08 16:11] MineChamp2000 commented on #1334
if someone is looking for an updated link in the docs, here it is: [Link](https://spatie.be/docs/laravel-medialibrary/v10/working-with-media-collections/defining-media-collections#a-idcontent-single-file-collections-1-hrefcontent-single-file-collections-1-classanchor-link-aria-hiddentrue-titlepermalinkaa-idcontent-single-file-collections-hrefcontent-single-file-collections-classanchor-link-aria-hi

[2022-03-09 09:19] frifrafry opened #2826 "Solved: PHP Fatal error: Declaration of Spatie\MediaLibrary\MediaCollections\Models\Collections\MediaCollection::jsonSerialize() must be compatible with Illuminate\Support\Collection::jsonSerialize(): array"
Bug found using
"laravel/framework": "9.1.0"
"spatie/laravel-medialibrary": "10.0.0"

Just change in _Spatie\MediaLibrary\MediaCollections\Models\Collections\MediaCollection.php_ line 51:
`public function jsonSerialize()`
to
`public function jsonSerialize(): array`

to fix this issue.

[2022-03-09 09:33] freekmurze commented on #2826
Could you create a PR for this?

[2022-03-09 10:06] frifrafry commented on #2826
My bad, this is already included in the master branch!
I used the (outdated) npm package.

[2022-03-09 10:16] #2826 closed

[2022-03-10 09:34] diazsasak opened #2830 "spatie/laravel-medialibrary[10.0.0, ..., 10.1.2] require illuminate/bus ^9.0"
Hi, i try to install the package with this command:

composer require "spatie/laravel-medialibrary:^10.0.0"

but I got this error. i have try to composer update, --with-all-dependencies also --ignore-platform-reqs but not solved.

![image](https://user-images.githubusercontent.com/7880137/157633264-7a2572e9-784d-4fbe-a52e-3a2488e60c72.png)

Any help? Thank you

"laravel/framework": "^8.75"

[2022-03-10 10:39] prullenbak commented on #2773
I also get the same error. I tried to find out what the issue was, and I found a big change in the DefaultURLGenerator's getBasePath() method. In medialibrary 9, it was quite complex. in medialibrary 10, it simply looks into the filesystem config file for the root of your disk. So what happens, is it ignores the fact that you're using a fake disk.

So I get the exact same result as @LucaPuddu, and

[2022-03-10 13:55] erikn69 commented on #2830
Look at the requirements and choose the right version

[2022-03-10 14:28] #2830 closed

[2022-03-10 15:39] xitude commented on #1788
[code]

Been trying to store this and failing, any idea?

[2022-03-11 00:51] diazsasak commented on #2830
@erikn69 yes. at the end i follow the requirement https://filamentphp.com/docs/2.x/spatie-laravel-media-library-plugin/installation .

i thought it can use the latest version. thank you

[2022-03-11 04:20] mrdigitalau opened #2832 "getFirstMediaUrl() with s3 returns an invalid URL with a backslash in it"
I'm using a seeder to import images for a model.

I am importing the image from a url using addMediaFromUrl() and it is uploading fine.

When I am retrieving the full url of the item (which is hosted on Amazon S3) using getFirstMediaUrl('images'), it is returning an invalid URL eg. https://mybucket.s3.ap-southeast-2.amazonaws.com/images\\1/margarita.png

Notice the two backslashes.

Here's how a d

[2022-03-11 10:57] mojowill commented on #2678
I'm seeing the same issue on conversions with `withResponsiveImages()`

- PHP 8.1.3
- Laravel 9.2.0
- Media Library 10.1.1

[2022-03-11 18:59] FatihAraz commented on #92
what about temporary uploads in the pro version?
I am using S3 to save my files and temporary uploads and i need a way before the file is uploaded to s3.

[2022-03-12 22:52] sebastiaanluca commented on #2778
Can confirm @matt127127's solution works.

[2022-03-13 19:31] freekmurze commented on #2778
@matt127127 Could you PR your solution?

[2022-03-13 20:39] matt127127 commented on #2778
https://github.com/spatie/laravel-medialibrary/pull/2837

[2022-03-14 16:47] darkons opened #2839 "Too many queries using getUrl() method"
### Discussed in https://github.com/spatie/laravel-medialibrary/discussions/2838

<div type='discussions-op-text'>

<sup>Originally posted by **darkons** March 14, 2022</sup>
When you call Media getUrl() method, it's result in a new model query for each media item.
Model to reproduce issue:

[code]

Execute the query:
[code]
In a collection of 100 objects it will execute 101 queries

Could this is

[2022-03-14 17:29] freekmurze commented on #2839
Duplicate of discussion.

[2022-03-16 09:27] ziming opened #2842 "feof(): Argument #1 ($stream) must be of type resource, null given after upgrading to laravel 9 for files uploaded before the upgrade"
So I have a route that trigger a MediaStream download. Returning a zip file with multiple media in it.

Timeline of events:
Many days before upgrading to laravel 9 i upgraded to PHP 8.1 for all my sites, so unlikely a language version issue.

After upgrading to laravel 9 for my 1st small site (4th March). I noticed the following issues on production:
- Single file download still works fine
- Media

[2022-03-16 09:44] freekmurze commented on #2842
Thanks for having researched this. I'd accept a PR that solves this.

[2022-03-16 15:46] ziming commented on #2842
I've decided to login to my AWS account to look at the S3 buckets and I noticed the following in both sites separate S3 buckets.

![image](https://user-images.githubusercontent.com/679513/158628566-5aec0474-0b43-4f12-b81a-0b8e5d9c5351.png)

It appears that when a user uploads a file in laravel 9. it's uploaded with "/" as the top level directory which didn't happen in laravel 8

in terms of config

[2022-03-16 15:46] sebastiaanluca commented on #2778
I saw that the PR has been merged into v9. Will it be released as a fix for v10 too?

[2022-03-16 16:10] freekmurze commented on #2778
Ah right, I still need to do this. If you need it fast, send a PR and I'll tag and release quickly 👍

[2022-03-21 00:17] sawirricardo commented on #849
Hi @jpmurray, I'm wondering if you know how the migration process steps looked like? I also have a production app with local storage and thinking to start moving to s3.

[2022-03-21 06:03] HamasakiBrain opened #2848 "Laravel Session Restore"
Hello, when I display a picture, Laravel throws me out of the session and I have to log in again.
and so every time you reload the page where the library is used [laravel-medialibrary](https://github.com/spatie/laravel-medialibrary)

### composer.json
`{
    "name": "laravel/laravel",
    "type": "project",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],

[2022-03-21 18:23] KelvinMuriithi commented on #2237
What exactly did you do?

[2022-03-21 22:04] dambridge opened #2854 "Conversion fails after upload to S3 using MediaLibary Pro"
**Details**

- Laravel 9.5.1
- Media Library Pro 2.1.8.

I've been struggling with getting conversions running after uploading a file to S3. The file is upload just fine, but I get the error `**Unsupported image type application/x-empty. GD driver is only able to decode JPG, PNG, GIF, BMP or WebP files.**` immediately following the post.

When I check the `media` table after the initial temporary

[2022-03-22 07:21] martindrapeau commented on #1538
@francoism90 in which file can I override the perform_conversions class? I want to specify a number of `tries` for this job. Maybe there is an easier way to do that than overriding the class?

[2022-03-22 07:23] francoism90 commented on #1538
@martindrapeau I'm doing something different nowadays. I simple listen for `MediaHasBeenAdded`/`MediaHasBeenUpdated` and do my own logic (conversions, jobs, services).

[2022-03-22 07:38] martindrapeau commented on #1538
Ok. I ended up setting a number of tries in the Horizon supervisor.
Merci François.
--Martin

On Tue, Mar 22, 2022 at 3:24 AM François M. ***@***.***>
wrote:

[2022-03-22 13:20] Vishnja commented on #629
Still doesn't seem to work

[2022-03-22 13:26] #2778 closed

[2022-03-22 13:48] mjubouri opened #2858 "Media folders"
Hello Dear,

I have a problem with the media folder in public, any files I upload it the folder will be 700 permission, and I tried to change the folder -R chmod but it's still the same problem

[2022-03-22 18:54] ale1981 commented on #2854
I am also having this same issue with S3

[2022-03-22 21:18] dambridge commented on #2854
As far as I can tell so far, it looks like somewhere in the `toMediaCollectionFromTemporaryUpload` method of `FileAdder.php` the `$pathToFile` is not getting set?

[2022-03-22 22:30] PaolaRuby commented on #2858
Set default permissions on config file

[2022-03-23 07:16] mjubouri commented on #2858
But in other project I didn't set any default permissions and its work,

I need to understand the problem?

[2022-03-23 11:24] ale1981 commented on #2854
I tried downgrading to media library to 10.2.0 but the issue still persisted, I had to downgrade to 10.1.5 and it's now working fine, so something that was changed between 10.1.5 and 10.2.0 is causing the issue.

[2022-03-23 20:01] mjubouri opened #2860 "Responsive image not working"
in my project the Responsive image not working ...

Please find a problem to me ?

<img width="1146" alt="Screen Shot 2022-03-23 at 11 00 11 PM" src="https://user-images.githubusercontent.com/16868721/159785499-1e299c58-4ceb-425e-8e1f-7a7e8f9bffd1.png">

[code]

[2022-03-23 22:19] dambridge commented on #2854
Sadly, didn't work for me. Downgraded to 10.15 as you suggested and tried again, but same issue persists. I can't see in the Pro repo, so not sure what may have changed in there either.

[2022-03-23 22:28] dambridge commented on #2854
I'll leave this open for now; in the meantime I'm going to go back to home-brewing something. :-(

[2022-03-23 22:49] ale1981 commented on #2854
10.15 or 10.1.5?

[2022-03-24 04:04] SaurabhKharivale commented on #2854
On laravel 8 with medialibrary 9 everything works perfectly with my setup.

But after upgrading to laravel 9 and medialibrary 10.3.0, I am facing the same issue but with google cloud storage. I am using [spatie/laravel-google-cloud-storage](https://github.com/spatie/laravel-google-cloud-storage) package along with laravel-medialibrary-pro.

Downgrading to 10.1.5 or below didn't work for me.

Here

[2022-03-24 08:28] richan-fongdasen commented on #2854
It works for me after installing the specific package versions.

[code]

[2022-03-24 08:59] freekmurze commented on #2854
I'll try to look into this soon. Feel free to open a PR if you already know the solution and want it to be released quickly 👍

[2022-03-24 11:06] benounnas opened #2862 "Conversions are not created"
i defined a media conversion in my model to add thumbnails of videos, it returned the path of the thumbnail but it didn't create it when i checked the folder.
My project manager i should check the queue worker which is not mentioned i think in the documentation (or i missed it may be), i run ```php artisan queue:work``` i had this error:
```Declaration of Symfony\Component\Cache\CacheItem::expires

[2022-03-24 13:27] #2862 closed, assigned to nobody

[2022-03-24 21:05] dambridge commented on #2854
@SaurabhKharivale Hey there. Actually, my file does get uploaded properly, it's just the media table update that goes awry.

[2022-03-24 21:07] dambridge commented on #2854
@freekmurze Cheers for that and I'm sure we'll keep digging collectively.

[2022-03-24 21:28] dambridge commented on #2854
@richan-fongdasen OK, I mucked about following your lead, and this is now working for me on S3:
[code]

[2022-03-24 22:07] dambridge commented on #2854
@richan-fongdasen Can I ask how you force the laravel-medialibrary package to that version? I tried editing composer.json in the pro package to reflect that, but no matter what I do it sticks to 10.3.0

[2022-03-25 08:41] ale1981 commented on #2854
@dambridge I forced my package version using the following in my composer.json
[code]
Setting the version of laravel-medialibrary also downgraded laravel-medialibrary-pro to 2.1.6

[2022-03-25 08:48] ale1981 commented on #2854
It seems this is related to the laravel-medialibrary-pro components rather than laravel-medialibrary. I just amended my composer.json to force laravel-medialibrary-pro to use 2.1.6 and the latest version of laravel-medialibrary which is currently 10.3.0 and it works fine.
[code]

[2022-03-25 18:48] laratutodotcom commented on #92
How to get file extension from path in Laravel 9? https://laratuto.com/how-to-get-file-extension-from-path-in-laravel/**

you use Laravel Function  right ?/

[code]

[2022-03-25 21:16] dambridge commented on #2854
@ale1981 That setup properly populates the media table for me, but fails to upload the table, *or* display the thumbnail

[2022-03-25 21:22] dambridge commented on #2854
Yeah, so again:
[code]
Uploads the file successfully, and updates the media table with the `TemporaryUploadFile`  for model_type, and gets the size. But as soon as it tries to run the thumbnail, the error occurs as no size and mime_type are saved.

[2022-03-26 18:48] dambridge commented on #2854
Hmmmmm. OK, upon looking at all temporary uploads in `/storage/media-library/temp`, they're all 0 bytes!

[2022-03-26 20:39] dambridge commented on #2854
Anyway, I've been digging in here for 3-4 days now. I'm going to use something else and come back to Pro later if it gets updated. I'll leave it open.

[2022-03-27 18:38] dambridge commented on #2854
Okaaaaay! Testing some hackery in the package itself here (FYI, I haven't forked or anything, as I don't think I'm a good enough dev to get through the whole testing/PR thing, noob factor is strong.) But here's what I did to get it working:

In `vendor/spatie/laravel-medialibrary-pro/src/Models/TemporaryUpload.php`:

Lines 138/139 of the move Media function, I added:
[code]

And In `vendor/spatie/

[2022-03-28 16:49] safayet404 commented on #1116
Yes
Problem solved

[2022-03-29 07:36] martin-ro commented on #2854
Changing versions didn't help for me. I don't use medialibrary-pro. Uploading with a livewire component to S3 the file is actually uploaded into the bucket in `livewire-tmp` but then get's wiped when submitting. Log shows
`Unsupported image type application/x-empty. GD driver is only able to decode JPG, PNG, GIF, BMP or WebP files.`
or with imagick `Unable to read image from path (/tmp/GlideQ7hupS

[2022-03-29 08:40] martin-ro commented on #2854
This worked at least for me:

in `config/media-library.php`

[code]

commenting out `'ACL' => 'public-read'` fixed it.

¯\_(ツ)_/¯

[2022-03-29 16:57] dambridge commented on #2854
Interesting. I'll give it a go.

[2022-03-29 21:34] dambridge commented on #2854
Nah, nothing. Still can't find the temp file or something

[2022-03-30 07:47] freekmurze commented on #2854
I'm going to try to get to the bottom of this today. Any tips or suggestions are very welcome.

[2022-03-30 08:22] freekmurze commented on #2854
I'm having a hard time replicating this using the regular media library.

I've created a fresh Laravel app and installed the media library.

[This command](https://github.com/spatie/medialibrary-app/blob/9bb7262565ee127940c20f847c63a5b7b598c23e/app/Console/Commands/AddMediaCommand.php#L8) can successfully upload files to S3 and it also creates correct links to conversions.

<img width="1298" alt="

[2022-03-30 09:00] martin-ro commented on #2854
I cloned the app and it works - uploads, conversion all fine.

**But if you add**

[code]

you get the error. Check the [Ray](https://flareapp.io/share/95JqxE07#F57) here.

When I was trying to debug that yesterday I found in some server log an entry saying something about "ACL .. not .. allowed.." or similar. I can't find that log right now but that eventually lead me to that config.

[2022-03-30 10:59] freekmurze commented on #2854
If also adapted the Blade Attachment example in the [media library pro demo app](https://github.com/spatie/laravel-medialibrary-pro-app) to use S3.

I could successfully submit that form and the resulting image was copied to S3, conversions were generated.

<img width="1572" alt="CleanShot 2022-03-30 at 12 55 26@2x" src="https://user-images.githubusercontent.com/483853/160816011-1954a7a7-c4af-4900

[2022-03-30 11:16] martin-ro commented on #2854
Thanks for looking into this.

The credentials is not the issue I think. Have you tried to run the command with that ACL setting? With the same bucket and same AWS credentials you will see that error described by most here.

Anyway, it works for me now..

[2022-03-30 20:34] dambridge commented on #2854
Hey! I deleted my media-library and media-library-pro vendor directories and reinstalled. I removed the ACL setting in config per @martin-ro but still didn't work.

Then.....

I had my `config/livewire` `temporary_file_upload.disk` set to s3, per the instructions on working with Livewire. I reverted to `null` and voila, worked like a charm!

[2022-03-30 20:41] freekmurze commented on #2854
Great! Going to close this issue as it seems to be resolved. I'll improve our docs on this point soon.

[2022-03-30 20:41] #2854 closed

[2022-03-30 20:42] #2858 closed, assigned to nobody

[2022-03-31 11:08] arokito opened #2866 "jsonSerialize(): array"
Declaration of Spatie\MediaLibrary\MediaCollections\Models\Collections\MediaCollection::jsonSerialize() must be compatible with Illuminate\Support\Collection::jsonSerialize(): array

[2022-04-01 01:39] martin-ro commented on #2854
This is closed but i just noticed this error came back for me. Manually uploading works but my tests fail when using a livewire component to upload an image.

`Unsupported image type application/x-empty. GD driver is only able to decode JPG, PNG, GIF, BMP or WebP files.` again.

Pretty frustrating.. if anyone can figure this out please let me know.

[2022-04-01 11:00] Mariam-AIT-MOUSSA commented on #1036
if any one is still having the PathGenerator interface not found error, then in your CustomPathGenerator class use the use **Spatie\MediaLibrary\MediaCollections\Models\Media** and not **\Spatie\MediaLibrary\Models\Media**

[2022-04-01 13:08] freekmurze commented on #2832
test

[2022-04-05 13:20] dipakladanitatvasoft commented on #1266
i am also facing same issue in laravel 9

[2022-04-06 20:25] eskiesirius commented on #1613
I am getting this issue.. changing addMediaFromRequest to addMedia didn't work.. im using windows

[2022-04-13 01:51] ryanmortier commented on #2854
Having the exact same issue. I just recently updated my PHP from v7.4 to v8.1, Laravel from v8 to v9, and Media Library Pro from v9 to v10.

GD gives me the following:
[code]

Imagick gives me the following:
[code]

I'm using Livewire/Blade with the local filesystem driver. I'm not using S3. I don't have have my livewire config even published.

[2022-04-13 14:11] ale1981 opened #2880 "syncFromMediaLibraryRequest and withCustomProperties"
### Discussed in https://github.com/spatie/laravel-medialibrary/discussions/2879

<div type='discussions-op-text'>

<sup>Originally posted by **ale1981** April 13, 2022</sup>
Laravel 9.8.1
Spatie/laravel-medialibrary 10.3.2

I am getting an error when attempting to add custom properties when using SyncFromMediaLibraryRequest;

[code]
**Spatie\MediaLibraryPro\Dto\PendingMediaItem::Spatie\MediaLibra

[2022-04-13 14:18] humaneguy opened #2882 "HTTP 404 not found when trying to download via the file path"
### Discussed in https://github.com/spatie/laravel-medialibrary/discussions/2881

<div type='discussions-op-text'>

<sup>Originally posted by **humaneguy** April 13, 2022</sup>
Hi I have a frontend for downloading reports generated by admins.

So when the download button is clicked, it should download the file for the administrator.

I'm rendering it on the frontend using this code:

[code]

[2022-04-13 16:13] freekmurze commented on #2880
Duplicate of discussion

[2022-04-13 16:14] freekmurze commented on #2882
Duplicate of discussion

[2022-04-13 16:14] #2882 closed

[2022-04-14 08:39] illambo commented on #1222
Hi @freekmurze any news about that? :pray:
Seems like the right time for something about it, with Nova 4 (with Vue 3 support) I have not found any packages that currently support the medialibrary (see https://github.com/ebess/advanced-nova-media-library/issues/311 and https://github.com/dmitrybubyakin/nova-medialibrary-field/issues/157).

Do you have any suggestions about it?
Thanks.

[2022-04-15 08:13] ITrunsDE opened #2886 "FilesystemIterator::__construct(/tmp): Failed to open directory: Permission denied"
Hi,

this happens in my production environment. I get the following error in the laravel.log when I upload an Image that has a the following mediaConversion

**Entry.php**
[code]

The following entry appears in the storage\laravel.log file:
[code]

Inside the config\media-library.php I've tried to change the following, but the error is the same.
`'temporary_directory_path' => '/www/htdocs/w1234567

[2022-04-15 15:10] ITrunsDE commented on #2886
I've checked the upload on my dev system and i got the same error.

[code]

[2022-04-17 06:08] eskiesirius opened #2888 "img tag not displaying in interiajs"
I want to load the responsive image, i followed the docs but it is for blade template only

[2022-04-17 16:20] nausixkiz commented on #563
Thank @j0131n
But we should use ```longText``` instead of ``text`` as MariaDB recommended

[2022-04-18 07:18] askerakbar commented on #947
I'm also getting this error when the queue worker runs the Job to Perform thumbnail conversion.

**`League\Flysystem\Exception: Impossible to create the root directory`**

`;s:19:\\\"chainCatchCallbacks\\\";N;s:5:\\\"delay\\\";N;s:11:\\\"afterCommit\\\";N;s:10:\\\"middleware\\\";a:0:{}s:7:\\\"chained\\\";a:0:{}}\"}}', 'League\\Flysystem\\Exception: Impossible to create the root directory \"/var/ww

[2022-04-19 06:15] 3ub41r commented on #947
Have you checked if the user running the queue, in my case Horizon, has permission to write to the thumbnails folder?

[2022-04-19 09:39] humaneguy commented on #282
Hi. I had a reason to order in an application I'm working on, now.

You can use this code:
[code]

[2022-04-19 18:38] ryanmortier opened #2891 "Upgraded to v10 and it's completely broken for me... weird UUIDs and empty files"
I recently upgraded from PHP 7.4 to PHP 8.1, upgraded Laravel from v8 to v9 (via Laravel Shift), and upgraded media library from v9 to v10.

Everything else is working great except this library.

I'm also using Media Library Pro components. When uploading a file, the files are empty and both GD and Imagick complain due to the file being 0 bytes.

GD gives me the following:
[code]

Imagick gives me

[2022-04-19 20:53] ryanmortier commented on #2891
I've managed to make some very minor changes and get things working temporarily. The issue appears to be related to the pro components or the `syncFromMediaLibraryRequest` method.

In my Livewire component, I changed the following:

[code]

and on my view I stopped using the pro components:

[code]

These two simple changes makes everything work. My queue is processing conversion jobs, the files a

[2022-04-21 07:38] DanielvdSpoel opened #2892 "Deleting a Media record/model doesn't delete the associated files"
We use the following code:
`
        $data = Media::Find($media); //$media is the id of the media we wish to delete
        $data->delete();
`

I expect this to also remove all the files, so we don't end up with all sorts of files that are deleted. But they are still there? How can we fix this? I also can't find anything in the docs about deleting media

[2022-04-21 08:56] rcerljenko opened #2894 "Deleting a Media doesn't delete the actual files from AWS S3"
Hi,

When you delete a Media object it deletes it from the database but doesn't delete the actual files from S3. Instead you get a silent error in the logfile:
[code]

Permissions on AWS are not the issue since it worked before with the same ones and S3FullAccess is attached to it.

I'm not sure if this has to be reported here or maybe here => https://github.com/thephpleague/flysystem-aws-s3-v3 or

[2022-04-21 16:21] jorenvh opened #2895 "Bug: server fault when eager loading the media relation by default"
**Laravel version:** v9.9.0
**Media library version:** 10.3.2

I'm currently upgrading a Laravel 8 application running on php 7.4 to Laravel 9 on php 8.1. And I'm encountering failing tests and I was able to pinpoint the issue to the media library (so far).

I'm already creating an issue as I'm only working sporadic on this project in case anyone else is experiencing the same issue and has found a

[2022-04-21 18:07] ryanmortier opened #2896 "File name no longer holds extension after upgrading to v10"
Blue is v9, yellow is v10.

![image](https://user-images.githubusercontent.com/2053960/164524418-7aea3133-9fda-4d1f-b7c1-5de9104c4dca.png)

[2022-04-21 22:00] tontonsb commented on #623
The main problem seems to be that the `assertExists` expects a path relative to the disk, but the `getPath` method return full path from the root of the actual filesystem.

The default path within the disk is `$file->id.'/'.$file->file_name`, but that can be overriden. It seems that to get the "actual" path we have to reach inside for the generator: `$file->getUrlGenerator('')->getPathRelativeToRo

[2022-04-22 12:40] langeuh commented on #2854
![Screenshot 2022-04-22 at 14 39 40](https://user-images.githubusercontent.com/5647964/164716028-ce5df684-71ca-4742-b356-ddf354c89a87.png)

i too got this error after upgrading
for me the `'visibility'=>'public'` caused the error in the S3 config settings

[2022-04-26 12:33] ryanmortier commented on #2896
I'm going to close this issue because I assume that this was an intentional fix.

[2022-04-26 12:33] #2896 closed

[2022-04-27 10:54] mkwsra commented on #1460
+1

[2022-04-27 16:13] dambridge commented on #1816
Sorry for the necro bump, but found myself looking at the same situation today. I'd like to delete a model instantly, then queue the actual deletion of associated models (media, comments, etc etc). Just checking to see if this is somehow possible now?

[2022-04-29 03:10] diazsasak commented on #1616
hi @brandonserge , did you found the fix?

[2022-04-29 04:31] ibraheem-ghazi commented on #205
+1

[2022-04-30 23:45] AbdullahFaqeir commented on #1595
@freekmurze this issue still exists, when trying to regenerate the missing conversions it regenerates all the images which accordingly takes a lot of time.

[2022-05-04 12:33] divdax commented on #1461
I agree with @Stichoza. Google PageSpeed also suggests `jp2` (never heard this format before...) for Safari, so multiple formats are needed.

@freekmurze any chance to overthink this?

[2022-05-05 09:42] saulens22 opened #2909 "Command `media-library:regenerate` fails when regenerating large amount of media"
### Error

When trying to regenerate large amount of media thumbnails, at some point (~10k media records) error is thrown:
`PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes) in /var/www/html/vendor/laravel/framework/src/Illuminate/Database/Connection.php on line 403`

It happens because `media-library:regenerate` command tries to load all models fro

[2022-05-05 18:37] AlejandroAkbal commented on #1848
For anyone wondering how to do this:

In your Media model, add this

[code]

[2022-05-10 11:14] #2894 closed

[2022-05-11 00:38] timothyasp commented on #2891
I'm also getting this exact error.

Very similar scenario, upgrading from 7.4 to 8.0, and L7 to L9.  and ML 9 to 10

But no livewire.

The solution you came to @ryanmortier seems to be just not using the pro components?

[2022-05-11 00:49] timothyasp commented on #2891
Specifically, this happens for me when the `vapor` param is set on the `<media-library-collection>` component.

[2022-05-11 00:59] timothyasp commented on #2886
Seems like this might be related to #2891

[2022-05-12 15:19] ryanmortier commented on #2891
Yeah pretty much. I'm hoping to one day add them back in but there is like zero support for these components and I don't have time to dig into it.

[2022-05-14 13:02] booni3 commented on #2825
Did you find a solution to this? I have the same issue. I have tried `enable_temporary_uploads_session_affinity = false` in config as some others say this helped, but not for me.

I am using the livewire components and get this error when trying to upload multiple files.

[2022-05-14 23:08] morris14 commented on #2891
Thanks for the incredible package everyone at Spatie!

I'm getting the exact same error. My assets SHOULD be saved in a "bucket_assets" directory. When using the pro react component to select a file from my computer, my storage folder looks like so:

<img width="319" alt="image" src="https://user-images.githubusercontent.com/45392569/168450762-a0656896-f58a-4737-8aa2-9f7f7dc301cd.png">

Once I cli

[2022-05-16 14:25] AlejandroAkbal commented on #489
Hey @Jasper9041

Did you manage to get a solution?

[2022-05-16 21:22] timothyasp commented on #2891
Yea.. It's tough because when you pay $300 for a license annually, you expect to be able to use it.

[2022-05-17 11:31] AiFxApp opened #2920 "v8 - v9: Upload works but URL missing?"
Upload works but URL not found for image?

[code]
`media_table`
[code]
`MediaController`
[code]
`filesystem.php`
[code]
`config/media-library.php`
[code]
`web.php (routes)`
[code]
`models\media.php`

[code]

[2022-05-17 12:38] FarhadShirmardi opened #2921 "Unable to seek to a video point"
I've been struggling with rendering video files. Using [docs](https://spatie.be/docs/laravel-medialibrary/v10/advanced-usage/outputting-media) the video is successfully rendered but there's problem in seeking to a point in video in chrome.

[2022-05-18 10:55] TheoNetemedia opened #2922 "Command `media-library:clean` does not use custom path generators"
Hello,

The `media-library:clean` command uses the default `Spatie\MediaLibrary\Support\PathGenerator\DefaultPathGenerator` instead custom path generators that can be configured with the `media-library.custom_path_generators` configuration key (it's [hard-coded in the command file](https://github.com/spatie/laravel-medialibrary/blob/main/src/MediaCollections/Commands/CleanCommand.php#L47)). Due to

[2022-05-18 12:00] khusan-dev commented on #899
If anyone else has this problem. I did this to create thumbnails. In the arguments, specify the maximum width and height for the photo. If the picture is smaller than the given value the picture will not be resized. If the picture is larger then the picture is resized by a given value, while the aspect ratio of the picture will be saved.

    public function registerMediaConversions(Media $media =

[2022-05-18 16:22] petsoukos commented on #2922
Ouch... Needed this command today to clean 50m items generated by a custom path config

From what I can tell the CleanCommand's handle() method injects the [DefaultPathGenerator directly](https://github.com/spatie/laravel-medialibrary/blob/main/src/MediaCollections/Commands/CleanCommand.php#L47)

[2022-05-18 17:08] petsoukos commented on #2922
For now and until there's a proper implementation I changed the variable `$conversionPath` in `deleteConversionFilesForDeprecatedConversions` method, to `$conversionPath = (new (config('media-library.path_generator')))->getPathForConversions($media);`

https://github.com/spatie/laravel-medialibrary/blob/main/src/MediaCollections/Commands/CleanCommand.php#L113

[2022-05-18 19:25] dprhmk opened #2924 "Spatie\MediaLibrary\MediaCollections\Exceptions\UnreachableUrl"
I have a problem with factories seeding img from faker imageUrl

i use Sail, php 8.1, Laravel 8

<img width="878" alt="Снимок экрана 2022-05-18 в 22 24 11" src="https://user-images.githubusercontent.com/68992437/169140142-977dc064-bfca-43f5-ae91-69fd5d9e1405.png">

[2022-05-19 06:19] TheoNetemedia commented on #2922
I think using the `Spatie\MediaLibrary\Support\PathGenerator\PathGeneratorFactory` factory already included in the package would be better? Something like `$conversionPath = PathGeneratorFactory::create($media)->getPathForConversions($media)`, which would let the factory automatically instantiate the correct path generator as it's supposed to.

I've also realised while testing this modification th

[2022-05-19 07:01] petsoukos commented on #2922
@TheoNetemedia Yes, it works even better than my temporary fix, because it can handle the `custom_path_generators` config. I only considered my needs when I posted the comment :smile:

[2022-05-19 08:07] freekmurze commented on #2922
@TheoNetemedia could you PR that?

[2022-05-19 10:06] TheoNetemedia commented on #2922
PR #2925 opened with the changes I proposed above, but with my personal account (this is my professional account) to make it easier for me to go back to it (if necessary) outside of work hours, I apologise for the confusion it might cause.

[2022-05-19 13:38] freekmurze commented on #2922
We'll continue this in #2925

[2022-05-19 13:38] #2922 closed

[2022-05-20 14:08] AlejandroAkbal opened #2929 "How to create a conversion to transform videos to WebM?"
### Discussed in https://github.com/spatie/laravel-medialibrary/discussions/2917

<div type='discussions-op-text'>

<sup>Originally posted by **AlejandroAkbal** May 16, 2022</sup>
Hi, I'm trying to optimize all videos that are added to my `Post` Model.
I try to accomplish this goal by converting videos to WebM format.

This is my `Post` Model:

[code]

I currently transform the videos by listening

[2022-05-24 03:03] ogradye opened #2932 "Responsive images are not being generated"
`$car->addMediaFromDisk('/cars/tmp/' . $fileName, 'spaces')->withResponsiveImages()->toMediaCollection('cars');`

No responsive images are generated. When I called withResponsiveImages the following happens:
- the information is added to the media table with the responsive array empty.
- The file is placed in storage/media-library/temp (I find this odd, and wouldn't like this to happen as the file

[2022-05-24 09:34] akauhovs opened #2934 "Save image as a conversion for original image"
I have an original image, and some variotions of it, that are cropped on frontend by user. I can save cropped images on disk. Is there a posibility to make this cropped images relative to original image, as a conversion for example?

[2022-05-25 14:45] krystianlaubach commented on #220
I have set up separate local disk for temporary uploads.

[code]

[code]

[code]

I have also my own model for temporary uploads and I override `getDiskName` method:

[code]

Then I've set up my own DeleteTemporaryUploadsCommand that runs every midnight to remove "old" TemporaryUploads but also folders from `temp_upload` disk

[code]

[2022-05-26 16:26] krystianlaubach opened #2936 "Video Thumb Conversion Fails if Generated in the Queue"
I have enabled conversions generation in the queue

[code]

And have this conversion registered in my model

[code]

Thumbnails are being generated for all file types (jpg, png, pdf) but not for the videos (mp4). Job fails in the queue with the following error:

[code]

If I switch off conversion queuing, thumbnail for the video is being generated successfully.

[2022-05-26 22:28] jihad28 opened #2938 "Related media from foreign tables referencing main table doesn't get deleted."
Recreating the bug.

For example we have `categories` and `sub_categories` table.
Each table interacts with media.

#### Categories Table
[code]
#### Sub Categories Table
[code]

When a category gets deleted their media is also deleted with it's sub categories.
But the sub categories media will remain.

I know I can fix this with deleting event in boot function inside the categoy model like so
[co

[2022-05-27 13:47] PaolaRuby commented on #2938
Make a trait

[2022-05-27 13:54] jihad28 commented on #2938
Okay so how do i get all relationships for a model and loop through them to delete their media?

This should be done inside InteractsWithMedia Trait.

[2022-05-27 23:05] PaolaRuby commented on #2938
the same code on a trait, It looks so easy that I don't think it's necessary to explain it. your code is not the best, look at this `SubCategory::where('category_id', $model->getKey());`, just use a `hasMany`, with that you can do everything on a trait

Not, the package can delete other relations, really the worst idea

[2022-05-27 23:18] jihad28 commented on #2938
No you got me wrong.
What I mean is that i will make the trait and this trait will be used in a lot of models.
So the models that the trait is used can have multiple relationships and most of them has media.
I want to get all relationships from the model that the trait is used and if it's cascade also delete their media.

**Not all models have relationships with SubCategory so it should jot be sta

[2022-05-27 23:32] jihad28 commented on #2938
Also i forgot the get on `SubCategory::where('category_id', $model->getKey())`

Sorry for the that.

[2022-05-30 10:00] #2750 closed

[2022-05-30 10:00] #2745 closed

[2022-05-30 10:29] aprokopenko opened #2942 "Custom model-based path generator doesn't work when using morph map"
**Problem**
We're using v9.12.3 and found a bug in `PathGeneratorFactory`:

It has an undocumented feature to provide `config('media-library.custom_path_generators')` and specify custom generators based on media model class:
https://github.com/spatie/laravel-medialibrary/blob/9.12.3/src/Support/PathGenerator/PathGeneratorFactory.php#L30

Best practices recommend using Relation::morphMap() for stor

[2022-05-30 10:38] freekmurze commented on #2942
I'd appreciate a PR for this. Let's use approach B. 👍

[2022-05-30 13:43] PaolaRuby commented on #2938
Obviously

I want to get all relationships from the model that the trait is used and if it's cascade also delete their media.

Of course, easy with a trait for avoid duplicate the code

No, i did get you, you didn't get the idea, maybe you are new on php

Not, about that, if you plan to put that in a trait , obviously you won't achieve anything, read the laravel documentation
[eloquent-relationshi

[2022-05-30 16:34] PaolaRuby commented on #2938
[code]

[2022-05-30 21:20] AlejandroAkbal commented on #2929
Bump

[2022-05-30 21:32] AlejandroAkbal commented on #781
Hey @Vusys, did you manage to implement a robust solution?

[2022-05-31 07:48] jihad28 commented on #2938
Thank You for helping out.

[2022-05-31 07:48] #2938 closed

[2022-05-31 13:08] AlejandroAkbal commented on #948
Intervention/Image V3 is in alpha state, looking forward to this 😢

[2022-06-02 10:00] #2755 closed

[2022-06-02 19:05] jackrstevens commented on #2891
I'm having this issue as well since doing updates.
Pretty massive issue since, as you say, this is licensed software.

Has anybody had any update on this?

[2022-06-03 09:03] freekmurze commented on #2891
I'll be taking a look at this next week (sorry for the wait). Could anybody confirm that these issues are occurring when you use [our demo app](https://github.com/spatie/laravel-medialibrary-pro-app)? A minimal app that showcases the problem would help a lot.

[2022-06-03 10:51] aprokopenko commented on #2942
PR is done: https://github.com/spatie/laravel-medialibrary/pull/2947

[2022-06-03 14:55] ryanmortier commented on #2891
I setup the demo app and was unsuccessful at replicating the issue. The demo app seems to work fine which is weird because my implementation is very basic/default so I can't possibly see where the issue might be. Unfortunately I can't share my application due to it being private and not owned by myself but I'm hoping someone else can share theirs?

[2022-06-06 11:52] aprokopenko commented on #2942
@freekmurze , For some reason all tests failed in the created PR, however, we didn't update anything related to errors inside the tests. Is it okay?
We connected the PR diff as composer patch in our project and the package and patch works fine.

[2022-06-06 16:10] bserprixwq commented on #1128
Solved it by :

* Overriding `responsiveImageWithPlaceholder.blade.php`
  * removing the `onload` attribute
  * adding an attribute `data-responsive-image`
* Adding a JS snippet in my `app.js` :
[code]

[2022-06-10 19:16] kb6673 commented on #2909
I worked around this recently with something like this `php -d memory_limit=512M  artisan media-library:regenerate ...`

---

Incidently, I found `--starting-from-id ` didn't work

[2022-06-10 19:21] kb6673 opened #2949 "media-library:regenerate doesn't seem to respect --starting-from-id"
`media-library:regenerate` doesn't seem to respect `--starting-from-id`

If I run `artisan media-library:regenerate "App\Models\ApplicantDocument" --starting-from-id=1070` for example

It starts at ID 1 (showing 6 because I wasn't fast enough to take a screenshot).

![image](https://user-images.githubusercontent.com/1001484/173135545-839a5c99-e5c0-452a-9ecc-df2481f860b2.png)

The PHP gets killed a

[2022-06-10 19:41] freekmurze commented on #2949
I'd accept a PR that fixes this.

[2022-06-13 00:02] ahmedash95 commented on #2949
Hey @freekmurze, a question to be sure i understand correct. Is the problem here that the progress bar starts count from 1? because  i can assure that —starting-from-id is respected by the command.

[2022-06-13 08:52] kb6673 commented on #2949
I'm convinced it isn't respecting that parameter here.

Having run it again over the weekend, it failed at 1070 again and no new media appeared on the disk.

![image](https://user-images.githubusercontent.com/1001484/173316722-c09a8be8-29da-467c-ba2a-529647b09789.png)

[2022-06-13 10:01] #2768 closed

[2022-06-13 13:51] PaolaRuby commented on #2949
That number is a progress bar count, not an id number
https://github.com/spatie/laravel-medialibrary/blob/07a0cb4e629cdde6c3061b77ec2f8855db8bc2a1/src/Conversions/Commands/RegenerateCommand.php#L47
Also, it is tested
https://github.com/spatie/laravel-medialibrary/blob/6a355b289f7f65033057ea154a551127f1c8ef87/tests/Conversions/Commands/RegenerateCommandTest.php#L234-L351
Your script stops because m

[2022-06-14 16:21] #2842 closed

[2022-06-15 11:03] matthaselip opened #2953 "SSL Operation failed with code 1"
the following error occurred:
` ErrorException

  file_put_contents(): SSL operation failed with code 1. OpenSSL Error messages:
error:0A000126:SSL routines::unexpected eof while reading

  at vendor/spatie/laravel-medialibrary/src/Downloaders/DefaultDownloader.php:17
     13▕         }
     14▕
     15▕         $temporaryFile = tempnam(sys_get_temp_dir(), 'media-library');
     16▕
  ➜  17▕

[2022-06-17 22:30] PaolaRuby commented on #2953
impossible to read without indentation, use markdown correctly

[2022-06-17 23:23] phuclh commented on #2891
I am still getting this error without using the pro package.

![CleanShot 2022-06-17 at 16 22 37@2x](https://user-images.githubusercontent.com/6707194/174412020-922772d5-15b6-4f9a-bfc8-a4d333fb71c1.png)

[2022-06-20 07:55] adam1920 commented on #1020
getAvailablePath function solve this problem.
From here `vendor/spatie/laravel-medialibrary/src/MediaCollections/Models/Media.php`

[code]

[2022-06-20 10:00] #2791 closed

[2022-06-21 11:32] elfeffe opened #2959 "Implicit incompatible float to int conversion is deprecated"
I'm getting this error:

Implicit conversion from float 40492.52199999999 to int loses precision in /media/psf/www/filament-commerce/vendor/spatie/laravel-medialibrary/src/ResponsiveImages/WidthCalculator/FileSizeOptimizedWidthCalculator.php on line 46

It's related to https://github.com/spatie/laravel-medialibrary/issues/2678
And seems to be a problem related to PHP 8.1 https://php.watch/versions

[2022-06-21 14:07] fredsal commented on #2959
Wich version of the package? laravel version?

[2022-06-21 19:17] RodgerOliver opened #2962 "Requirements for the package installation"
I am trying to install the package on my project but it says that I need to exif php extension, even though I already have the extensions installed and enabled. I can skip the package reqs, but I would like to install it with all the requirements.

I created a project to show how it is not working, [here it is](https://github.com/RodgerOliver/laravel-vue-medialibrary).

This is the error that I ge

[2022-06-22 12:31] elfeffe commented on #2959
No, not related to that.

[2022-06-23 14:14] RodgerOliver commented on #2962
That is what I would like to avoid, I want to install the package with all the requirements.

[2022-06-23 15:29] RodgerOliver commented on #2962
That did't work either, I'm

[2022-06-23 15:34] #2962 closed

[2022-06-27 14:22] gundogduyakici opened #2966 "Declaration of Spatie jsonSerialize() must be compatible with Illuminate\Support\Collection::jsonSerialize(): array"
**Symfony\Component\ErrorHandler\Error\FatalError**

Declaration of Spatie\MediaLibrary\MediaCollections\Models\Collections\MediaCollection::jsonSerialize() must be compatible with Illuminate\Support\Collection::jsonSerialize(): array

C:\laragon\www\wastestop\vendor\spatie\laravel-medialibrary\src\MediaCollections\Models\Collections\MediaCollection .php : 51

Why am I getting this error?

My php

[2022-06-27 22:10] astonge commented on #2891
Was having the same issue today with medialibrary-notpro..
I added the following to my .env:
[code]

My AWS/S3 related section (using minio locally):
[code]

Hope that helps anyone else having the same issues.

[2022-06-27 22:44] morris14 commented on #2891
Hey @freekmurze, appreciate you are busy 👌! Any movement on this at all?

[2022-06-28 06:25] freekmurze commented on #2891
It would help if somebody could PR a failing test for me to look at.

[2022-06-28 23:14] timersys opened #2968 "Responsive images not working on blade template with html"
{{ $yourModel->getFirstMedia() }} works perfectly but {!! $yourModel->getFirstMedia() !!} prints the whole model instead.

[2022-06-29 06:26] freekmurze commented on #2968
In that case, use `{{`. I'd accept a PR that fixes it for `{!!`. Make sure to include a test 👍

[2022-06-29 06:26] #2968 closed

[2022-06-29 08:14] lcresswell opened #2969 "MariaDb issue when upgrading from v8 to v9"
I ran into an issue when upgrading from v8 to v9 when using a Mariadb database. I was getting
`Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '>"$.generated_conversions", `media`.`updated_at` = ? where (`generated_conver...' at line 1 (SQL: update `media` set `generated_c

[2022-06-29 22:51] angeljqv commented on #2969
It is not possible to put an example for each db and for each db version, the file is an example that you must adapt to your needs

[2022-06-29 23:08] #2969 closed

[2022-06-30 06:32] schonhoff opened #2971 "Using Vite as a bundler in the pro docs"
Hello,

after Laravel is migrated to Vite as a standard bundler the docs needs a little bit of love. I tried different things but couldn't get the following code to work:
https://spatie.be/docs/laravel-medialibrary/v10/handling-uploads-with-media-library-pro/installation#content-using-the-css

If this isn't the right place for it feel free to move this in the discussion section :-)
Thanks for the

[2022-06-30 10:12] Dhruvi289 commented on #969
The actual import namespace is for Media: "use Spatie\MediaLibrary\MediaCollections\Models\Media"
and for MediaStream it is "use Spatie\MediaLibrary\Support\MediaStream"

[2022-06-30 21:16] ArmandoRiveroPi commented on #1802
This solved it for me, similar to the previous comment from @nikitabuida but in SQL terms:
[code]

[2022-07-03 13:31] ziming commented on #2816
@vesper8 or @freekmurze

Could 1 of you close this issue? it's been long confirmed since 3rd March that it is a bug introduced in aws/aws-sdk-php and not my commit.

[2022-07-03 21:11] #2816 closed

[2022-07-09 07:28] SvetoslavStefanov commented on #61
Thanks a lot to SoboLAN for sharing this, it helped me, although I had a little bit different problem.
First in 2022 the .env setting is already called QUEUE_CONNECTION, instead of QUEUE_DRIVER.
In my case the "sync" attribute didn't work for some reason, so I changed it to `database`.

To have your queue working with database, you'll need additional table called `jobs`. Create it via the cli: php

[2022-07-15 09:57] theperfectcoder opened #2982 "Media conversation does not working on me!!!"
Hi guys, I have a problem with media conversation, I added registerMediaConversions() in my model but its not working (im using latest version )

here is my table generated by spatie (p.s. I can change my table because there is important medias from production)
[code]

and here is my model

[code]

    and my route method

[code]

Please any help

[2022-07-18 06:24] kibria-miran commented on #1116
this file already exists..same issue remains

[2022-07-20 14:00] parallels999 commented on #2982
Duplicate of #2981

[2022-07-21 10:52] MuhammadUsman678 commented on #609
**Refactor Code**
[code]

[2022-07-21 23:04] masitings commented on #609
I think this is more likely to delete the first media.

[2022-07-23 11:57] HassanZahirnia commented on #2773
Hey @prullenbak thanks for your work on the issue. I actually was looking for a way to test my media and I stumble upon this page.

So right now by following your approach I'm doing:
[code]
To check whether the file is correctly saved on the disk or not.

But I'm curious to know if this is the most efficient way to do it ? For me I can't use absolute paths like you do in your example ( `1/file.txt

[2022-07-23 17:33] llantasypartes commented on #1312
Thanks, It worked for me =)

[2022-07-27 12:38] orkhanahmadov opened #2988 "Vapor upload does not allow setting `visibility`"
Currently, vapor upload from Media Library Pro allows 3 parameters:

From `media-library-pro-core` package, `api.ts` file:
[code]

It is not possible to set the `visibility` parameter which is available with `laravel-vapor` package. Link to official docs: https://docs.vapor.build/1.0/resources/storage.html#file-uploads

If the S3 bucket is set to private it is impossible to upload individual media

[2022-07-28 07:17] gingebaker commented on #2891
In my case I could recreate the issue with the demo app and sail with wsl2 on windows.
I created an issue in the laravel-medialibrary-pro:
https://github.com/spatie/laravel-medialibrary-pro/issues/460#issuecomment-1195734788

[2022-07-28 07:22] keizah7 opened #2989 "League\Flysystem\CorruptedPathDetected Corrupted path detected:"
We using medialibrary pro with livewire and recently got this: error

https://flareapp.io/share/Lm8XOobm#F64

[2022-07-28 15:44] ryanmortier commented on #2891
Maybe WSL2 is the common denominator? I was also using WSL2.

[2022-07-28 16:46] #2988 closed

[2022-07-29 10:05] #2982 closed

[2022-07-29 13:34] topegret commented on #2891
test with demo repo on a local server

https://github.com/spatie/laravel-medialibrary-pro-app/issues/54

[2022-07-31 09:42] mehdiyaq commented on #1520
I have the same problem. in server permission for created folders is 755 but created folders by media library have 700 permission. the server man said it has umask problem.

[2022-07-31 09:59] mehdiyaq commented on #1520
this modification fixed the problem:

        'media' => [
            'driver' => 'local',
            'root'   => public_path('media'),
            'url'    => env('APP_URL').'/media',
            'permissions' => [
                'dir' => [
                    'public' => 0777,
                    'private' => 0755,
                ],
            ],
        ],

[2022-08-01 11:06] schonhoff commented on #2971
Hello,

any updates on this? I still have trouble to use it with vite and don't know how to use the pro version on it. :-( Would love to see the docs updated or to have a working example so I can adopt my application.

Best regard!

[2022-08-02 05:06] rmsj opened #2994 "Bug introduced on PR 2992 - ordering"
Hi there.

This PR https://github.com/spatie/laravel-medialibrary/pull/2992 has introduced a bug on the `order by` clause.

Queries will look like this `select "file_name" from "media" where "media"."model_type" = ? and "media"."model_id" = ? and "media"."model_id" is not null and "collection_name" = ? order by "order_column" asc, "size" desc` when trying to order the result set with anything like

[2022-08-02 07:40] freekmurze commented on #2994
I've reverted the changes of that PR.

[2022-08-02 07:40] #2994 closed

[2022-08-02 10:01] #2832 closed

[2022-08-05 17:40] doncadavona commented on #1312
[Conversions](https://spatie.be/docs/laravel-medialibrary/v9/converting-images/defining-conversions) are queued by default, perhaps the queue worker is not running or is outdated, causing unprocessed thumb conversions until the queue worker is updated and running.

Stop the current queue worker then re-run it:

`php artisan queue:work`

[2022-08-06 21:33] reasecret opened #2996 "addMediaFromBase64 Not Uploading With File Extension"
I'm working on Livewire with Summernote editor. I'm using this code for get images thoose added to editor.

[code]
The problem is, if I use like this images not uploading with original extensions. Uploading like this: `med57B7.tmp` `medEECA.tmp`
Saving same file names to database of course.

And if I use `usingFileName(Str::random().'.jpg')`, unique file names are generating. BUT this Livewire com

[2022-08-08 17:01] smartified commented on #2767
Just upgrade to version 10.2.* and you will be fine

[2022-08-09 09:36] yemnaosman opened #2997 "Base64 mime type"
Hi!

When uploading a certain base64 docx file, we get the following error:
`The file with properties name: application-(2).docx, size: 27026, mime: application/vnd.openxmlformats-officedocument.wordprocessingml.documentapplication/vnd.openxmlformats-officedocument.wordprocessingml.document was not accepted into the collection named cv of model`

Our collection accepts application/vnd.openxmlforma

[2022-08-09 13:17] nikitabuida commented on #1638
Wouldn't it be adding
if (config('media-library.image_driver') === 'imagick') {
            $mimeTypes[] = 'image/tiff';
            $mimeTypes[] = 'image/heif';
        }

to function supportedMimeTypes() (and extensions) analogous with tiff support?

Recent versions of ImageMagic come with heic support.

[2022-08-10 17:55] ryanmortier commented on #2891
I just bought a MacBook. If I have time this weekend, I'll try to see if I can isolate the issue to WSL2 in my case.

[2022-08-11 06:15] gingebaker commented on #2891
I had the same problem with these hashed folder names not getting deleted when using the medialibrary-pro upload components. I found a workaround wich includes overwriting the "TemporaryUploadPathGenerator".
see: https://github.com/spatie/laravel-medialibrary-pro/issues/460#issuecomment-1205325012

I had this issue on windows and also on debian linux server with Apache/PHP Standard Installation.

[2022-08-11 08:36] marcelo-kazalukian commented on #2767
Hi How can I update it to version 10.2.*?

I run composer update but spatie library still on version 10.0.0

thanks so much

[2022-08-11 09:12] marcelo-kazalukian commented on #2767
Hi, How can I update it to version 10.2.*?

I run composer update but Spatie library still on version 10.0.0

thanks so much

[2022-08-11 09:20] smartified commented on #2767
Just go into your composer.json and change it from 10.0.0 to 10.2.* and run composer update
![image](https://user-images.githubusercontent.com/16135819/184102586-af51b7a4-9091-45d4-b417-dddc6a46de58.png)

[2022-08-11 09:22] marcelo-kazalukian commented on #2767
It worked. Thanks so much.

[2022-08-14 05:00] plakhin commented on #2971
I've manage to get Media Library Pro working with vite.

1. `vite.config.js`:
[code]

2. `resources/js/app.js`:
[code]

3. import in my component like this:
[code]

[2022-08-15 05:48] schonhoff commented on #2971
Thank you so much!

Hoped for a paid product the docs would be updated more quickly. :-/

[2022-08-15 09:04] freekmurze commented on #2971
Thank you!

[2022-08-15 11:08] #2971 closed

[2022-08-15 13:58] ramonfeleus commented on #2891
I have the same error as well in 2 projects: `Intervention\Image\Exception\NotReadableException: Unsupported image type application/x-empty. GD driver is only able to decode JPG, PNG, GIF, BMP or WebP files. in file _PROJECTROOT_/vendor/intervention/image/src/Intervention/Image/Gd/Decoder.php on line 75`.
These both are projects which have upgraded to laravel 9 (from 8). One project is the base fo

[2022-08-15 16:37] timothyasp commented on #2891
I was on a Apple Silicon mac using the latest version of homestead.

[2022-08-16 10:18] Jon78 commented on #2781
Add the following to your composer.json:
[code]

[2022-08-18 11:50] Tofandel commented on #1526
That's a bit sad given that the lib can already do conversions, it would be such a good addition if we could do

[code]

[2022-08-23 03:47] vladski commented on #2959
The deprecation message is triggered when calculating responsive image width by /ResponsiveImages/WidthCalculator/FileSizeOptimizedWidthCalculator.php and method finishedCalculating(int $predictedFileSize, int $newWidth).  Method calculateWidths() from the same class passes $predictedFileSize parameter which is not integer as required. It needs to be rounded and casted to int.

[2022-08-23 06:21] aaronmeder commented on #220
Can report that we also had the same issue with the "temp" folder of the medialibrary filling up our / disk - should have had oh dear active I guess 😬

Interestingly the directories that stayed within "temp" were created irregularly - sometimes there are multiple months and then again some folders created on a specific date.
I will try to check other logs regarding these days...maybe there is a he

[2022-08-24 19:35] hdk-pd opened #3009 "Missing error handling/data integrity"
First: Thanks for all the open source work you guys at Spatie do. Much appreciated.

I think there is an issue with error handling/data integrity on media creation. In case I'm not missing a main point of the process/library, there is no error handling when it comes down to the actual upload to the final filesystem.

Laravel: 9.22.1
Laravel MediaLibrary: 10.4.3
Filesystem: S3

A simplified part of

[2022-08-24 22:04] #3009 closed, assigned to nobody

[2022-08-26 14:55] ltd300 commented on #2193
I'm having the same issue as [jongravois] I bought the pro version, and it seems so simple but maybe  I'm missing some package or something, do I need to install react? Let me show you after my installation and all the efort that I see. check picture below
I have bootstrap 4 and Laravel 8, I have livewire installed and I'm adding the tailwind CSS as a CDN like alpine but still nothing

![Screen Sh

[2022-08-26 22:54] ltd300 opened #3012 "I need some help!"
I'm having the same issue as [jongravois] I bought the pro version, and it seems so simple but maybe I'm missing some package or something. Let me show you after my installation and all the effort that I'm getting. check screenshot
![Screen Shot 2022-08-26 at 10 48 16 AM](https://user-images.githubusercontent.com/6537367/187000600-2b3073a6-009e-4d71-b5ef-7859deb29d7a.png)
 below
I have bootstrap 4

[2022-08-27 01:38] notnek opened #3013 "S3 uploads fails when an ACL header is present"
I've seen a couple of issues (https://github.com/spatie/laravel-medialibrary/issues/2891, https://github.com/spatie/laravel-medialibrary/issues/2854) around a somewhat cryptic error where no one has landed on the cause:

I've been able to consistently recreate this with the following:

1. Create a S3 bucket with public access blocked (we want the code to drive the ACL, not the bucket):

<img width

[2022-08-27 11:59] notnek commented on #3013
This appears to be a Flysystem issue and not media library. If you enable the `throw` option on the disk config, it fails before making it to media libary's methods. Will close this.

[2022-08-27 11:59] #3013 closed

[2022-08-27 16:09] aliraza93 commented on #1460
Did anyone managed to solve the issue?

[2022-08-27 21:28] gottaloveit commented on #1627
Hi, sorry, I know this issue is closed, but I ran across this too, when using a custom model extending the MediaCollection model.  I fixed it by using registerAllMediaConversions() instead of registerMediaConversions().

custom media model App\Models\Media
[code]

User Model
[code]

Hope this might help someone in the future if you get here by searching for this issue.

[2022-08-29 07:12] keizah7 opened #3014 "Spatie\MediaLibraryPro\Rules\UploadedMediaRules validation message"
![image](https://user-images.githubusercontent.com/49227202/187143119-5ad71615-a823-4a18-afa8-cca6971b162f.png)

For uknown reason I getting invalid validation messages.
- uploaded images passing front-end validation
- uploaded images passing back-end validation but still shows an error

[code]

spatie/laravel-medialibrary 9.12.3
spatie/laravel-medialibrary-pro 1.17.4

[2022-08-29 07:26] keizah7 commented on #3014
Problem dissapear after moving validation to `FormRequest`

[2022-08-29 13:32] msonowal commented on #948
the new updated syntax for latest version would be

[code]

[2022-08-29 13:36] parallels999 commented on #3012
Duplicate of #3011

[2022-08-29 16:06] #3014 closed

[2022-08-29 17:33] victor-priceputu opened #3015 "Latest optimisation is sort order query breaks media copy for single file collections"
1. Create a model
2. Attach a media to the model, after registering the media collection as a single file.
3. Attach another media to the model (basically have 1 media item with order 2)
4. Move another media from another model to this one

Expected: the new media would belong to the model
Actual: the old media belongs to the model

This can be replicated with other steps as well, for example:
Hav

[2022-08-30 06:56] freekmurze commented on #3015
Could you PR a tests that proves that this is broken?

[2022-09-01 13:02] flamreal opened #3016 "[BUG] Temporary files uploads to permanent place "disk", not in the "temporary_directory_path""
# Bug report

### What I did
I just reinstall clear latest version of laravel project and medialibrary PRO, then I try to upload and attach media file to my model by blade(livewire) component. I did it step by step by instructions.

### What I expected to happen

I expect media file will put to **media-library/temp** after first uploading (and before attach file and store model).
My medialibrary c

[2022-09-01 21:19] holymp2006 opened #3018 "Use current date (Y/m/d) as custom path"
How can one use `date('Y')`, `date('m')`, and `date('d')` as custom path, when creating a file?

I need to change the media paths to something like` /base/2022/08/24/md5(xxxxxxxx)/filename.pdf`.
I have figured out how this might be done when retrieving the media, by extending and modifying the `BasePathGenerator` class as so:

[code]

But how do I save a file to `"/base/date('Y/m/d') . '/'..."`?

[2022-09-02 03:20] s00ar commented on #2767
You saved my life!!!!

[2022-09-02 09:08] FabienLucini opened #3020 "Regression ? in the MediaStream class"
Hello, this used to be called with the 'static' keyword but now it's called with the 'self' keyword.
In this scenario, we can't overwrite the differents method of this class if we make a new class that extends this one

https://github.com/spatie/laravel-medialibrary/blob/6f82e03359dbe7add037e9e8c5e3904522155f28/src/Support/MediaStream.php#L20

See previous version : https://github.com/spatie/larav

[2022-09-02 09:12] FabienLucini commented on #3020
Solution for now is to extend also the create method as well in our own class :
[code]

[2022-09-02 14:42] flamreal commented on #3016
Guys, I can't continue do anything with this error =\
Any advices? may be downgrade to any stable version? wich one is stable enough?

[2022-09-05 15:29] victor-priceputu commented on #3015
I will make one as soon as I can spare some time

[2022-09-05 17:49] fredsal commented on #3016
Here not everybody has the PRO version, only public media library, so you have to contact author for PRO support

[2022-09-06 08:58] mburkeSencon opened #3024 "Unable to upload file due to "Invalid object name 'media'" error"
### Discussed in https://github.com/spatie/laravel-medialibrary/discussions/3017

<div type='discussions-op-text'>

<sup>Originally posted by **mburkeSencon** September  1, 2022</sup>
This may be a bug, but I've not seen any references to this error so I'll write it like a bug report and it can be moved if required.

**Background**
I have upgraded a Laravel project from 6 through to 9, which also

[2022-09-06 09:15] victor-priceputu commented on #3015
PR created with the test, that is failing locally. Thank you for looking into this

[2022-09-06 13:47] angeljqv commented on #3024
Duplicate of #3017

[2022-09-07 14:17] mburkeSencon commented on #3024
It's a duplicate because I started it in the Q&A section and reasoned that it's possibly a bug and would be better off raising it as an issue. Especially as it's been 6 days of not being able to upload anything to my software.

Anyway, I've looked in to it myself today in order to help progress something and I've identified what I believe to be the issue.

In the src/MediaCollections/Models/Media.

[2022-09-07 17:14] AhmedMub commented on #1605
Hi, I know that it's an old closed issue but in case someone googles it as I did,
using `$model->getFirstMediaUrl('collection')` for not exists media it returns an empty string so you can simply use a condition `if(!empty($model->getFirstMediaUrl('collection')))`

[2022-09-08 10:29] sebastiandedeyne commented on #3024
Hi @mburkeSencon,

I dug around a bit and this looks a lot like a bunch of reports I found of people having issues with Laravel MSSQL driver.

Some reports I came across:

- https://stackoverflow.com/a/60032269
- https://github.com/laravel/framework/issues/17353

The first person had the exact same issue with a relation. The second mentions Laravel requiring additional config from MSSQL, not sure

[2022-09-11 15:39] khanakia commented on #1112
I am getting an error `SQLSTATE[HY000]: General error: 1364 Field 'id' doesn't have a default value`

@stemount i have implemented the same code as you mentioned

[2022-09-12 10:01] #2886 closed

[2022-09-14 13:11] Rajeevkvish commented on #1116
PDOException::("SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 767 bytes")

  2   C:\xampp\htdocs\workhome\vendor\laravel\framework\src\Illuminate\Database\Connection.php:501
      PDOStatement::execute()

[2022-09-14 13:12] Rajeevkvish commented on #1116
sir please solution

[2022-09-15 10:01] #2825 closed

[2022-09-16 17:49] kskrlinnorth2 opened #3032 "custom_path_generators doesn't work with custom polymorphic types"
I am using custom names for my morphed models, for example `user` instead of `App\Models\User` and similar generated via `enforceMorphMap` method on `Illuminate\Database\Eloquent\Relations\Relation` class, however `getPathGeneratorClass` method can't work with such approach since `is_a` expects full model namespaces so I can't use custom path generators on model basis.

I fixed it with this block

[2022-09-18 19:08] freekmurze commented on #3032
Could you send a PR for this? Be sure to also included a test to ensure it works.

[2022-09-19 08:49] michele-grifa opened #3036 "Cannot retrieve media using SQL Server 2017"
When using the `getMedia` function on a model with no media, i get an error. I already run the migration and the table is present.

Model:
[code]

Error
[code]

Laravel Version: 8.83.23
Media Library Version: 9.12.3
PHP Version: 8.0.1

[2022-09-19 09:07] michele-grifa commented on #3036
Problem solved. I was missing the `getRouteKeyName` in the model, so the Route Model Binding was not working.

[2022-09-19 09:14] michele-grifa commented on #3036
Sorry but after some tests, the problem is still present.

[2022-09-19 09:25] michele-grifa commented on #3036
Specifying the connection when i use `getMedia` seems to resolve the problem. But in the Model is already specified the connection.

[2022-09-19 10:01] #2920 closed

[2022-09-20 21:57] Rub-s commented on #949
I faced this issue. `$product->getMedia();`  will execute this sql query

`select * from 'media' where 'media'.'model_id' in (1) and 'media'.'model_type' = 'App\Models\Product'`

This part of the query  `... media.model_type = 'App\Models\Product'` is missunderstood by a 5.7.33 version MySql.

I guess mysql is escaping the backslashes so it's trying to get records like this string **'App Models Pr

[2022-09-21 12:42] alexgomez88 opened #3038 "Images doesn't seam to be uploaded to Google Storage Cloud"
On the company we have a site that works with Google Storage Cloud, we tested on or Local using minio and everything works great but on production, images do not seam to be uploaded. We test with Laravel FilesystemManager directly (Storage::put, Storage::delete etc) and it works perfectly, but using Media Library it doesn't throw any error.

The project is based on:
        "laravel/framework": "^

[2022-09-22 13:39] PaolaRuby commented on #3038
Only Laravel Medialibrary 10.x is supported

[2022-09-25 17:40] MooseSaeed commented on #2767
@ultrasibz @marcelo-kazalukian @s00ar  When running composer update after changing it to 10.2.* composer started to remove many things. Is it safe to continue with the package this way?

![Image description](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/iz0wx0k3izyz6uhaff2u.png)

[2022-09-27 10:01] #2936 closed

[2022-09-27 11:57] ramonfeleus commented on #2891
Any update on this issue?

[2022-09-27 12:56] ramonfeleus commented on #2891
Thanks to @notnek in #3013 I found what the upload issue was in my case.
Like suggested in #3013 I added `'throw' => true,` to my s3 disk config in `config/filesystems.php`.
This changed the error for me to the following: "AWS HTTP error: cURL error 60: SSL: no alternative certificate subject name matches target host name 'xxx.s3.sirv.com'".
The s3 connector tried connecting to a sub-subdomain on

[2022-09-28 20:25] MooseSaeed commented on #1296
Same

[2022-09-29 03:42] PetroGromovo opened #3041 "Why spatie/laravel-medialibrary raise error on uploding image uploaded with faker-images?"
I added https://github.com/morawskim/faker-images to laravel 9 site and when I try get image from this lib
and to upload it with Medialibrary

    $faker = \Faker\Factory::create();

    $faker->addProvider(new \Mmo\Faker\PicsumProvider($faker));
    $faker->addProvider(new \Mmo\Faker\LoremSpaceProvider($faker));

     $pageUploadedImageFile= $faker->picsumUrl(400, 400);

    $imageMedia = $this->

[2022-09-29 04:22] PetroGromovo commented on #3041
I tried to debug source of the package and I found that error israised in
file src/Downloaders/DefaultDownloader.php:

    <?php

    namespace Spatie\MediaLibrary\Downloaders;

    use Spatie\MediaLibrary\MediaCollections\Exceptions\UnreachableUrl;

    class DefaultDownloader implements Downloader
    {
        public function getTempFile(string $url): string
        {
            \Log::info( '

[2022-09-29 15:29] MooseSaeed commented on #1481
I'm facing the same issue

[2022-09-30 08:25] modrink commented on #2929
I would love to have an example for this as as well

[2022-09-30 09:18] rcerljenko opened #3045 "Call to undefined method FFMpeg\\Media\\Audio::frame()"
Hi,

This error happens when trying to generate a thumb from uploaded video file:
[code]
And indeed even intelli complains:

https://ibb.co/613qgfK

[2022-09-30 09:24] rcerljenko commented on #3045
ok strange thing happened
`open()` method returns either Video or Audio object depending on the processed file.
now our frontend team uploaded audio only .mp4 file which has only audio track without video and this function then returns an Audio object BUT it still tries to generate a thumb from it

[2022-09-30 09:28] rcerljenko commented on #3045
i'll provide a PR for that

[2022-09-30 16:57] #3045 closed

[2022-10-03 07:47] 4n70w4 opened #3048 "getFirstMediaUrl return link to deleted file"
Hi!

[code]

upload file:

[code]

delete file:

[code]

`getFirstMediaUrl` return link to deleted file.

[code]

[2022-10-03 13:42] #3048 closed, assigned to nobody

[2022-10-03 15:12] artur33s commented on #831
I have the same problem

[code]

[2022-10-06 19:43] ljanecek opened #3050 "Duplicating PerformConversionsJob in Redis queue S3/DO"
For some mysterious reason, there are duplicate jobs for the same object, identical configuration of conversions, in the queue.

Their number is not uniform for all objects.

It looks to me like it is checking if the image is generated and saved. Since it is stored in the cloud, they are not available for a while and in the meantime another job is created for the same image.

Until they are availa

[2022-10-07 10:01] #2942 closed

[2022-10-07 21:02] #3050 closed, assigned to nobody

[2022-10-09 09:54] hassamulhaq commented on #1112
Just change media migration.

[code]

it will auto set model_id to uuid

[2022-10-10 15:36] kskrlinnorth2 commented on #2729
I am getting same error when trying to get media via accessor.

[code]

[2022-10-11 10:01] #2909 closed

[2022-10-11 13:40] ignacio-dev opened #3054 "Image conversions have terribly low quality."
Image conversions loose so much quality.
Particularly, images containing text, they look very pixelated.

Is there anyway to fix this?

I have set up the conversions on my model like so:

[code]

[2022-10-11 13:41] #3054 closed, assigned to nobody

[2022-10-13 20:17] flamreal commented on #3016
Guys! fix this please...

The issue summery is:
- MedialibraryPRO store temp file to **storage/disk_name/uuid_number/** after first upload
- Then, when **$model->syncFromMediaLibraryRequest($media)** starts, ibrary try to find this file in  temp directory! not in the configured disk.

It is paid extension. Where is your support?
I think it is simply for you to fix this. Howewer, more then two mont

[2022-10-15 18:33] SyedGhazanfar commented on #1616
I have solve this by add "public" value in conversion_disk column in media table

[2022-10-17 03:11] flamreal commented on #2891
I found that this shitty paths generates here:
**_Spatie\MediaLibraryPro\Support\TemporaryUploadPathGenerator_**
and it is  **_md5($media->id . $media->uuid . 'original')_**

But when I try to attach media
 **_$model->syncFromMediaLibraryRequest($request->media)->toMediaCollection('default');_**
it  leads to an error **file not found**

Because this shitty paths are not used, and library try to fi

[2022-10-17 06:45] gingebaker commented on #2891
Hello @flamreal
I had also problems with the Spatie\MediaLibraryPro\Support\TemporaryUploadPathGenerator
In my case weird files and folders showed up. I found a way to get rid of them by overwriting the TemporaryUploadPathGenerator.
See: https://github.com/spatie/laravel-medialibrary-pro/issues/460#issuecomment-1205325012

[2022-10-17 11:47] flamreal commented on #2891
@gingebaker Thanks for replying!
(I have a licence, but I couldn't see links to the Pro repo untill I linked spatie acc to github acc =\
It could safe a lot of time for me...)

I try to override this temporary path generator like as you and it helps to return normal folder naming, but
it doesn't help  to solve **file not found** error while attaching.
**fopen(/../storage/media-library/temp/5CrFWXs

[2022-10-18 02:45] ams-ryanolson opened #3063 "Video Thumbnails are not being generated"
OK, so Lets start with code

App\Models\User
[code]
media-library.php
[code]
Test Route
[code]
StoryController.php (snip)
[code]
When the video is uploaded, it is added to the library successfully. The issue is no thumbnail is being generated based on the model information. When I use the test route, it does generate the thumbnail successfully. I am not sure what I am missing but after 8 hours I a

[2022-10-18 10:01] #2953 closed

[2022-10-18 19:24] mertasan commented on #3063
Can you add an example of the code where you use the model information?

I tried your codes and it works. Maybe I can help. But I need more examples.

[2022-10-19 03:50] ams-ryanolson commented on #3063
@mertasan I am not sure what other code you would need. I can tell you that all the code is basically there... If you can give me more specifics I can post whatever you want.

What I can tell you is that photos works, I can tell you the video uploads. I can tell you the manual route works fully but using the registermediaconversion does not work

[2022-10-19 08:04] akhzarjaved commented on #1613
Facing same issue. Using version **10.3.4**
well i have used `addMediaFromRequest('file-name')` and it seems to be working fine.

[2022-10-20 15:35] flamreal commented on #2891
@freekmurze

I installed fresh clear demo app and confirm this issue. Demo app save this hashed "temporary" directories in public disk,
and corruptes when try to manipulate images on _http://mlibdemo.test/blade/collection_  page

Pay attantion to fix this wonderfull "must have" library, please

_php - 8.0.24
laravel - 9.36.3
medialibrary - 10.5.2
medialibrary-pro - dev-main_

[2022-10-21 07:07] gingebaker commented on #2891
I also can confirm the issue with the hashed folder names in the demo app running on wsl2 windows AND on an debian linux server. see my comment from 28th of july.
https://github.com/spatie/laravel-medialibrary/issues/2891#issuecomment-1197760014
The workaround here:
https://github.com/spatie/laravel-medialibrary-pro/issues/460#issuecomment-1205325012
seems to fix the problem with the hashed folder

[2022-10-23 03:33] krutsednar opened #3069 "Method Spatie\MediaLibrary\MediaCollections\Models\Collections\MediaCollection::setCustomProperty does not exist."
### Discussed in https://github.com/spatie/laravel-medialibrary/discussions/3068

<div type='discussions-op-text'>

<sup>Originally posted by **krutsednar** October 23, 2022</sup>
[code]

I'm trying to create a subfolder in my zip but it throws an error
**Method Spatie\MediaLibrary\MediaCollections\Models\Collections\MediaCollection::setCustomProperty does not exist.**
</div>

[2022-10-23 08:50] freekmurze commented on #3069
Duplicate of discussion

[2022-10-23 08:51] #3069 closed

[2022-10-25 17:46] ams-ryanolson commented on #3063
Poke? Anyone have any further help on this?
\

[2022-10-25 18:04] mertasan commented on #3063
The conversions are queued. Are you using this command? (I'm asking to be sure.)

[code]

[2022-10-25 22:05] ams-ryanolson commented on #3063
I thought that but I also have ->nonQueued(); set so that should not be it... but testing now just to be sure

[2022-10-25 22:06] ams-ryanolson commented on #3063
Same thing - does not create any conversions.

[2022-10-25 22:09] ams-ryanolson commented on #3063
user model:
`public function registerAllMediaConversions(): void
    {
        $this
            ->addMediaConversion('video_thumb')
            ->extractVideoFrameAtSecond(2)
            ->performOnCollections('stories')
            ->nonQueued();

        $this
            ->addMediaConversion('preview')
            ->nonQueued();

        $this
            ->addMediaConversion('thumb_square')

[2022-10-26 06:43] Gdoli74 opened #3071 "Undefined type"
Hello,

I have installed Laravel media library. Everything works perfectly: I have been able to upload pictures, convert them and store them.

Nevertheless, in my model, three problems "undefined type" are highlighted as you can see in the printscreen. This is weird given that everything works fine and I have follewedd the installation guidelines from Spatie documentation.

Could you please help m

[2022-10-26 12:54] cristian-araujo commented on #2223
it need to be in the documentation, it's very important I lost many files for this behaviour

[2022-10-27 11:18] CNSam opened #3073 "Change Temporary Preview Size Dependent On Model"
Hi folks,

Im not sure if I've missed something in the docs or miss-read the instructions.

Ultimately what im trying to achieve is a different temporary preview url dependent on the model that it will eventually be assigned to...is this possible?

For example if I have a Banners module I might want the preview image to be 700x42px whereas a profile upload might only need to show a preview of 60x6

[2022-10-27 17:45] ams-ryanolson commented on #3063
Bump

[2022-10-27 22:10] mburkeSencon commented on #3024
I disagree with it being an issue of the database adapter. If it was an issue I would expect other packages that require use of the database to be falling down with this issue. I've not had that happen, the issue has been specific to this package and how it handles multiple databases.

I had to move on from it in the end anyway, as my boss wasn't particularly impressed with the lack of progress of

[2022-10-30 11:15] StanBarrows opened #3076 "MinItems validation fails on testsuite on the Blade component"
I want to test the multiple attachments Blade Component. But within my Testsuite, I cannot fake a file upload when the Blade Component is set to "multiple".

**Test**
[code]

**Error**
[code]

**Form Request**
[code]

Blade
[code]

[2022-10-30 14:06] StanBarrows commented on #3076
Argh, forgot to close the route braces.

 $response = $this->patch(route('app.configurator.complete.store'), [
        'attachments' => [
            UploadedFile::fake()->image('test.jpg'),
        ]
    ]);

[2022-10-30 14:06] #3076 closed

[2022-11-01 14:46] ariaieboy opened #3077 "SQL error on long file names"
I have a file with a long name and when I want to upload this file using this library it throws SQL error that the value is too large for this column :
[code]
default file name generator must generate a name with a maximum of 125 characters length

[2022-11-02 14:43] erikn69 commented on #3077
Change that on migration as you need

[2022-11-02 14:47] ariaieboy commented on #3077
what if someone else uploads a file with a bigger name?

[2022-11-02 15:11] erikn69 commented on #3077
https://github.com/spatie/laravel-medialibrary/blob/ff4a546bafc0ecb4c779055fa1e5850c3b8b2bfe/LICENSE.md?plain=1#L15-L16

[2022-11-02 15:13] erikn69 commented on #3077
If you look this package is not adding any limit, your implementation has the limit

[2022-11-04 07:51] veneliniliev opened #3081 "WebP responsive images"
when a **webp** image is added no **wepb** responsive images are generated for `media_library_original`

the problem may be here:
`if ($this->generateResponsiveImages && (new ImageGenerator())->canConvert($media)) {`

`use Spatie\MediaLibrary\Conversions\ImageGenerators\Image as ImageGenerator;`
**ImageGenerator** instance always is an `Image` conversion and returns `false` for **webp** images

is

[2022-11-07 18:09] jozeflambrecht opened #3084 "Unable to generate image (of video) when using s3 as media disk"
When I use the[ image generator](https://spatie.be/docs/laravel-medialibrary/v10/converting-other-file-types/using-image-generators#content-video) and MEDIA_DISK=s3, I got the following error:

`ffmpeg exception runtimeexception unable to probe`
My code:
[code]
It does work perfectly when using the local filesystem (MEDIA_DISK=local). I thought the uploaded video is stored stored locally (in a tem

[2022-11-07 18:19] jozeflambrecht commented on #3084
Was a permission issue with S3.

[2022-11-07 18:19] #3084 closed

[2022-11-08 10:29] skulllair opened #3086 "Regenerating responsive images"
I'm trying to regenerate responsive images but i'm encountering the following problem:

It seems that the regenerate command only regenerates responsive images that already contain responsive images.
This means my old images don't get the responsive variants and based on the documentation of regeneration I would expect this to work.

When you dive into the code there is a simple check that prevent

[2022-11-09 07:23] freekmurze commented on #3086
I think it is intended because we don't assume the original would ever change.

[2022-11-09 07:23] #3086 closed

[2022-11-09 11:09] SlyDave opened #3090 "MediaObserver updating fails if media file_name changes but path doesn't"
As noted in the discussion https://github.com/spatie/laravel-medialibrary/discussions/3089 , if you set `moves_media_on_update` to true, and then update a media's file_name, but its generated path doesn't change the `MediaObserver` exceptions with:

[code]
on line 29 of the MediaObserver
[code]
This shouldn't be erroring out because a sync method shouldn't complain it can't move a file that doesn'

[2022-11-09 11:11] freekmurze commented on #3090
I'd accept a PR that fixes this.

[2022-11-09 11:14] SlyDave commented on #3090
Interestingly inside syncMediaPath, there _is_ an attempt to check `if ($oldMedia->getPath() === $media->getPath())` but that's not working as intended, I'll see what I can do.

[2022-11-09 13:01] SlyDave commented on #3090
As a test, I set `moves_media_on_update` to `false` which will prevent `syncMediaPath()` from running but will still allow `syncFileNames()` to run, and that works?!

The move command produced by `syncMediaPath()`:
[code]

The move command produced by `syncFileNames()`:
[code]
(You'll note there is also a bug here, where an extra `/` is being added to the path because of how the `syncFileNames()`

[2022-11-09 14:48] SlyDave commented on #3090
I think I've found the issue.

The test to see if the file should be moved between folders is done via `$oldMedia->getPath() === $media->getPath()` but `getPath()` also includes the filename because it's badly named in the SPL spec.

The actual move is done via `$factory->getPath($oldMedia)` and `$factory->getPath($media)`; these functions return only the Path not the filename.

As such, the test

[2022-11-09 19:50] yoniyou-1 commented on #1460
Hola, tenia problemas con el PDF para esta Librería.
Prueben colocar esto en su formulario de creación:

`<div class="form-group">
    <label for="file" class="col-lg-3 control-label">Subir  Archivo(s)</label>
    <div class="col-lg" >
        <input type="file" name="file_up[]" id="file" data-initial-preview="{{isset($data->file) ? Storage::url("archivos/caratulas/$data->file") : "http://www.plac

[2022-11-09 20:19] yoniyou-1 commented on #1460
Espero que les funcione, lo que para mi funciono.

Me funciono esto en el formulario de creación. trabaje con laravel y su motor de plantillas blade.
[code]

Me funciono esto en el formulario de Edición.

[code]

para el caso de edición he tenido que agregar JS en el mismo formulario por alguna razón no funcionaba simplemente anclar un archivo js con las funciones que cree.

acá podrá ver ejemplos

[2022-11-09 20:34] #3090 closed

[2022-11-09 20:36] freekmurze commented on #3090
Thanks!

[2022-11-12 06:39] xfkrahmad commented on #1185
sorry guys. if i using laravel 9, will it work?

[2022-11-12 22:43] uyab commented on #1185
@xfkrahmad you should ask that to https://github.com/enl/flysystem-cloudinary

[2022-11-14 07:55] vanthuonghcmue commented on #1312
Thanks, it worked for me <3

[2022-11-14 22:48] kablin commented on #243
I try it, but got an error

Integrity constraint violation: 1062 Duplicate entry '.......' for key 'media_uuid_unique'

[2022-11-17 09:43] SlyDave commented on #1823
If you don't know the file extension when it's being uploaded, `usingName` and `usingFileName` wont help you.

In those cases, you can, use the following line to get the $ext after the file has been created as media, you can then use that to rename the media:

`$ext = MimeTypes::getDefault()->getExtensions($this->mime_type)[0] ?? null;`

e.g.:
[code]

[2022-11-21 13:19] patinthehat commented on #3036
@michele-grifa Could you please provide example code of when it works as expected?

[2022-11-21 13:52] #3036 closed

[2022-11-21 14:34] patinthehat commented on #2997
@yemnaosman As you mentioned that this only occurs with some files and not others, can you provide a bit more detail as to what commonalities exist between the problem files? Can you provide several sample files as well as example code that demonstrates this issue?

[2022-11-21 14:56] patinthehat commented on #3077
@ariaieboy I believe this can be resolved by customizing the migration for your particular use case, and don't feel that this is a bug in the code itself. Feel free to open a new issue with sample tests that demonstrate a bug if you feel that this is in error. Thanks!

[2022-11-21 14:56] #3077 closed

[2022-11-21 14:57] patinthehat commented on #3038
@alexgomez88 Can you provide some sample code to demonstrate that this is in fact a bug within the package itself? Thanks!

[2022-11-21 20:13] ignacio-dev opened #3103 "CustomPathGenerator $media relationships don't eager load"
When creating a CustomPathGenerator, and getting paths like so:
[code]

I end up with too many queries.

If I try to eager load that by using ```MyModel::with('media.model')``` I get:

[code]

[2022-11-22 02:05] patinthehat commented on #3103
@ignacio-dev Could you provide some more context/sample code and possibly a failing unit test that demonstrates the issue? Thanks!

[2022-11-22 12:51] patinthehat commented on #2996
@reasecret Just following up on this issue - have you resolved it, or is it still ongoing? If so, would it be possible for you to provide a sample project that demonstrates the issue described? Thanks!

[2022-11-22 12:54] patinthehat commented on #3063
@ams-ryanolson Following up on this - would it be possible for you to provide a sample project/repo that demonstrates the issue occurring to allow me to determine what's happening here? Thanks!

[2022-11-22 12:56] patinthehat commented on #3081
@veneliniliev Would it be possible to provide a failing unit test to show that this is in fact a bug, or possibly a sample project/repository that demonstrates the issue described? Thanks!

[2022-11-22 13:31] ams-ryanolson commented on #3063
Unfortunately I chose to remove Media Library from my project as a number of people on discord and other platforms stated this was a known issue and support was lacking. I even purchased a pro license and still no support was given.

[2022-11-22 19:41] erikn69 commented on #3103
of course you do, you are seraching on db model relation each time that you call `getPath`
try to use static methods and that method doesn't call to db

[2022-11-23 09:02] jamesh-purr opened #3107 "Single File is storing more than one file"
Hello,

There appears to be an issue with singe file storage functionality.

[code]
a simple collection like this and using this to store the file which again is simple and from the documentation

`$campaign->addMedia(storage_path('app/tmp/myfile.json'))->toMediaCollection('video-json');`
 `$campaign->addMedia(storage_path('app/tmp/preview.mp4'))->toMediaCollection('video-preview');`

The result i

[2022-11-23 15:59] jamesh-purr commented on #3107
Ignore this. I am an idiot... I was using the wrong method for the collection..

[2022-11-23 15:59] #3107 closed

[2022-11-24 23:05] reasecret commented on #2996
Sorry for delay. I've decided to use another package for this project. Nobody write anything almost since 4 months. Thanks for your interest anyway.

[2022-11-24 23:05] #2996 closed

[2022-11-25 09:22] boboldehampsink opened #3110 "Moving media with GCS disk results in zero-byte files"
Hi,

When moving media with media-library and gcs adapter, the moved files are zero-bytes.

[2022-11-27 08:37] patinthehat commented on #3110
Hi @boboldehampsink, can you provide sample code that demonstrates that this is a bug within the library itself? Thanks!

[2022-11-30 11:16] bistory opened #3113 "No difference between getFullUrl() and getUrl() in v10 with default configuration"
Hi,
I just installed this library to test it in my workflow. It works great but when I try to get the relative URL with getUrl(), without the domain name, it returns the full URL like if I called getFullUrl().

I use the default config (not overwritten) and I just call `$ad->getFirstMedia()->getUrl()` in a template.

Please ask if you need more information !
Thanks !

[2022-11-30 14:49] magarrent commented on #1233
Hey! Has anyone dug into this? I'm trying different ways to convert the image but always throws the same error