[2019-02-21 13:15] refucktor commented on #1371
Please merge this [PR](https://github.com/spatie/laravel-medialibrary/pull/1372) ASAP!! The changes introduced in _**7.5.5**_ are breaking the conversions for videos. Kindly ask the collaborators to take action ASAP. I already checked the changes from the proposed PR and they fix the problems. Thanks @acodeninja

[2019-02-21 13:19] acodeninja commented on #1371
In our environment I've added the following step to our deployment script while I've been waiting for this to be merged:

[code]

Might help you and yours with your deployments in the meantime 👍

[2019-02-21 15:55] refucktor commented on #1371
Thanks @acodeninja it's a nice solution, I will share mine as well:
1. Create a new **class** extending the original one and apply the changes that @acodeninja already propose on his PR

[code]

2.  Then you can update the configuration file of the medialibrary and set your new generator

[code]
Enjoy! :+1:

[2019-02-22 05:42] robbens commented on #890
Kinda unrelated question. But are the generated responsive images compressed through the various optimization tools? If not; What's a good way to do this?

[2019-02-22 07:17] brendt commented on #890
They should be optimised, which was the "fix" for this issue: https://github.com/spatie/laravel-medialibrary/commit/d96ce0e22db7069abf335424be65ed0232c0d135

[2019-02-23 18:05] aapnatech opened #1396 "Media Conversion Error"
Socket error 10060: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.
↵ (connecting to localhost:11300)

**i am getting above erroe when i am try to impliment media conversion.**

[2019-02-24 20:04] #1394 closed

[2019-02-25 22:16] adiachenko commented on #892
@corbin88 Yeah, the Section is just a generic model to showcase how you would use the trait. Though the given example is very basic.

There is more to be done to really shoehorn this lib into JSON API context. For example, by default the lib doesn't scope returned conversions. Say, by convention, you have all image collections in your API called _images_ (product.images, category.images etc.). Whe

[2019-02-26 02:32] Shobuj718 commented on #1097
The problem may be solved,
before you can  use storage in public folder change APP_URL in  .env and config/App.php
http://localhost change to
http://localhost/project/public
and run this may be ok.

[2019-02-26 02:32] Shobuj718 commented on #1097
The problem may be solved,
before you can  use storage in public folder change APP_URL in  .env and config/App.php
http://localhost change to
http://localhost/project/public
and run this may be ok.

[2019-02-26 21:37] jonrobinson opened #1397 "Alternate Primary Key"
Issue: If you specify an alternate primary key name (e.g., `uuid`) then deleting fails.

Solution: use the `->getKeyName()` to get the key name and `->getKey()` to get the value.

[2019-02-26 21:42] jhm-ciberman opened #1398 "Laravel 5.8 support"
Hello. I was installing https://github.com/vanilophp/framework that requires Laravel medialibrary and it seems that `spatie/laravel-medialibrary` does not support Laravel 5.8.

Can you please update your composer.json?

I'm in hurry since I need to start a project for a client this week.

[2019-02-27 15:07] webfactorybulgaria opened #1401 "[question] Trigger conversions after collection_name is changed?"
Hi there, maybe I am going all wrong about this but I want to change the collection for a given media and I do it by simply changing the `$media->collection_name = 'images'`. I also have defined some conversions for that collection. Those conversions work just fine when adding media directly to the `images` collection but not when the collection name of a media is updated. Maybe there is a method

[2019-02-28 01:15] tylerwiegand commented on #757
@jerauf and whoever else runs into this issue, I had it recently. Memory limits can be increased, but imo the proper way to handle this issue is actually to not use the "sync" queue driver in your .env file. Install a queue manager, like Redis
[code]
Then just have a queue working running, or run one on demand
[code]

Cheers!

[2019-03-01 12:01] krns commented on #1317
We also face this issue.. using spatie/laravel-medialibrary 7.5.5

[2019-03-01 18:07] krns commented on #1062
We also have the same problem. We are developing inside a docker container.

Do you have some ideas what system settings could cause this problem @freekmurze?

[2019-03-04 12:17] divdax opened #1403 "Clean up conversions"
Let's say i've defined two conversions, uploaded many files with this two conversions and after that i remove one conversion. To also clean up the storage it would be handy if we can delete undefined conversions with a new option for `medialibrary:clean --delete-undefined`.

What do you think? Is a PR welcome for this feature?

[2019-03-05 13:07] MoinGandhi opened #1404 "Media Regenerate command not working on ubuntu server"
I want to generate conversation for an uploaded image. So, I have written below code.

`<?php

namespace App\Console\Commands;

use Illuminate\Console\Command;
use Illuminate\Support\Facades\Artisan;

class TestCommand extends Command
{
    /**
     * The name and signature of the console command.
     *
     * @var string
     */
    protected $signature = 'test:command';

    /**
     * The cons

[2019-03-05 14:26] delenamalan commented on #1404
Try adding `'--force' => true` to the array of arguments.  I.e. make it
[code]

[2019-03-05 15:33] metalcamp commented on #1363
Have you looked at https://github.com/spatie/laravel-medialibrary/issues/1299?

[2019-03-06 05:27] MoinGandhi commented on #1404
Hello, @delenamalan, Thanks for the reply but force argument not working it says

![screen shot 2019-03-06 at 10 50 38 am](https://user-images.githubusercontent.com/34887731/53858074-a391df80-3ffe-11e9-9ad7-739865e13da8.png)

[2019-03-06 05:58] MoinGandhi commented on #1404
Hello @delenamalan, Now, it works. Thank you so much for your valuable reply. It works with --force => true

[2019-03-06 05:58] #1404 closed

[2019-03-06 08:06] delenamalan commented on #1404
Cool, glad I could help :smile:

[2019-03-06 14:28] divdax opened #1405 "[Question] How queued conversions are handled?"
Hey,

i've a simple question: How this package handles queued conversions when using one or more external queue worker servers? Files are uploaded to/thru the main web-server, but can every external queue worker server access the original image to generate the conversions?

How this scenario works behind the scenes?

[2019-03-11 15:51] kamalkhan commented on #1047
You may simply add a custom relationship method to your model that you can use to eager load all media collections or even a specific media collection.

[code]

Now, to eager load, you have the following abilities:

- `\App\Listing::with('attachments')->get()`
- `$listing->load('attachments')`

[2019-03-11 19:37] Akhibemudu commented on #1203
Am having a similar issue, I have tried debugging it for 2 days now but dont seems to hv any progress, Please here is my code, for the custompathgenerator
`<?php
/**
 * Created by PhpStorm.
 * User: DELL
 * Date: 10/24/2018
 * Time: 11:51 AM
 */
namespace App\Helper;

namespace Spatie\MediaLibrary\Tests\Unit\PathGenerator;
use Spatie\MediaLibrary\Models\Media;
use Spatie\MediaLibrary\PathGenerator

[2019-03-12 02:23] Akhibemudu commented on #1219
@adriandmitroca  Please is there a way I can upload new image[s] to an existing model? In my situation, I created a Property form that accepts multiple property images which works well, but the problem is when trying to update that Property Model to accepts more image whenever the user clicks on update form, I get the same error as above.
Here is it for update function.
` foreach ($request->file('

[2019-03-12 02:36] Akhibemudu commented on #609
@unstoppablecarl  @canvural Please is there a way I can upload new image[s] to an existing model? In my situation, I created a Property form that accepts multiple property images which work well, but the problem is when trying to update that Property Model to accepts more image whenever the user clicks on update form, I get the same error as above.
Here is it for update function.
`  foreach ($requ

[2019-03-12 10:26] MannikJ commented on #762
No this does not work if I get you correct. Obviously one media record can only reference one file out of the box.
But what you could possibly do is to add the HasMedia trait to a custom Media model so you can assign media to media like you assign media to users.

[2019-03-12 12:54] mateo2181 commented on #1312
Any solution for this? I have the same problem. I am saving my images in public disk and I have run php artisan storage:link.
Code:
`$p = Paciente::find(1); `
`$mediaItems = $p->getMedia(); `
`$publicUrl = $mediaItems[0]->getUrl(); `
`echo "<img src='" . $publicUrl . "' \>";`

[2019-03-12 13:20] unstoppablecarl commented on #609
There is not a reasonable way to do it with this package. You have to delete and create.

[2019-03-14 14:52] adick commented on #949
@meletisf can confirm this. My models reside in App\Models, a simple getMedia() on my models returns an empty collection, whereas getMedia('collection_name') works.

[2019-03-15 00:56] Akhibemudu commented on #1376
@lorisleiva seems ur use case solved my current need. Here is my scenario; I created a Property form that accepts multiple property images which work well, but the problem is when trying to update that Property Model to accepts more image whenever the user clicks on update form,  Nothing happens, the only solvable scenario am left with, is to delete the existing media before adding new media. Whic

[2019-03-15 01:01] Akhibemudu commented on #1376
**Here is my UpdatePropertyForm**
`   foreach ($request->file('property_photos', []) as $key => $file) {
            $property->media->each->delete();
            $property->addMedia($file)
                ->preservingOriginal()
                ->toMediaCollection('property_image');
        }
`
For this, I want to add more images to the existing image in the Property Model without having to delete

[2019-03-15 10:21] lorisleiva commented on #1376
Hi there. It's a bit subjective because I have a `Media` resource class that defines how I want to provide the media to my frontend but here it is:

[code]

I hope this helps. 🍀

[2019-03-16 09:17] Akhibemudu commented on #1376
Please @lorisleiva  are u using a custom Media Class with this trait?

[2019-03-16 09:24] estaticfear commented on #1000
i'm having the same problem :(

[2019-03-16 15:52] mdeprezzo opened #1407 "Add multiple media from request doesn't works with Lumen 5.7"
Good afternoon,
i'm facing a problem with lumen and the method "addMultipleMediaFromRequest".

The point is, if i use this method i get this message:

[code]

instead the method "addMediaFromRequest" works fine. I've added all configuration for lumen, but someone can tell me if i'm missing something ?

I'm using the 7.0.0 version, and i've an array of files

[2019-03-16 21:01] Akhibemudu commented on #762
@MannikJ  well after updating media-library to 7.6.0, I was able to add more media to existing media without having to delete the existing media.

[2019-03-16 23:55] Akhibemudu commented on #112
@sebastiandedeyne Please what if I intend to get a collection of media instead of Url
I used ur example to get this output
`  {"126":"\/storage\/Property\/73\/conversions\/a-thumbnail.jpg"
,"127":"\/storage\/Property\/73\/conversions\/b-thumbnail.jpg"}
`This output is looping through my conversion 'thumbnail' but my intend is to loop through 'product_image' collection
And secondly, please I want t

[2019-03-17 02:21] Akhibemudu commented on #749
@cyberfly for example, I have 4 images and each image has a remove/delete button nd when u click on the delete button it should remove just that image and its related conversion both from db and from the directory. Your solution alongside others would remove the image from db however, it would also delete all images in the folder.
so my question is - is there a way to remove each image using media

[2019-03-19 11:26] atapatel opened #1408 "Querstion : Generate Thumbnail for existing Spatie Media."
Hello,
i have add new media converstions for my model. How can i regenerate new converstion for old record?

[2019-03-19 20:11] simonbowen commented on #1062
I'm also getting this issue on a standard ubuntu 18.04 server. Any one got any pointers?

[2019-03-20 11:51] Mina-R-Meshriky commented on #1227
any updates!
I can see that spatie/image is adding support for webP on 1.7.0 in the Changelog. However the Latest Version on Packagist is 1.6.0

[2019-03-20 12:49] freekmurze commented on #1227
@Mina-R-Meshriky whoops, missed that. Just created a release for 1.7.0

[2019-03-20 13:43] rameezte opened #1409 "Laravel - Publish Vendor Class Spatie\MediaLibrary\Models\Media in Spatie to configure it with MongoDB"
here i have a Media class at Spatie\MediaLibrary\Models\Media path. it was creating PDO issues with this code.

`class Media extends Model implements Responsable, Htmlable
`so i tried this in there and it worked for the cause.

[code]

now its fine as long its working but what about updating composer will remove everything i guess and PDO problem will appear again. so how can i publish it out ther

[2019-03-20 19:49] yashdhol commented on #563
![image](https://user-images.githubusercontent.com/29609639/54714594-4efe7080-4b77-11e9-844b-57c0df0d8f96.png)

Thanks :)

[2019-03-22 02:58] winter-ice opened #1410 "Any news about the branch temporary-uploads?"
This feature is really useful for me.I found a issue #1345 about this feature.And I am glad that you have plan to achieve this feature.

[2019-03-22 10:13] Chema-TM opened #1411 "Problem with valid extensions array at Conversion class"
At _Spatie\MediaLibrary\Conversion_ in the **getResultExtension** method there is a comparison when you have `keepOriginalImageFormat = true` to get the `originalFileExtension`.

The problem is that some software saves the images with `.jpeg` extension which is not in the valid array `['jpg', 'pjpg', 'png', 'gif']`. The result is that the thumb conversion (for example) isn't with the original exte

[2019-03-22 13:39] latifasaee commented on #1398
Hello. Which version of spatie supports Laravel 5.8? I am getting this error after updating to L5.8

$ composer update
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install laravel/framework v5.8.7
    - Conclusion: don't install lar

[2019-03-26 06:33] Aryan1 commented on #1408
You should always go through the documentation first, Your problem already has a solution here [https://docs.spatie.be/laravel-medialibrary/v7/converting-images/regenerating-images#regenerating-images](https://docs.spatie.be/laravel-medialibrary/v7/converting-images/regenerating-images#regenerating-images).

[2019-03-26 09:23] atapatel commented on #1408
@Aryan1 i have gone through docuements but above mentioned command is not working for me.
p.s - it is not genertating images as well not saving in custom_properties.

[2019-03-26 09:26] atapatel commented on #1408
@Aryan1 Got it. My bad, got the solutions. it was in redis job.

[2019-03-26 09:26] #1408 closed

[2019-03-27 16:54] mknparreira commented on #1269
This is worked for me. Thanks!!!!

[2019-03-27 19:33] yashdhol commented on #1396
also i am getting this error is there any solution?

[2019-03-28 12:59] PepijnDeWachter commented on #1409
https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-your-own-model
this should help :)

[2019-03-31 21:38] asbpette commented on #1371
On my dev computer it works, but after uploading to the production server (centos 7) i get this error **Call to undefined method FFMpeg\FFMpeg::getDuration()**

I tried these steps, but this class **App\Media\CustomVideoGenerator::class** is never called. I tried dd('test'); inside the convert() method.

 I am probably overlooking something, does anyone have an idea?

[2019-04-01 02:48] Akhibemudu commented on #163
@webcrazy ur answer still delete all media (images) of Article using the deleteMedia($media_id), Is there a way to delete each image of Article without deleting all images of Article.
Am using v7 laravel 5.8

[2019-04-01 15:58] mannanzinat opened #1414 "Image not uploading and no row added in database"
here is the controller: http://prntscr.com/n5z3bu
Dump: http://prntscr.com/n5z3pe
Model: http://prntscr.com/n5z3y1

[2019-04-02 07:59] jannejava commented on #1414
Look over the paths for the uploaded file in your controller. Maybe try using addMediaFromRequest().

[2019-04-03 23:51] skalero01 commented on #812
I receive also the error on S3 with any image. Will check further to see why is happening

[2019-04-04 03:09] moebaca commented on #1312
@carbontwelve Thank you my friend! This did the trick.

[2019-04-05 06:27] schranzer235 commented on #1281
I can confirm this error "No query results for model error"

We have an API running with docker, .env set to the following:
`MEDIA_LIBRARY_IMAGE_DRIVER=imagick`
`QUEUE_CONNECTION=database`

On any model
[code]

And it throws that exception.

When we use `sync` as queue.driver, no errors!

To workaround that problem we followed your advice and extend job classes with custom ones:
[code]

Inside the

[2019-04-05 16:34] VicGUTT opened #1416 "Using Medialibrary with JSON fields (->toJsonField('avatar') 🤷‍♂️)"
_This is not much of an issue but more of a question/feature request on which I would gladly participate._

I think having the possibility of storing resulting conversions into a JSON field instead of/alongside with a different table would be great. This would grant more flexibility to the package and allow developers to cover more use cases.

***Here's my simplified use case.***

A user can have

[2019-04-06 15:19] matthewsuan opened #1417 "SVG not generating image conversions"
I have Imagick installed on Forge with PHP7.2

Also, I use `'image_driver' => 'imagick'`

Here is my image conversion registration.

[code]

Now, when calling `$model->getFirstMediaUrl('featured', 'thumb')` on an svg uploaded file, it returns a url to its `png|jpg` converted file but its 404. Upon checking, the converted file is not on the server.

I may have missed something?

Ty

[2019-04-06 20:43] skalero01 commented on #812
Hi, i was testing for a whole day and apparently this error happens only when the filesystem is set with S3, i tried with the "media" filesystem (as you can see on the readme of laravel-medialibrary) and there all worked perfectly.

So i still dont understand why the error happens but the solution i did was to work with the media filesystem and run a command that moves all the files from media to

[2019-04-08 10:00] #1326 closed

[2019-04-10 17:49] intrepidws commented on #1392
@petrzavicak I'm having this same problem though a bit more simplistic. In my case, I'm simply using the package but have defined a custom model via the `media_model` config item. This results in no media being deleted from the actual disk. Did you come up with a solution?

[2019-04-11 01:00] manuesperon commented on #1252
Hello there,

This doesn't seem to fix the problem for me. Any ideas of how can I fix it?

Thanks

[2019-04-11 10:00] #1331 closed

[2019-04-13 06:31] ridislam commented on #227
@freekmurze how can I show these media in list view page?

[2019-04-14 07:40] yazan-alnugnugh opened #1422 "how i can get data from ajax request"
if i send user object from ajax request i can't fetch images please if you can put example about that

[2019-04-14 09:44] #1422 closed

[2019-04-14 19:37] kirkegaard opened #1423 "Add files directly to the media library without morph entity"
Is it possible to add files directly to the media library?

Say i wanna allow anonymous uploads to my media library, then i wont have a `User` for the morph rows. I havent been able to find a proper way of doing this so right now im keeping a separate model called something like `MediaEntities` but it seems like an extra step of what i really want.

[2019-04-16 15:43] eminos opened #1425 "(re)generate responsive images?"
I have a bunch of images added before adding the responsive images feature. Is there a way to generate responsive images for those?

Seems the `regenerate` command doesn't create the responsive images for the original file? (Only conversions?)

[2019-04-17 14:15] eamirgh opened #1426 "Pixel loss when uploading PNG image"
Im uploading a 550x1000 file but it reduces it to 550x999.
how can i fix it?

[2019-04-17 15:31] #1426 closed

[2019-04-18 13:41] bee-interactive opened #1428 "V7 - Can not convert image. Unknown operation `x`"
Hi!

Here's what I'm trying to achieve:

I have a dynamic drag&drop upload to create cropped thumbnails. The user can upload a picture, chose the cropped area and save his selection. Then, in the backend, I save the original picture with the medialibrary package. Easy step for now.

But, on the fly, I want to save his cropped version, attached with the original file entry.

I tried with this techn

[2019-04-19 10:20] tudorradubarbu commented on #1364
Same here (but did you tried a php artisan queue:work?)

[2019-04-19 10:33] tudorradubarbu commented on #1428
I had one of this too.
Actually '_thumbnail_' doesn't work.

Try this:

[code]

[2019-04-23 08:50] demeus opened #1429 "Delete single media"
Hi,
My Post can have multiple photos. I want to delete one media
i try
$media = Media::find($media_id)->delete();
and
$post->deleteMedia($media_id);

Is there a way to delete each specific image of Post without deleting all images in Post Model.

for example, I have 4 images and each image has a remove/delete button and when i click on the delete button it should remove just that image and its rel

[2019-04-23 16:43] pedrofurtado opened #1430 "Is there out-of-box support for Cloudinary for this library, as occurs with AWS S3 (integrated by default)?"
@freekmurze  :+1:

[2019-04-23 16:44] freekmurze commented on #1430
Nope

[2019-04-23 16:44] #1430 closed

[2019-04-25 16:30] kovalenko-anton opened #1431 "Laravel 5.8 media library v7 work only three Conversion when Queued ! NonQueued() work wine"
I tried to use queued conversion with 1, 2 and 3 conversions it works wine !!!
when I try to set 5 conversions like this

public function registerMediaConversions(Media $media = null)
    {
        $this->addMediaConversion('thumb')
            ->width(200)
            ->height(200);

        $this->addMediaConversion('thumb1')
            ->width(400)
            ->height(400);

        $this->ad

[2019-04-25 17:37] kovalenko-anton commented on #1431
https://github.com/spatie/laravel-medialibrary/issues/1333

if tried to restart ubuntu server, and now all work.
but after adding new conversion, I need to restart ubuntu. Restart apache has no effect.
Is there any other solution, besides rebooting ubuntu?

[2019-04-25 20:55] ctf0 commented on #92
@nguyentranchung after some work here is the work around
1. create new trait that inherit the original trait
2. in the new trait add
[code]
3. use the new method instead of `addMedia`

now you have the best of 2 worlds, the original which save he file as it was uploaded, and another to save it with hash name.

[2019-04-26 10:02] ultrono commented on #1431
I had conversions running via Horizon. I sometimes get the same error as yourself. Restarting my Horizon fixes it.

[2019-04-26 13:36] ultrono commented on #1385
Yep, I get this too when using Horizon and Laravel 5.8. The original image uploads fine, but my queued conversions fail with the exact message you mention. After restarting horizon everything works fine.

[2019-04-28 20:26] emprove commented on #1062
I'm faced with this issue inside docker. On locally all fine, but on prod no. I'm using the same php configs both for local/prod. It would be good to shed light on the problem.

[2019-04-29 06:47] demeus opened #1432 "extra DB queries"
Hello,
I love this package but I encounter a little performance problem.
Let's say we have a model "Post" and each post has one post image. Now I want to show a list of some posts.
`
            $posts = Post::latest()->with("media")->paginate(50);
`
blade

`
@foreach($posts as $post)
        <img src="{{ $post->getFirstMediaURL('default', 'thumb') }}" />
@endforeach
`

![2019-04-29 08 45 29 127 0

[2019-04-29 07:24] demeus commented on #1432
i find my bug
i use CustomPathGenerator
`
class CustomPathGenerator implements PathGenerator
{

    public function getPath(Media $media) : string
    {
        return sprintf("%s/%s/%s/",   $media->model->getTable(), $media->model_id, $media->id);
    }
`

and $media->model->getTable() make  amount  queries

[2019-04-29 10:00] #1299 closed

[2019-05-01 07:26] #1321 closed

[2019-05-01 17:07] Nevax07 commented on #1425
This issue seems to be at this line:
https://github.com/spatie/laravel-medialibrary/blob/089ee0784b9b539331048a5fa144d050e30711c1/src/FileManipulator.php#L104

I have a pretty **dirty** patch to make it just work, i will take a look later to refactor and for PR.

Add this code to this file.
https://github.com/spatie/laravel-medialibrary/blob/089ee0784b9b539331048a5fa144d050e30711c1/src/FileManipul

[2019-05-02 07:36] Epistol commented on #1365
Found something that could work in the src folder :

[code]

It should be added somewhere in the doc.

[2019-05-02 12:43] nickforbizz commented on #1253
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install beyondcode/laravel-websockets 1.1.1
    - Conclusion: remove guzzlehttp/psr7 1.4.2
    - Installation request for beyondcode/laravel-websockets ^1.1 -> satisfiable by beyondcode/laravel-websockets[1.1.0, 1.1.1].
    - Conclusion: don't install guzzlehttp/psr7 1.4.2
    - beyondco

[2019-05-02 15:51] michaelpapesch commented on #1371
this needs to get fixed... its already 3 month

[2019-05-03 22:20] flearsmedia commented on #1331
@mattogodoy were you able to solve this one?

[2019-05-04 10:07] elephantux opened #1433 "Storage path is not part of public path"
I have two projects (different frontend) which works on the same code base. For second project I create symlink to first project media folder but got an error: Storagepath `/var/www/domain.one/public/media` is not part of public path `/var/www/domain.two/public`.

How to solve this?

[2019-05-04 10:35] elephantux commented on #1433
Solved with 'url' => env('APP_URL').'/storage' in config.

https://github.com/spatie/laravel-medialibrary/issues/549#issuecomment-284697690

[2019-05-04 10:35] #1433 closed

[2019-05-06 06:11] steffex commented on #1414
Did you use multpart/form-data?

[2019-05-06 08:05] mattogodoy commented on #1331
I ended up moving to Amazon because Google gave me a lot of problems with this library.

[2019-05-06 10:00] #1353 closed

[2019-05-06 16:20] flearsmedia commented on #1331
@mattogodoy thank you for the response! I ended up doing the same for the mentioned reasons.

[2019-05-06 17:25] tillkruss opened #1434 "Support additional parameters with getTemporaryUrl()"
It would be great of `$media->getTemporaryUrl()` would support S3's `GetObject` parameters, such as `request-content-type`.

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectGET.html

That would allow forcing content types when using signed URLs:

[code]

Related: #930

[2019-05-06 17:44] tillkruss commented on #1434
Nevermind, this actually already works:

[code]

Might be worth documenting @freekmurze.

[2019-05-06 17:44] #1434 closed

[2019-05-06 17:45] tillkruss commented on #930
@timgavin: Yes there is

[code]

[2019-05-07 09:00] neuotq commented on #1429
This is not an issue. This is depends on what type of workflow u choose in ur app.
For a simple example , in form where user can choose wich img to delete u can add checkbox to each image
[code]
And on backend smthng like this:
[code]

[2019-05-07 16:39] simplenotezy commented on #1414
I experience the same issue:

    /**
     * Assign avatar
     */

      if ($request->get('avatar')) {
          $person->addMediaFromRequest('avatar')->toMediaCollection('avatars');
      }

I know for a fact that the line is being run, as before when I forgot to add the `multipart/form-data` I recived the error: `The current request does not have a file in a key named `avatar``. Now I have add

[2019-05-07 16:43] simplenotezy commented on #1414
I solved the issue changing ` if ($request->get('avatar')) {` to `if ($request->has('avatar')) {`. So I was a bit too fast, after changing form to multipart, `$request->get('avatar')` would not return true, however `$request->has('avatar')` does.

[2019-05-08 03:01] usernameunknown9999 opened #1435 "Question:does responsive images support storing on cloud storage?"
I managed to store original and converted image on cloud storage. When it comes to performing image conversions, it will store the temporary files on storage_path('medialibrary/temp') as I did not change the 'temporary_directory_path' in medialibrary.php. I receive an error saying 'driver [] is not supported.'

This is how my cloud storage looks like. There's converted image storing in conversions

[2019-05-08 10:00] #1354 closed

[2019-05-08 10:10] denitsa-cm commented on #1354
Is there a suggestion for clean implementation of the use case suggested in the issue?

[2019-05-09 10:40] CanardDrones opened #1436 "Using medialibrary with direct S3 uploaded files"
Hi! Thanks for the awesome library.

I have to upload ginormous video files (60GB or so) to an S3 server. Given the size of the files I want to avoid the double upload (user->laravel->S3) and I'd like the user to upload the files directly to Amazon (user->S3).

I have been working for a while in a way to upload the files directly from the browser and I finally have it working. Now the question is:

[2019-05-09 20:26] eminos opened #1437 "srcset isn't urlencoded? (spaces in file name issue)"
This is what getSrcset() and getUrl() outputs in srcset and src attributes respectively:

[code]

The main issue is that the URLs in srcset aren't "urlencoded" so spaces are not "%20", which breaks the HTML parsing. Compare to src which works as expected (space in file name becomes "%20").

Also the full URL, including the protocol and domain, are in the srcset, but not in the src. I'd expect it t

[2019-05-12 12:05] jlmmns opened #1438 "Add ability to specify a custom config file"
Hola!

I'm implementing this package in one of our own packages, and since we're dealing with our own package, I don't want to rely on the global `/config/medialibrary.php` config file. Using that config file can result in errors if the end project is already using the medialibrary package.

So it would be great if all config values were extracted to their own methods, for easier overwriting of on

[2019-05-12 21:34] jlmmns commented on #1438
#1439 I've created a pull request for this.

Any improvements I need to add?

[2019-05-13 10:02] #1355 closed

[2019-05-13 10:55] eminos commented on #1437
I have now confirmed my original issue only applies to old images, added to medialibrary many months ago. New image files being added get spaces in filenames replaced with dashes.
I'm thinking this was not the case in an older version of medialibrary that was used when these old images were uploaded to the system.

The question is, how would I solve this? Write a script to rename all medialibrary

[2019-05-13 13:06] lingotacro commented on #1376
in my cas i can not update medias but i  can wreat using `addMedias` method

[2019-05-13 15:58] lingotacro opened #1440 "update media"
hi guys . when i try to update every work but my image is'nt update

public function update(Request $request, Prestateur $prestateur)
    {
//        dd($request->all());
        $validator = Validator::make($request->all(),[
            'nom' => 'required',
            'type' => 'required',
        ]);
        if ($validator->fails()){
            return back()->with('error','Votre modification n

[2019-05-13 18:11] AlexanderDera commented on #1440
What works? Adding a new and deleting the old record in the database? delete and add new file in storage/app/public?

[2019-05-14 07:17] lingotacro commented on #1440
if I understand what you say I have to do a supression and at the same time make a new recording? if so how to delete too?

[2019-05-14 07:53] eliyas5044 opened #1441 "Media Conversion only work with queue connection "sync""
I have runnig a queue worker with Supervisor. config like this
[code]

It works fine with other jobs dispatched by my application. But `Spatie\MediaLibrary\Jobs\PerformConversions` failed everytime.

Here is my conversion setting in model
[code]
It only save default image, but all conversions failed.
appreciate your help :)

[2019-05-14 15:26] jlmmns opened #1444 "Add ability to save media without a model relationship"
It would be great if we could save media without a model relationship.

I already went ahead and created a [pull request](https://github.com/spatie/laravel-medialibrary/pull/1443) for this.

Related issues: #1384 #1423

[2019-05-14 15:35] jlmmns commented on #1444
#1384

[2019-05-14 16:18] jlmmns commented on #1444
#1443

[2019-05-15 07:45] kipouras opened #1445 "How to get the media added"
I am trying to get the media objects added from a request using the code below:

public function addMedia(Request $request)
{
       $tmp = Auth::User()
                ->addAllMediaFromRequest()
                ->each(function ($fileAdder) {
                    $id = uniqid('', true);
                    $fileAdder
                        ->usingName($id)
                        ->usingFileName($

[2019-05-15 09:15] pvs9 opened #1446 "$appends not working"
I have a custom Media Model;
[code]

Package uses it correctly, but 'urls' field is never appended.
Why this could happen?

[2019-05-15 09:53] #1446 closed

[2019-05-15 10:01] #1357 closed

[2019-05-15 11:51] egerb opened #1447 "How to fill image with watermark by grid?"
How to fill image with watermark like grid?
Tried
`$this->addMediaConversion('thumbs-555')
                    ->width(555)
                    ->watermark(public_path().'/img/LOGO.png')
                    ->watermarkOpacity(50)
                    ->watermarkFit(Manipulations::FIT_FILL);`
Doesn't work for me.
Thanx.

[2019-05-15 11:54] #1393 closed

[2019-05-15 21:13] AlexanderDera commented on #1440
$data = $request->all();

        $item->media()->delete($id); // delete previous image

        if($item->hasMedia('images')) {
            $item->updateMedia($data, 'images'); //images === collection name
        } else {
            $item->addMediaFromRequest('image')
            ->toMediaCollection('images');
        }

        $result = $item->update($data);

With this approach, saving to the

[2019-05-16 23:42] oyepez003 commented on #737
https://github.com/spatie/laravel-medialibrary/issues/1053

[2019-05-17 04:35] AaronChengHao opened #1448 "Media directory"
Does one media create a directory?When the data is so big, will there be many directories?

[2019-05-18 18:17] timgavin commented on #1448
Yes, for each image uploaded a separate (sequentially numbered) directory is created. Any conversions are saved within a subdirectory of the image directory.

For instance, your first images uploaded would be saved in a directory named `1`.

Here's what it looks like on my local machine while testing

[code]

[2019-05-18 18:23] AaronChengHao commented on #1448
Thank you, but if the directory is too many, will it affect the program performance?

[2019-05-18 18:34] timgavin commented on #1448
Don't see how it could. Regardless, I, along with many others, use S3 in production. No performance issues.

[2019-05-18 18:37] AaronChengHao commented on #1448
@timgavin thanks

[2019-05-18 18:38] #1448 closed

[2019-05-19 12:05] NeutroCoder commented on #1253
Use the below code to install the latest package of the Laravel Media Library.

`composer require spatie/laravel-medialibrary`

![Capture](https://user-images.githubusercontent.com/45868877/57981986-9e381480-79f3-11e9-9639-3e70fc4ca225.PNG)

[2019-05-19 17:21] mdixon18 opened #1449 "Responsive imagery being wiped with custom PathGenerator using shared directory"
This may not be what you would call an issue, but if you have any intention on merging in [#1443](https://github.com/spatie/laravel-medialibrary/pull/1443) or displaying every model based media in a shared directory then there is a potential issue with a custom PathGenerator when deleting responsive imagery.

In this instance I have decided, I want all media in one directory.
[code]

Now, when you

[2019-05-20 10:00] #1330 closed

[2019-05-20 10:01] #1361 closed

[2019-05-20 13:37] Epistol opened #1450 "addMultipleMediaFromRequest don't recognize array of same name"
Hello there, after multiple tries, looks like the library doesn't take the case where multiple files from the same request under an array.

Example from library :

[code]

What I would like to do :

[code]

I know it looks like a specific use case, but I don't know if it's just me that didn't find anything in the source of the lib, or that there is nothing possible for that for now.

Cordially,
Ep

[2019-05-20 15:16] mdixon18 commented on #1449
Off the back of this, the Filesystem `removeAllFiles` method also doesn't work. As it then simply tries to delete the entire disks folder.

All i've done for my own usage is if the directory is set to / then to call `removeResponsiveImages` and `removeFile`.

Not sure what the overall fix would be for this.

[2019-05-20 15:31] meduzen commented on #1437
I encountered the same issue under version 7.0.0. The _fix_ was:
1. update to last version
2. `php artisan medialibrary:regenerate` (but didn’t regenerate problematic files, which queues systematically failing…)
3. re-upload problematic files with same bad naming (= filenames having special characters), and then the queue was going fine.

Strange.

[2019-05-20 16:58] lingotacro commented on #1440
hi , i just like to insert media (logo) without associate data but it not
work .

Le mer. 15 mai 2019 à 21:13, Alexander <notifications@github.com> a écrit :

--
Tia
Sahi Paterne
47522414/40054653
Developpeur d'Application à OLORUN TECH

[2019-05-21 06:40] iraklisg commented on #1287
Do we have an update on this issue? The problem still exists :disappointed:

@igorrebega may I ask you please what strategy are you using currently to overcome this problem?
Thank you

[2019-05-21 08:45] lingotacro commented on #1440
`$data = $request->all();

    $item->media()->delete($id); // delete previous image in the database

    if($item->hasMedia('images')) {
        $item->updateMedia($data, 'images'); //images === collection name
    } else {
        $item->addMediaFromRequest('image')
        ->toMediaCollection('images');
    }

    $result = $item->update($data);`

[2019-05-21 09:25] mkwsra opened #1451 "getFullUrl() is generating an incorrect URL for Arabic characters"
I spent some time in order to figure out the problem and the matter, in fact, it's not related directly to _Laravel Media Library_, it's PHP mentality.

in `vendor/spatie/laravel-medialibrary/src/UrlGenerator/BaseUrlGenerator.php:82:5`, the `pathinfo()` function is affected by PHP's `setlocale()`, and with default settings, it's slicing a portion of the URL as shown below:

![Screen Shot 2019-05-2

[2019-05-22 07:41] uwascan opened #1453 "Not compatible with spatie/browsershot"
Please could you upgrade your ```spatie/image``` dependency to a higher or latest version so that one can use this package along with ```spatie/browsershot```

[2019-05-22 09:43] jaumesala commented on #1198
Or you can just call the relationship:
[code]

The core of the ```HasMediaTrait``` relies on the **polymorphic** that relationship:

[code]

The method ```getMeida()```only ***filters*** to the collection.

[2019-05-23 00:51] sevenpixels commented on #205
I'd be interested in having the ability to have a file in multiple collections. Basically giving the user the ability to "tag" a file.

[2019-05-23 00:59] sevenpixels commented on #858
I'd like to be able to associate a file with multiple collections. Allowing the user to upload a file 1 time and have it "tagged".

This prevents having the user upload a file and then place it in more than one collection. Which then causes the file to be stored more than one time.

[2019-05-23 10:00] #1366 closed

[2019-05-23 12:41] Livijn opened #1454 "Add the shouldDeletePreservingMedia() method to the docs"
You should add the `shouldDeletePreservingMedia()` method to the docs. Also, maybe it's just me, but the naming is strange. I think it would be easier to understand what it implies by renaming it to `shouldDeletePreserveMedia()`.

[2019-05-23 12:43] freekmurze commented on #1454
Please send a PR to our docs. There's an edit button to create a PR on each page of the docs.

[2019-05-23 12:43] #1454 closed

[2019-05-23 13:43] Epistol opened #1455 "'updateMedia' missing from documentation"
I was messing around with the lib and noticed the trait has this method updateMedia but the documentation on the website is silent about it :/

[2019-05-24 12:55] lingotacro opened #1456 "Medias url errors"
When i deploye my project all image not show but in local it work . tnx for your answord .

[2019-05-26 13:30] whitespider-devops opened #1457 "Migrating existing S3 videos into the MediaLibrary"
I have a number of videos already hosted on S3.

I have now installed this package into my application but I'm not sure how I would go about moving those existing videos into the MediaLibrary package?

My concern is that if I use one of the in built methods (e.g. addMediaFromUrl) it may copy them locally before moving them back to S3, would this happen?

Any help or advice greatly received.

Many

[2019-05-27 10:00] #1359 closed

[2019-05-27 13:04] SvenSchoene commented on #1441
Man, I had the issue that **somehow** the conversions didn't work anymore.

Your issue pointed me in the right direction: I have since switched to the database queue and I haven't had a queue worker running when working on a part of my application that was about uploading images.

This is probably not *really* helpful to you, since you're saying that your worker **is** running.
But maybe someone e

[2019-05-28 17:42] herroworrd opened #1458 "Use latest stable version of zipstream-php?"
https://github.com/spatie/laravel-medialibrary/blob/6ffb8a41e60f024abd35ff47e08628354d6efd0e/composer.json#L32

Would be nice to have media-library use the latest version of zipstream. I'm getting some conflicts with other packages.

Latest version is currently 1.1 but medialibrary is at ~0.4

[2019-05-28 23:36] nelson6e65 commented on #240
How can I change the name only, not the extension?

[2019-05-29 09:31] royduin commented on #1276
Please reopen @freekmurze

[2019-05-29 10:00] #1369 closed

[2019-05-29 10:53] eminos commented on #1437
@meduzen That is not the issue I'm having unfortunately. My issue is pretty clear and not strange (I can see the issue in the medialibrary source code) :)

1. I'm on latest version.
2. medialibrary:regenerate doesn't generate responsive images for original files.
3. Yes, re-uploading works, but that's what I don't wanna do since there are a lot of files with spaces in their filenames.

[2019-05-29 15:20] MannikJ commented on #620
@sebastiandedeyne @torkiljohnsen
Why not adding a config attribute to activate and deactivate migration auto-loading as well as leaving the option of publishing and changing the migration file manually?

[2019-05-29 18:06] CyrilBlankaert opened #1459 "Img not deleted when I use a CustomPath"
I use CustomPathGenerator Class, but when I delete the image in Laravel Nova, the image is not deleted in the folder. How to do this ?

I use \DmitryBubyakin\NovaMedialibraryField library to add and delete gallery images in Laravel Nova.

Thanks !

[code]

[2019-05-29 21:16] Fab-Miami opened #1460 "PDF issue: Unsupported image type. GD driver is only able to decode JPG, PNG, GIF or WebP files."
Hi,

I can not upload any pdf, pdf doesn't work.

Running Laravel 5.7 in dev on Xampp (windows 10). ImageMagik 7 is installed and works fine.

In my model:

`
 public function registerMediaCollections()
    {
        $this->addMediaCollection('vendor_document')
             ->useDisk('vendor_documents');
`

Uploading an image (jpg, gif or png) everything works perfectly fine.

Uploading a PDF, I'm

[2019-05-30 00:59] Fab-Miami commented on #1460
Please, delete my question, I found the problem, it was linked to a pre-treatment, not to medialibrary.

[2019-05-30 00:59] #1460 closed

[2019-05-30 10:00] #1374 closed

[2019-05-30 10:00] #1373 closed

[2019-05-30 10:22] Briareos17 opened #1461 "Multiple file extensions and picture object generation"
Hi, your package is awesome, especially responsive images, but I have one issue with ability to store images in multiple extensions, like png, webp, jpeg for browser compability.
Is there any way to manage conversions for extensions to be able create HTML5 picture object?

[2019-05-30 18:20] CyrilBlankaert commented on #1459
Solved !
'/' missing at the end of the return :)

[2019-05-30 18:21] #1459 closed

[2019-05-31 08:43] eminos opened #1462 "browsing /index.php breaks images (can be seen on spatie.be/ohdear.app)"
Browsing to /index.php is the same as the home route "/" in a standard Laravel installation (web server setup).
But it breaks image URLs generated by medialibrary.

The issue can also be seen on spatie.be and ohdear.app.
https://spatie.be/index.php
https://ohdear.app/index.php

In my case the issue is even worse because the home route gets cached (and re-cached) when I visit /index.php, which then

[2019-06-01 07:39] atymic commented on #1458
As per the [changelogs](https://github.com/maennchen/ZipStream-PHP/blob/master/CHANGELOG.md#100---2019-04-17) there were some breaking changes from 0.x versions to 1.x verions.

I'll look into creating a pr, as the changes don't seem very complex.

[2019-06-01 07:41] atymic commented on #1383
Can you provide some more information on your issue and the code you are using please?

[2019-06-01 07:44] atymic commented on #1328
As Ninja said, it's almost certainly a permissions issue due to queues. If you are still having the issue, can you compare the permissions of files created by the app directly with the converted files (using `ls -li`)?

[2019-06-01 08:10] atymic commented on #1398
This can be closed since 5.8 is supported since `7.5.6`
https://github.com/spatie/laravel-medialibrary/tree/7.5.6

[2019-06-01 08:11] atymic commented on #1458
Seems like there is a PR open here already:
https://github.com/spatie/laravel-medialibrary/pull/1452

[2019-06-03 10:00] #1377 closed

[2019-06-03 10:01] #1367 closed

[2019-06-05 10:01] #1381 closed

[2019-06-05 12:17] vesper8 opened #1463 "what is the proper way to upgrade to V7 in relation to getUrl() name changes?"
So I just upgraded to V7 and suddenly all my conversion urls are wrong. This is because as of V7 the orignal filename is appended in front of the conversion name.

So previously `$image->getUrl('thumb')` would return `https://images.example.test/media/15028/conversions/thumb.jpg` but now it returns `https://images.example.test/media/15028/conversions/a6e1191ec1b99806632fdb3003c62035-thumb.jpg`

I

[2019-06-05 12:20] vesper8 commented on #1463
ah nevermind... found the upgrade instructions... guess I have to regenerate all conversions

[2019-06-05 12:20] #1463 closed

[2019-06-05 13:18] vesper8 commented on #1463
I wrote a tiny script that renames all the conversions to the new format.. I was able to rename 75k conversions in under 30 seconds... must faster than regenerating which would have taken over an hour

[code]

[2019-06-05 16:45] moyvera commented on #190
Be careful and understand what disk you are using. Local does not mean to be public. Public is for real public resources. (According to the default disk from a fresh Laravel installation)

`        'local' => [
            'driver' => 'local',
            'root' => storage_path('app'),
        ],

        'public' => [
            'driver' => 'local',
            'root' => storage_path('app/public

[2019-06-06 20:54] Nevax07 commented on #1425
I finally found some time to work on this.
After digging the code, I can see the command only regenerate conversions and not the collection itself. So, you probably need to create a specific conversion for the responsive images.

[code]

[2019-06-06 23:18] vesper8 opened #1465 "--only-missing only works with nonQueued conversions"
using --only-missing with medialibrary:regenerate only works if your conversions are nonQueued()

the problem code is located here https://github.com/spatie/laravel-medialibrary/blob/master/src/FileManipulator.php#L40-L50

For conversions that are queued(), the createDerivedFiles() method dispatches without passing along the only-missing flag, which causes performConversions() to be called without

[2019-06-07 15:26] victor-priceputu commented on #812
I am getting the same issue, package version `7.6.0`, php `7.3.6` using homestead and `local` as the driver.
`Intervention\Image\Exception\NotReadableException : Unable to read image from path (/tmp/GlideoH2Jh8).`
`Caused by
 ImagickException: no decode delegate for this image format `' @ error/constitute.c/ReadImage/504
 `
This happens only when trying to add a file in tests, using fake files.

[2019-06-08 01:02] shaneoliver commented on #1392
I also have this issue when using a custom model. All other model observers are working (creating, updating, updated) except for the deleted observer. Calling $media->delete(); removes the row from the database, but doesn't remove the file from the directory.

To reproduce, create a mode that extends Media https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-your-own-model#using-you

[2019-06-10 10:00] #1384 closed

[2019-06-11 05:31] glenprimitivesense commented on #1062
Did anyone figure anything with this issue?

[2019-06-11 07:10] emprove commented on #1062
preservingOriginal() fix the problem.

[2019-06-11 07:27] bebekar opened #1466 "can we create multi-part zip files from the source files?"
Sometimes the source is too large (many files) and we could create multiple zip files containing portions of source in them.

[2019-06-11 08:08] glenprimitivesense commented on #1062
Hey @emprove I'm not so sure I understand can you give me a little more direction?

[2019-06-11 18:46] Scumi opened #1467 "Model does not return all Media"
I try to combine _summernote_ with _laravel-medialibrary_. It works fine for a single document, but when I add more than one picture, my code fails at the last line below.

- the pictures are uploaded
- the rows are correctly inserted into the database
- **but** `$post->getMedia('blogpost')` always only contains one media collection item

If I fetch the collection with `$post->getMedia('blogpost')

[2019-06-11 21:13] hustlon commented on #1436
Please post your method

[2019-06-12 10:18] CanardDrones commented on #1436
I ended up using the Amazon S3 JavaScript SDK to upload the files:
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html

[2019-06-16 09:19] nishtman1366 opened #1468 "Unknown column 'post_id' in 'field list'"
when is use **addMedia()** method this error happens just when my model name is 'Post'.
I have try with other models and there is no problem
everything is ok when i use another models

[2019-06-16 15:14] ahmedsammygeek commented on #1253
still can't install it after install  on laravel 5.7.28
composer require spatie/laravel-medialibrary

[2019-06-16 23:40] atymic commented on #1398
@freekmurze
I think this can be closed now :)

[2019-06-17 07:29] ToeiRei commented on #1097
I could reproduce that problem on windows - sadly none of the solutions discussed here work.

[2019-06-17 07:37] #1398 closed

[2019-06-17 07:40] freekmurze commented on #1468
The tests prove that this package is working as intended. Could you please PR a failing test for me to look at?

[2019-06-17 07:40] #1468 closed

[2019-06-17 07:41] freekmurze commented on #1467
The tests prove that normally all request media is returned like expected. I'm not a user of summernote. Could you please PR a failing test for me to look at?

[2019-06-17 07:41] #1467 closed

[2019-06-17 07:42] freekmurze commented on #1466
This is currently not supported by the package.

[2019-06-17 07:42] #1466 closed

[2019-06-17 07:51] freekmurze commented on #1461
Thank you! Currently this is not possible. I don't have a need for this yet, so probably this won't get added in the near future.

[2019-06-17 07:51] #1461 closed

[2019-06-17 07:54] freekmurze commented on #1458
We'll continue thi sin #1452

[2019-06-17 07:54] #1458 closed

[2019-06-17 07:55] freekmurze commented on #1456
This could really be a number of reasons. I don't have the time to check individual projects. Make sure the urls to your assets are correct. If you still have problem, try asking your question on the laracasts forums or stack overflow.

[2019-06-17 07:55] #1456 closed

[2019-06-17 07:56] freekmurze commented on #1455
Feel free to send a PR to the docs. There's an edit button on every page. Thanks!

[2019-06-17 07:56] #1455 closed

[2019-06-17 07:57] freekmurze commented on #1457
We currently don't have a bulk import procedure.

You could upload one file manually to see what data the medialibrary writes in the media table. After that you can manually add entries to the media table for the existing files.

[2019-06-17 07:57] #1457 closed

[2019-06-17 07:59] freekmurze commented on #1453
The currently is only one major version of `image` so there's nothing to be bumped.

[2019-06-17 07:59] #1453 closed

[2019-06-17 08:00] freekmurze commented on #1451
If there's an easy, testable fix for us to implement, feel free to send a PR.

[2019-06-17 08:00] #1451 closed

[2019-06-17 10:00] #1388 closed

[2019-06-18 08:15] Greenelf opened #1469 "502 Bad Gateway"
https://docs.spatie.be/laravel-medialibrary/

[2019-06-18 10:00] #1390 closed

[2019-06-18 10:00] #1389 closed

[2019-06-18 10:02] brendt commented on #1447
Can you provide some more information? What exactly doesn't work? Maybe share your test images?

[2019-06-18 10:03] brendt commented on #1469
We're in the process of migrating our docs sites, this issue will be resolved as soon as DNS changes are propagated.

[2019-06-18 10:03] #1469 closed

[2019-06-18 10:04] brendt commented on #1465
@vesper8 thanks for the report. Are you able to send a PR to fix this?

[2019-06-18 10:06] brendt commented on #1445
Please refer to the docs site to know how to work with this package: https://docs.spatie.be/laravel-medialibrary/v7/introduction/

[2019-06-18 10:06] #1445 closed

[2019-06-18 10:49] brendt commented on #1450
Hi Epistol

Sounds like a good feature we could add. Though I'm unsure about the `file[]` notation. To me personally it would make more sense to use Laravel's naming conventions and use `file.*`. That's an implementation detail though.

Do you think you'd want to give it a try and submit a PR for this? You'd need to make changes in `\Spatie\MediaLibrary\FileAdder\FileAdderFactory::createMultipleFr

[2019-06-18 10:57] brendt commented on #1449
Hi @mdixon18

I'm afraid this is an edge case this package won't support, this is also explicitly mentioned in [the docs](https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-a-custom-directory-structure/)

[2019-06-18 10:57] #1449 closed

[2019-06-18 10:59] brendt commented on #1444
Let's discuss this in the PR (#1443)

[2019-06-18 10:59] #1444 closed

[2019-06-18 11:01] brendt commented on #1441
@eliyas5044 how exactly does the jobs fail? Do you have any logging or error output?

[2019-06-18 11:02] brendt commented on #1440
Please take a look at the docs to learn how this package works: https://docs.spatie.be/laravel-medialibrary/v7/introduction/

[2019-06-18 11:02] #1440 closed

[2019-06-18 11:07] egerb commented on #1447
Thanx for reply, @brendt ,
Got image with next dimension w 500 h 400,
Got watermark 30 x 30, and want fill image with grid of watermarks (one by one on full image height and width).

[2019-06-18 11:11] brendt commented on #1438
It shouldn't be this package's concern on how it's used from the outside. If you're making a package that's requiring this one, that package should make sure its dependencies are properly configured.

My suggestion would be to build your package in such a way that it doesn't depend on the specific medialibrary config. Another problem to take into consideration: what if a user requires both your pa

[2019-06-18 11:11] #1438 closed

[2019-06-18 11:14] brendt commented on #1437
@eminos are you willing to submit a PR to fix this?

[2019-06-18 11:16] brendt commented on #1447
@egerb There's no support to have a watermark be repeated. You should be able to add several watermarks by calling the `apply()` method: https://docs.spatie.be/image/v1/usage/advanced-manipulations/#the-apply-method

So technically it's possible if you'd take the dimensions of the image, loop over them and add each cell of the grid one by one. But there's no support for it in this package.

[2019-06-18 11:16] #1447 closed

[2019-06-18 11:17] egerb commented on #1447
I see, thanx a lot!

[2019-06-18 11:17] #1437 closed

[2019-06-18 11:21] brendt commented on #1435
Are you sure the responsive images are indeed generated? They are asynchronously generated by a job, so you need to make sure you queue worker is running.

[2019-06-18 11:22] brendt commented on #1436
I suppose this issue is solved? If you'd like to share your approach, we'd highly appreciate it!

[2019-06-18 11:22] #1436 closed

[2019-06-18 11:23] #1432 closed

[2019-06-18 11:25] #1431 closed

[2019-06-18 11:25] #1429 closed

[2019-06-18 11:25] brendt commented on #1429
I expect @neuotq is sufficient?

[2019-06-18 11:29] eminos commented on #1437
For my part it turned out there weren't that many images with spaces, so I just re-uploaded them manually again.

The other issue, which might be related, is how the URLs are formatted for **src** (full url with domain) vs **srcset** (only path, no domain). As far as I can see in the medialibrary sourcecode the URL generation for those two parts of the img tag are done differently. Maybe it can be

[2019-06-18 11:30] brendt commented on #1425
You'd need to generate them yourself, I'd suggest writing a migration for it.

[2019-06-18 11:30] #1425 closed

[2019-06-18 11:30] #1365 closed

[2019-06-18 11:39] codingnninja commented on #1450
/claim ... I want to do this.

[2019-06-18 12:14] brendt commented on #1450
Go for it!

[2019-06-19 07:10] eliyas5044 commented on #1441
[code]

[2019-06-19 07:22] milewski commented on #1371
The temp solution above worked for me... but yeah can we get the PR related to this issue merged? :O

[2019-06-19 10:00] #1387 closed

[2019-06-19 10:00] #1370 closed

[2019-06-19 13:13] brendt commented on #1441
This is a problem with file permissions, the package is unable to write files to the folders. Make sure you're running the queue worker with a user that has write access to the correct folders.

[2019-06-19 13:13] #1441 closed

[2019-06-19 18:19] ahmedofali opened #1472 "When running tests it fails because of broken links"
When running tests it show many errors related to images does not exists
ex : FileAdder/IntegrationTest.php l:288
Image path: https://docs.spatie.be/images/medialibrary/header.jpg
It shows error image does not exist

[2019-06-19 19:25] ahmedofali commented on #1465
@brendt Please Review the pull request and let me know if any .

[2019-06-19 20:47] vesper8 commented on #1465
thank you @ahmedofali for submitting https://github.com/spatie/laravel-medialibrary/pull/1473

[2019-06-20 09:05] riasvdv commented on #1472
Fixed, docs structure has changed a bit

[2019-06-20 09:22] ahmedofali commented on #1472
Great

[2019-06-20 09:58] ahmedofali commented on #1465
@vesper8 Pleasure

[2019-06-20 13:03] ahmedofali commented on #1450
@brendt please review the pull request

[2019-06-20 13:09] brendt commented on #1450
For reference: #1473

[2019-06-20 13:10] brendt commented on #1450
Can you provide a link to the PR?

[2019-06-20 13:31] Epistol commented on #1450
Looks like https://github.com/spatie/laravel-medialibrary/pull/1471 but travis ci doesn't seem happy with it :')

[2019-06-20 13:48] ahmedofali commented on #1450
@brendt Yes because of this issue [1472](https://github.com/spatie/laravel-medialibrary/issues/1472) and I submitted it to mention that there is a problem with links and @riasvdv mentioned that it's fixed

[2019-06-21 06:35] develsanket opened #1474 "clearMediaCollection() doesn't able to force delete if using softDeletes."
clearMediaCollection() doesn't able to force delete the database record and hence the files also not get removed from the storage. I'm using Laravel's softDeletes trait and while using the clearMediaCollection() method the record in the database gets soft deleted instead of forceDelete(). I think you should change the trait a little bit like what I do:

if (in_array(SoftDeletes::class, class_uses_

[2019-06-21 13:32] develsanket opened #1475 "Regenerate doesn't delete old conversions!"
While running php artisan medialibrary:regenerate if I add a conversion it generate a new file for that conversion but when I remove a conversion it will not remove the converted file.

[2019-06-21 16:37] JmRy opened #1476 "AddMediaFromUrl don't catch Exception"
Hello,

Unable to capture the FileIsTooBig exception with this code. Is this normal?

[code]
This causes a general exception but not the catch
[code]
My platform :
PHP 7.3.6-1+ubuntu18.04
laravel/framework  v5.8.24
spatie/laravel-medialibrary   7.6.0

Thank you for your help :-)

[2019-06-21 17:03] JmRy commented on #1476
As much for me, I forgot to declare the exception use.
Fortunately, it's the weekend ;-)
Delete this issue

[2019-06-21 17:03] #1476 closed

[2019-06-22 10:37] jlmmns commented on #1438
If you specify the custom config file using a middleware for just the endpoints of a custom package, there won't be any problems if the medialibrary package is already being used somewhere else in the project.

That's the main reason why I've made it this way.

Medialibrary will only use the custom config file for the code that's under the middleware.

That's why I thought it would be a very flexi

[2019-06-23 00:29] eberkund commented on #1436
Please do share, I am also curious about this. Thanks.

[2019-06-24 03:44] zu007 opened #1478 "There is no filesystem disk named `public`"
`$user->addMedia($request->file('avatar'))->toMediaCollection();`
error: There is no filesystem disk named `public`  in DiskDoesNotExist.php line 11

flysystem.php
[code]

Please Help how to fix it

[2019-06-24 03:45] zu007 commented on #1478
environment
 "laravel/lumen-framework": "5.8.*",
  "spatie/laravel-medialibrary": "^7.6",

[2019-06-24 13:22] francoism90 commented on #1371
Why hasn't this been merged?

[2019-06-24 19:05] satyago opened #1480 "spatie/pdf-to-image dependency enforces optional imagick to be installed on server"
This package lists ghostscript / imagemagick as optional dependencies based on whether PDF/SVG need to be rendered. However, it is still pulling in `spatie/pdf-to-image` by default, which has `imagick` listed as one of its enforced requirements.

Installing the `laravel-medialibrary` package on a server without the `imagick` extension being available will immediately fail.

[2019-06-26 08:02] bstrahija opened #1481 "Problem with queued conversions in Spatie\MediaLibrary\Jobs\PerformConversions"
So we have setup that takes uploaded images and adds them to the media library. Once in a while the queued jobs simply stop working and the error in the log is this one:

    Symfony\Component\Process\Exception\RuntimeException: The provided cwd does not exist. in /var/www/vendor/symfony/process/Process.php:334

The current setup runs through a docker container, but the same thing happens on a reg

[2019-06-26 08:52] invaders-xx opened #1482 "How to get the id of an added media"
Dear all,

I have this code:
$media=$product->addMedia($image)->sanitizingFileName(function($fileName) {
                    return strtolower(str_replace(['#', '/', '\\', ' '], '_', $fileName));
                });
                $media->toMediaCollection($lang);
return ['success'=>'success','id'=>$media->id];

And I have an error:
 "message": "Undefined property: Spatie\\MediaLibrary\\FileAdder

[2019-06-27 05:08] arun-subba opened #1483 "Uninstalling laravel-medialibrary!!"
Hey,
      laravel-medialibrary package is great to use but by any chance if I want to uninstall the medialibrary package how would I do it ? Thanks.

[2019-06-27 06:30] brendt commented on #1438
I agree it would be a good feature for Laravel, but don't think every package should re-implement and maintain the same code.

For now I suggest your package simply stating users shouldn't publish the medialibrary config file, but instead use yours. Your service provide should then manually build the medialibrary config.

[2019-06-27 07:38] jlmmns commented on #1438
You're right brendt, thanks!

[2019-06-27 08:40] atymic commented on #1483
Just remove the dependency from your `composer.json`, delete the config files.
You might also want to add a migration to drop the tables from the package.

[2019-06-27 10:00] #1397 closed

[2019-06-27 13:20] mattmcardle opened #1484 "Is it possible to disable the queue for conversions?"
My application has a similar architecture to what is described in this issue: https://github.com/spatie/laravel-medialibrary/issues/1320, and I am faced with the same problem.

From what I can see, there was no resolution to that issue, which is fine, I'm sure I will be able to figure out some way of rolling my own job and handler to perform the tenant connection before executing the conversions.

[2019-06-27 15:08] #1484 closed

[2019-06-27 15:53] AlexVanderbist commented on #1462
Hi @eminos,

This seems to be an issue with Laravel's `url()` helper in combination with out webserver set-up. This simple example already gives a broken url:
[code]

This is probably because we are using the `url()` helper in a file context, instead of using it for routing as intended. However, this is not something we want to fix in the current version as it might break other people's setups. I'

[2019-06-27 15:53] #1462 closed

[2019-06-27 15:57] AlexVanderbist opened #1485 "Stop using `url()` helper for file urls"
Currently we use Laravel's `url()` helper all over the place. However, this helper wasn't intended to create urls for files. For example executing `url('/image.jpg')` on http://example.com/index.php/test will output `http://example.com/index.php/image.jpg`.

I'd propose swapping this for our own implementation of the UrlGenerator (a bit like the `asset()` helper does).

See #1462

[2019-06-27 15:58] #1485 closed

[2019-06-27 20:54] HasanurHimel opened #1486 "File updating problem"
I create Media Model and defind all the class according to your previous issues solution but when i going to update , it's given error like below . How can i solve this

Too few arguments to function Spatie\MediaLibrary\Filesystem\Filesystem::removeFiles(), 1 passed in D:\Xampp\htdocs\my-blog\app\Models\Media.php on line 27 and exactly 2 expected

this part of method i defined in my controller ,

[2019-06-27 23:25] getupkid opened #1487 "Model with multiple media conversions runs multiple update queries"
I couldn't see any other issues raised for this. I'm pretty sure I am implementing my conversions correctly on my model.
I have 4 different media conversions one 1 model:

[code]
I've noticed that when I upload an image and the conversions run, there are 4 update queries in running that update the custom properties. Each update query adds the next media conversion to the JSON string. Should this n

[2019-06-28 07:52] vdbelt commented on #1486
I would suggest updating to the latest release and going through the docs provided on https://github.com/spatie/laravel-medialibrary

You may not be using the library as intended. Perhaps you have implemented some work-around for a previous 'issue' for a different/older version of this package.

Passing tests show that the package is working. If you think there is a bug in the current release, you

[2019-06-28 13:28] joshuadegier commented on #1057
I case anybody encounters this issue, here are the steps to generate EPS thumbnails. I've created an EPS.php class in `App\Services\Media\ImageGenerators`:

[code]

After that, edit your medialibrary.php config file and add the generator to the list:

[code]

That's it. Generating thumbnails should now work for EPS files.

One thing I don't understand is why the library is capable of generating pr

[2019-06-28 18:37] HasanurHimel commented on #1486
Finally its work but i had to make some changes. Thanks

[2019-06-30 17:31] zr87 opened #1488 "Multiple filesystems"
Hey!

I'm using versions: L5.2,  ML ^4

I want to use two filesystems to handle media assets and
the `config/laravel-medialibrary.php` file says:
[code]
It says: `on or more`...
I configured Digital Ocean's Spaces disk and mapped to `spaces`.

By the above highlighted  comment I would expect the following to work:

[code]

[2019-07-01 15:05] Fab-Miami commented on #755
SAME PROBLEM HERE. Exactly the same problem.
All steps of this threat are exactly giving the same result.

But 18 months after, still no solution given here.

Did someone figured out a way to get ->getmedia('xxx') working? .... I need to have a way to download a zip of a collection of media.  :'-|

[2019-07-04 08:11] amirex128 opened #1491 "i want copy media from a model to new model like (copy media article from product)"
hi everyone
i want copy media from a model to new model like (copy media from  article to product)
what do i do this?

[2019-07-04 11:01] #1483 closed

[2019-07-04 11:02] riasvdv commented on #1371
Fixed in #1372 will release later today

[2019-07-04 11:02] #1371 closed

[2019-07-04 11:18] riasvdv commented on #1414
Please refer to the Laravel docs https://laravel.com/docs/master/requests#files

For files you need to use `$request->hasFile('avatar')` or `$request->file('avatar')` to get file info.

[2019-07-04 11:18] #1414 closed

[2019-07-04 11:19] #1486 closed

[2019-07-04 11:20] riasvdv commented on #1482
The `toMediaCollection` function returns the `Media` object.

In your case you'd have to do change the following:

[code]

To

[code]

[2019-07-04 11:20] #1482 closed

[2019-07-04 11:24] riasvdv commented on #1474
We'd accept a PR for this with tests

[2019-07-04 12:09] riasvdv commented on #1475
That's what `php artisan medialibrary:clean` is for

[2019-07-04 12:09] #1475 closed

[2019-07-04 12:15] riasvdv commented on #1488
That's a typo in the comment of the config file. `defaultFilesystem` only allows one default filesystem. To store the media on another disk, you can use the
`->toCollectionOnDisk` function, see https://docs.spatie.be/laravel-medialibrary/v4/advanced-usage/working-with-multiple-filesystems/

[2019-07-04 12:15] #1488 closed

[2019-07-04 12:18] #1409 closed

[2019-07-04 12:21] riasvdv commented on #1403
Deprecated conversions are already removed with the `clean` command. https://github.com/spatie/laravel-medialibrary/blob/master/tests/Feature/Commands/CleanCommandTest/CleanConversionsTest.php#L51

[2019-07-04 12:21] #1403 closed

[2019-07-04 12:23] riasvdv commented on #1423
See #1443

[2019-07-04 12:23] #1423 closed

[2019-07-04 12:23] freekmurze commented on #1416
Thank you for the suggestion. I probably am not really interested into adding this to the package because we don't need this for our projects. In your projects you could listen for eloquent events or events from our medialibrary to populate any extra tables or columns.

[2019-07-04 12:23] #1416 closed

[2019-07-04 18:27] ingageco commented on #1097
Same here - any solution? Running pretty close to a fresh install of Laravel

[2019-07-04 20:52] Fab-Miami opened #1493 "QUESTION (not issue): How to print a pdf?"
Hi,

I'm displaying a png thumnail of an uploaded pdf.
We need a button which, when clicked, will send the related pdf to the printer.

Any idea on how to do that?

Thanks
FAB

[2019-07-05 08:43] netbuilding commented on #1436
Your share will be much appreciated!

[2019-07-05 08:55] VicGUTT commented on #1416
Sure no problem.
If that ever become a need I'll be happy to help 👌

[2019-07-05 10:45] ToeiRei commented on #1097
@ingageco My install was a fresh one. Did you try cleaning all the caches?

[2019-07-08 10:01] #1401 closed

[2019-07-08 10:02] #1405 closed

[2019-07-08 10:02] #1363 closed

[2019-07-09 04:32] sooxiaotong opened #1494 "getUrl() ignores chinese characters"
I get this example, the file name is Chinese but it don't have any output.

current output:

expected output:

[2019-07-09 05:59] vdbelt commented on #1494
You may want to use 'setlocale()' prior to running your code.

Related: https://github.com/spatie/laravel-medialibrary/issues/1287#issuecomment-462029178

[2019-07-11 14:00] freekmurze commented on #1478
This package does not support Lumen.

[2019-07-11 14:00] #1478 closed

[2019-07-11 14:01] freekmurze commented on #1410
At the moment, I can't make any promises on when this will be added.

[2019-07-11 14:01] #1410 closed

[2019-07-11 14:05] brendt commented on #1450
Fixed in 7.6.2: https://github.com/spatie/laravel-medialibrary/releases/tag/7.6.2

[2019-07-11 14:05] #1450 closed

[2019-07-11 14:31] eldiddio opened #1495 "Conversions on specific collections not specific"
Following this guide: [performing-conversions-on-specific-collections](https://docs.spatie.be/laravel-medialibrary/v7/converting-images/defining-conversions/#performing-conversions-on-specific-collections)

I have added a method to my model like this:
[code]

However when I add a file to a different collection as described in the docs and then try retrieve the thumb conversion e.g.
[code]

It retu

[2019-07-11 21:43] gidaban commented on #1429
Hi

i have same issue

[code]

yes it deleting one record in database however deleting also all files

[2019-07-12 07:23] Canser commented on #1062
Hi.

Updated to latest package, it's happening right now.

On my mac without a docker container; I am using Valet but still got this error.

It was working before, maybe I should check the version differences before and after.

On my mac; I get:

On the server (ubuntu) It's similar but the temp dir is different.

I will write here if I find something.

[2019-07-12 07:27] brendt commented on #1495
`LocalUrlGenerator::getUrl()` won't do any checks on whether the file actually exists or not.

You could add your own url generator by implementing `\Spatie\MediaLibrary\UrlGenerator\UrlGenerator` and registering it as `url_generator` in the config.

Keep in mind that if you're going to check whether a file exists every time you want to generate an URL, you'll probably experience an impact on perf

[2019-07-12 07:27] #1495 closed

[2019-07-12 07:28] brendt commented on #1494
I guess `setlocale` is the solution here, based on the previous issue. Thanks @vdbelt for pointing that out.

[2019-07-12 07:28] #1494 closed

[2019-07-12 07:32] brendt commented on #1493
Take a look at Laravel's file downloads and file responses: https://laravel.com/docs/5.8/responses#file-downloads

[2019-07-12 07:32] #1493 closed

[2019-07-12 07:34] brendt commented on #1491
Please refer to the documentation: https://docs.spatie.be/laravel-medialibrary/v7/api/adding-files/#copymedia

[2019-07-12 07:34] #1491 closed

[2019-07-12 07:58] eldiddio commented on #1495
Thanks for your reply Brent,

It would be good if the documentation [performing-conversions-on-specific-collection](https://docs.spatie.be/laravel-medialibrary/v7/converting-images/defining-conversions/#performing-conversions-on-specific-collections) is updated to reflect this

Docs currently say:

[code]

Thanks

[2019-07-12 08:25] brendt commented on #1495
Feel free to submit a PR: https://github.com/spatie/laravel-medialibrary/tree/master/docs

👍

[2019-07-12 11:00] brendt commented on #1481
I believe this has to do with file permissions. Please verify whether the user running horizon has all required permissions to write to the correct folders.

I'll be closing this issue, as it doesn't seem to be anything we need to fix in this package, but feel free to keep the conversation going if you need any more input.

[2019-07-12 11:00] #1481 closed

[2019-07-12 11:26] brendt commented on #1465
Merged and tagged: https://github.com/spatie/laravel-medialibrary/releases/tag/7.6.3

[2019-07-12 11:26] #1465 closed

[2019-07-12 14:13] brendt commented on #1396
This error happens because the server takes too long to respond. You probably want to use queues to generate images because generating them all in the same request takes too much time: https://docs.spatie.be/laravel-medialibrary/v7/converting-images/defining-conversions/#queuing-conversions

[2019-07-12 14:13] #1396 closed

[2019-07-12 14:14] brendt commented on #1428
Based on the lack of replies, I suppose this issue is now resolved?

[2019-07-12 14:14] #1428 closed

[2019-07-12 14:16] brendt commented on #1407
We've recently merged a PR, which will probably solve your issue: https://github.com/spatie/laravel-medialibrary/pull/1471

[2019-07-12 14:16] #1407 closed

[2019-07-12 14:16] #1385 closed

[2019-07-12 14:17] brendt commented on #1385
I'm closing this issue because of the answer in #1333

[2019-07-12 14:18] brendt commented on #1312
Was horizon running to generate the images behind the scenes?

I'll be closing this issue, if anyone comes up with a concrete error, feel free to drop a reply.

[2019-07-12 14:18] #1312 closed

[2019-07-14 20:21] tripletens commented on #1253
i have similar issue with installing socialite
composer require laravel/socialite
i need help please

[2019-07-15 07:46] brendt commented on #1417
Here are some steps to troubleshoot:

- Are other conversions working correctly?
- Are conversions performed as a queued job? Is Horizon running?

[2019-07-15 07:46] brendt commented on #1435
I'll be closing this issue as there hasn't been any answer in a while. Feel free to reply still.

[2019-07-15 07:46] #1435 closed

[2019-07-15 07:47] brendt commented on #1328
Looks indeed like a permissions error. I'll be closing this issue. Feel free to still reply if anything new comes up.

[2019-07-15 07:47] #1328 closed

[2019-07-15 07:50] brendt commented on #1487
Feel free to submit a tested PR to optimise this.

[2019-07-15 07:50] #1487 closed

[2019-07-15 07:52] brendt commented on #1392
Has anyone encountering this issue looked at it in depth as to why it's happening? Any suggestions on how to fix it? We're open for PRs.

[2019-07-15 08:03] brendt commented on #1480
As of now, I've added Imagick as a primary dependency. We'll revisit this in the nest major version.

Tagged here: https://github.com/spatie/laravel-medialibrary/releases/tag/7.6.4

[2019-07-15 08:03] #1480 closed

[2019-07-15 08:07] freekmurze commented on #1480
In the next major version we'll probably move the `pdf-to-image` package to the development dependencies and remove the requirement for `imagick` on the medialibrary.

[2019-07-15 14:02] brendt commented on #1383
My suggestion would be to read the documentation on how to add files as media: https://docs.spatie.be/laravel-medialibrary/v7/api/adding-files/#adding-files

You'd need to write some kind of command to convert your specific project

[2019-07-15 14:02] #1383 closed

[2019-07-15 14:07] brendt commented on #1376
Feel free to submit a tested PR for this. I'll be closing this issue and we'll continue the conversation in the PR.

[2019-07-15 14:07] #1376 closed

[2019-07-15 17:59] matthewsuan commented on #1417
I can confirm some conversions are working correctly. Only svg uploads are having this issue.

Conversions are performed on a queued job.

[2019-07-16 06:32] brendt commented on #1417
I'd suggest to debug, starting from the conversion class: https://github.com/spatie/laravel-medialibrary/blob/master/src/Conversion/Conversion.php#L104

[2019-07-16 08:14] brendt commented on #1411
This has been fixed in 7.6.5: https://github.com/spatie/laravel-medialibrary/releases/tag/7.6.5

[2019-07-16 08:14] #1411 closed

[2019-07-16 18:22] ctf0 commented on #821
@snapey have u found an automated way for doing that ?

[2019-07-17 14:31] bcoelhonqda commented on #1429
Same problem here. Delete record in database but not the files.

[2019-07-18 08:36] brendt commented on #1429
It's not clear whether you have the same issue or the opposite one. Please open a PR with a failing test or provide a full example of what you expect the behaviour to be.

[2019-07-18 10:20] bbashy opened #1496 "Deleting file throws exception with S3 showing 400 status code"
Been getting this every time a file is deleted. Nothing custom being done, just `$document->delete();`.

[code]

[2019-07-18 20:01] HasanurHimel opened #1497 "How to get media library photo from laravel Cache"
Simply Laravel Caching system we can use

### I've a blog model and simply i can store in cache of blogs table data .
but i want to cache media library data while i store at the time of blog create .and retrive data from cache in frontend. How can it possible

[2019-07-19 14:57] jameznew90 commented on #167
I needed a solution for this the other day. Laravel now has out the box json where clauses:

[code]

https://laravel.com/docs/5.8/queries#json-where-clauses

[2019-07-19 15:51] vwasteels commented on #646
@kikoseijo thanks a lot for this !

[2019-07-20 06:28] teddyhendryanto opened #1498 "Unable Decode from File"
Hi,

I need help to figure it out why my PerformConversion Job Queue always failed to run with error "Unable decode from file" when I use S3 filesystem.
It works fine if using local filesystem.
And another confusion, this process failed most of time, but I got success perform conversion with my 1 image only. (other than that image, will throw an error.)

Here is my scenario.
1. I upload image with

[2019-07-20 12:28] Daniyal-Javani commented on #1451
Can we consider `setlocale(LC_ALL, config('app.locale'));` as a fix?

[2019-07-20 15:17] mkwsra commented on #1451
It could be but I cannot test it now

[2019-07-21 04:50] Daniyal-Javani commented on #812
Same problem
CentOS Linux release 7.6.1810 (Core)
PHP 7.2.20
Web Server: Litespeed

[2019-07-21 11:52] Daniyal-Javani commented on #1451
My problem solved "temporarily" with adding what you said before adding media in Controller like this:
[code]

[2019-07-22 03:30] villananda commented on #163
https://docs.spatie.be/laravel-medialibrary/v5/advanced-usage/soft-deletes/

[2019-07-22 03:31] villananda commented on #1334
https://docs.spatie.be/laravel-medialibrary/v5/advanced-usage/soft-deletes/

use `->forceDelete()`

[2019-07-22 10:01] #1227 closed

[2019-07-23 00:01] freekmurze commented on #1257
@VincentKos you're right!

[2019-07-23 00:01] #1257 closed

[2019-07-23 00:04] freekmurze commented on #1497
I don't understand the issue completely, I think, ... but cache things for the front end is out of scope for this package.

[2019-07-23 00:04] #1497 closed

[2019-07-23 00:40] freekmurze commented on #1392
If you are dynamically changing the media model you should manually register a `MediaObserver` for it that'll delete the files.

[code]

[2019-07-23 00:40] #1392 closed

[2019-07-23 00:50] freekmurze commented on #1287
Use fix proposed by @fomvasss for now.

[2019-07-23 00:50] #1287 closed

[2019-07-23 07:42] gundamew commented on #1474
I have quickly tried on Laravel 5.8. It looks like all we need here is `forceDelete`.

[code]

So maybe we could change the code like this:

[code]

[2019-07-25 20:38] thsdeveloper commented on #1219
Hello, I need some help. I cannot perform this operation...

[code]

[2019-07-27 03:39] ronssij opened #1502 "Class 'Spatie\MediaLibrary\MediaLibraryServiceProvider' not found"
`php artisan vendor:publish --provider="Spatie\MediaLibrary\MediaLibraryServiceProvider" --tag="migrations"`

It does not create a migrations files.

I followed the steps in https://github.com/spatie/laravel-medialibrary/issues/77

[code]

and then I got this.

[code]

[2019-07-27 04:28] ronssij opened #1503 "migration"

[2019-07-27 04:32] #1503 closed

[2019-07-27 06:27] GabMic opened #1504 "Is there a better way to upload multiple files at once?"
I am using laravel 5.8.

I have an input that can upload multiple images:

`<input type="file" class="input" name="images[]" multiple>`

And this is how i attach the media, and it feels a bit off:

[code]

Is there a better way?
Thanks.

[2019-07-27 12:04] hakhsin opened #1505 "Can user wrapping his/her files in folders?"
By this package can I give user to be able to wrapping his/her files in folders?
I want to my user be able to wrapping her/his files in to folders like this structure:
user
* picture
  * private
    * image.jpg
    * image2.jpg ...
  * pic1.jpg
  * ...
* doc
  * ...

[2019-07-27 15:16] hoofdletterj opened #1506 "Media specific manipulations get ignored when applying to multiple Libraries on same model"
Hi @freekmurze, first of all: awesome package, it's been a life saver!

One issue though: When I have a model with more than one media library, each one having the same (two) conversions, and I apply a media specific manipulation on all (first) images of a specific conversion, only the conversion of the first media library gets manipulated.

**Example**
- I've added three libraries to a Dog: front

[2019-07-27 15:21] freekmurze commented on #1506
We recently tagged a fix for a similar problem in the underlying spatie/image package. Could you update your dependencies so you use the latest version? If you're in luck the problem should be solved, otherwise I'd welcome a PR that fixes this in the medialib.

[2019-07-27 17:02] freekmurze commented on #1504
Take a look at this method: https://docs.spatie.be/laravel-medialibrary/v7/api/adding-files/#addmultiplemediafromrequest

[2019-07-27 17:02] #1504 closed

[2019-07-27 17:05] freekmurze commented on #1498
I'm thinking this issue is more related to your setup and does not regard a bug in our package. Please find help on a public forum like stack overflow or laracasts.

[2019-07-27 17:05] #1498 closed

[2019-07-27 17:06] freekmurze commented on #1502
I'm thinking something went wrong while installing the package. Please try it in a vanilla Laravel app. Our tests indicate that the package is working fine and I was just able to install it myself in an vanilla Laravel 5.8 app.

[2019-07-27 17:06] #1502 closed

[2019-07-27 17:10] hoofdletterj commented on #1506
Thanks for your blazing fast reply! Oof... I've updated spatie/image to v1.7.2 and spatie/laravel-medialibrary to v7.6.9 now, and still no dice.

Does this mean I'm out of luck, or could I still be missing something? Since investing in this package means a LOT of rework if those manipulations don't work. *looks worried

[2019-07-27 17:13] freekmurze commented on #1506
Currently I don't have the time to investigate and fix this myself. If you need to be fixed fast you'll have to dive in the code yourself and PR a fix with tests. Usually good PRs get merged fairly quickly.

[2019-07-27 17:13] freekmurze commented on #1505
Take a look here: https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-a-custom-directory-structure/

[2019-07-27 17:13] #1505 closed

[2019-07-27 18:45] Scumi commented on #1467
I optimised my code a bit and recognized, that the model has to be refreshed in order to get all attached media items. I first tried `$post->fresh()` and called `->getMedia('blogpost')` on the `$post` model later in the code, but that didn't work. I settled with `$post->fresh()->getMedia('blogpost')[$k]->getUrl()` and now everything runs fine.

[code]

[2019-07-27 19:34] kalpeshtank commented on #1330
@dorvidas
how I can use and resolve the S3 URL issue? can you please help me on it.

[2019-07-27 19:42] kalpeshtank opened #1507 "can't able to generate s3 URL when i had set default as s3 at the time of upload"
my defult driver
`  'default' => env('FILESYSTEM_DRIVER', 's3'),`

[2019-07-28 20:43] ronssij commented on #1502
I really don't know what happened on the project I've created. What I did was:
- Install passport
- Install Spatie Query Builder
- Install Spatie Media Library

Then the errors began to show up.
What I did was I deleted the entire Laravel folder then install new Laravel project.

[2019-07-29 13:43] intrepidws commented on #1392
@freekmurze Where would this be done? In AppServiceProvider.php?

[2019-07-29 14:12] brendt commented on #1507
I'm afraid I don't quite understand what this issue is about. Perhaps the docs can help you? https://docs.spatie.be/laravel-medialibrary/v7/ I'd suggest carefully reading through them.

Feel free to come back to this issue with more information, but for now I'll be closing it.

[2019-07-29 14:12] #1507 closed

[2019-07-29 17:47] kalpeshtank commented on #1507
@brendt
ok, now it's fixed and thanks to you for a response. :)

[2019-07-29 17:51] hoofdletterj commented on #1506
Allright, despite this package seems yet to be a bit above my pay grade, I've spent most of my weekend digging around and tracing stuff. And I _might_ have found where it goes wrong.

(I'm documenting this for the community in the hopes someone has a quick fix and PR ready now the source might be a bit more clear.. I'm a bit hesitant to try and contribute to an OS project, b/c this would be my fir

[2019-07-30 14:39] drtheuns opened #1511 "Inherit connection from subject in FileAdder"
If I use an Eloquent model with a custom connection and want to add media to it, how do I ensure the media goes to the same connection. In this case the connection is _dynamic_, meaning overriding the Media class and setting a static connection is not a viable option.

Example:

[code]

Perhaps we could extend the FileAdder? Maybe something like:

- Accept a beforeSave closure to modify the Media

[2019-07-30 14:49] intrepidws commented on #1392
Perhaps I'm doing this wrong, but Freek's suggested solution (https://github.com/spatie/laravel-medialibrary/issues/1392#issuecomment-514007770) did not work for me. I put the recommended code into my AppServiceProvider and was able to confirm that the `creating()` method from that Observer fires just fine, but the `deleted()` method does not. I also tested `deleting()`, even though it doesn't app

[2019-07-30 16:24] henrypalacios commented on #627
I have the Same Error.

PHP Error:  Call to a member function save() on null in .../spatie/laravel-medialibrary/src/FileAdder/FileAdder.php on line 305.

following the thread, I have tried to save images directly and I still have no success.

I Used:
spatie/laravel-medialibrary: "^7.0.0"
Laravel 5.8
ubuntu 18
php 7.2

[2019-07-30 17:59] henrypalacios commented on #627
I fixed it out. The problem was that my IDE (phpstorm) by adding the `HasMedia` implementation, automatically added methods to the class it implements.

... public function media() {}
... public function addMedia() {}

[2019-07-30 20:10] raphcollective opened #1513 "Using Image Generators to create a converted copy of the original media file?"
First of all thank you so much for this amazing package, it's been really helpful on many projects for us.

I was trying to create an Image Generator to convert jpg to webp but after digging and testing a few things it looks like the image generators aren't intended to work like this.

Is there a way to generate a copy of an image with an image generator (or something else I could have missed) and

[2019-07-31 06:48] freekmurze commented on #1392
@intrepidws you should do this anywhere after you've dynamically changed the `medialibrary.media_model` config.

[2019-07-31 07:52] freekmurze commented on #1506
We'll continue this in #1510

[2019-07-31 07:52] #1506 closed

[2019-07-31 08:52] danielshongo opened #1515 "I need to determine the type of file to download in media library, it does not work, here are my codes"
public function registerMediaCollections()
{
    $this->addMediaCollection('slider')
     ->acceptsFile(function (File $file) {
            return $file->mimeType === 'image/jpeg';
        });

}

[2019-07-31 09:15] freekmurze commented on #1515
I don't understand what you are trying to achieve...

[2019-07-31 10:20] danielshongo commented on #1515
I wishv to use Only allow certain files in a collection, but it not working
that is my code
hp

namespace App;

use Illuminate\Notifications\Notifiable;
use Spatie\MediaLibrary\HasMedia\HasMedia;
use Spatie\MediaLibrary\HasMedia\HasMediaTrait;
use Spatie\MediaLibrary\File;
use Illuminate\Foundation\Auth\User as Authenticatable;

class User extends Authenticatable implements HasMedia
{
    use Noti

[2019-07-31 10:21] danielshongo commented on #1515
sorry that is my code

hp

namespace App;

use Illuminate\Notifications\Notifiable;
use Spatie\MediaLibrary\HasMedia\HasMedia;
use Spatie\MediaLibrary\HasMedia\HasMediaTrait;
use Spatie\MediaLibrary\File;
use Illuminate\Foundation\Auth\User as Authenticatable;

class User extends Authenticatable implements HasMedia
{
    use Notifiable,HasMediaTrait;

    /**
     * The attributes that are mass as

[2019-07-31 10:24] danielshongo opened #1516 "I wish to use Only allow certain files in a collection, but it not working that is my code"
[code]

[2019-07-31 10:41] shortcodes commented on #1097
i noticed that when `APP_URL` contains `https` `getFirstMediaUrl` return correctly full url but with there is a problem with `http`. Only partial url is being returned

[2019-07-31 11:18] freekmurze commented on #1516
What do you mean by "not working"?

Are you getting an exception?

Are you sure the `acceptsFile` is being called? Try to put a `dd` statement in there to be sure.

[2019-07-31 11:42] danielshongo commented on #1516
sorry i d'ont speack english verry, i love this package, tis is my problem
when i put dd after addMediaCollection, it does stop me codes when i put in the function acceptsFile (function (File $ file) {
   return $ file-> mimeType === 'image / jpeg';
        }); I get nothing. media saves all the file. help me please I'm blocking

[2019-07-31 12:40] danielshongo commented on #1516
sorry i d'ont speack english verry, i love this package, this is my problem
when i put dd after addMediaCollection, it does stop me codes when i put in
the function acceptsFile (function (File $ file) {
add('dd');
return $ file-> mimeType === 'image / jpeg';
}); I get nothing. media saves all the file. help me please I'm blocking

Le mer. 31 juil. 2019 à 13:18, Freek Van der Herten <
notifications

[2019-07-31 16:13] jstoone commented on #1480
I'm sorry for resurrecting this thread, but I figured that it couldn't hurt to share how I've resolved this issue.

My CI started squacking, because our docker setup doesn't have `ext-imagick` installed. So after some digging I ended up adding the following to my `composer.json`:
[code]

This solved my problem, since I don't (yet) use any of the transformation options provided by the package.
So f

[2019-07-31 23:41] danielshongo opened #1517 "Spatie \ MediaLibrary \ Exceptions \ FileCannotBeAdded \ FileUnacceptableForCollection"
when I delimit the file type, I get this error, but I want to catch the error in my management, but it always returns false
 public function render($request, Exception $exception)
    {

        if ($exception instanceof FileUnacceptableForCollection) {
             dd($exception);
           return redirect()->back()->with('error', 'Nous acceptons seulement le fichier gif,jpg');
        }

[2019-08-02 00:16] s1rc opened #1518 "Using Horizon specific supervisor queue for conversions"
I've got Horizon set up with 3 different supervisor configs for different queue usages, and I'd like to use queued image conversions. The one specifically set up for media is:

[code]

In `medialibrary.php` config setting `queue_name` to `media` doesn't work, conversions are still performed via the `sync` queue. How can I configure MediaLibrary to use the `redis_long` connection and `media` queue?

[2019-08-02 06:46] freekmurze commented on #1518
what is the output of `config('queue')` in your app?

Have you tried clearing the config cache?

[2019-08-02 07:42] s-z-s commented on #831
@AlexVanderbist I am having the same issue.
[code]
This code returns a photo object with url and then a media array with a collection of data not needed in the API. Should I open a new issue for this?

[2019-08-02 09:44] brendt commented on #1517
What returns false? This check? `$exception instanceof FileUnacceptableForCollection`

If that's the case, you either missed an import, or the exception you're catching isn't an instance of `FileUnacceptableForCollection`.

I don't think this is an issue related to the media library, so I'll be closing this issue. Feel free though to keep the conversation going if you think it's relevant.

[2019-08-02 09:44] #1517 closed

[2019-08-02 09:46] brendt commented on #1515
I suppose this is a duplicate of #1516 ? I'll be closing this issue for now and we'll continue the conversation in #1516

[2019-08-02 09:46] #1515 closed

[2019-08-02 09:54] brendt commented on #1516
@danielshongo I believe your issue has to do with your code not working as described in https://docs.spatie.be/laravel-medialibrary/v7/working-with-media-collections/defining-media-collections/#only-allow-certain-files-in-a-collection ?

Since the tests for this on our side (https://github.com/spatie/laravel-medialibrary/blob/master/tests/Feature/FileAdder/MediaConversions/MediaCollectionTest.php#

[2019-08-02 09:54] #1516 closed

[2019-08-02 12:30] s1rc commented on #1518
Yes I re cache the config with each change.

Normally when dispatching a job to a horizon queue we specify which connection and the queue name. We have 3 redis connections with differing configurations depending on use cases.

i.e.
[code]

Here is the output of `config('queue')`
[code]

[2019-08-02 14:08] brendt commented on #1417
I'll be closing this issue, as there doesn't seem to be any response. If anyone is experiencing the same issue, feel free to ping me and we'll take a look at it.

[2019-08-02 14:08] #1417 closed

[2019-08-02 14:09] brendt commented on #1258
@VincentKos are you still up for this? I'll be happy to help you to write some tests for this. Who knows, it might a a good learning opportunity? Feel free to submit a PR with a fix, and we can take it from there.

[2019-08-02 14:10] brendt commented on #1364
Is this still an issue for you? I can look into it if it is.

[2019-08-02 14:12] Archvist opened #1519 "Media in storage vanished"
Been using the media library for a over a year now, at 2 different times 2 websites launched fairly close to one-another and both have lost most of the original media the websites launched with. E.g the oldest media.

I wanted to confirm there is no setting, or override that only allows X numbers of directories to be created, or deleted media after X months. Anything that could result in the oldes

[2019-08-02 21:58] tontonsb opened #1520 "Files and directories are created ignoring umask"
I've set umask 002, so I could remove files and directories created by web server. However, the package creates 755-permission directories with 644-permission files inside.

This is probably because of utilizing Laravel's Filesystem which utilizes Flysystem, which puts either 0755 or 0700...

[2019-08-02 22:15] freekmurze commented on #1520
This package doesn’t do anything regarding setting file permissions. If you are having problems please open up an issue at either Laravel or Flysystem.

[2019-08-02 22:15] #1520 closed

[2019-08-02 22:16] freekmurze commented on #1519
We are using this package in the vast majority of our projects and have never encountered the problem you are describing.

[2019-08-02 22:16] #1519 closed

[2019-08-02 22:40] asilverstein opened #1521 "UI Question"
I'm sorry for asking a question you must have received hundreds of times, but is there any GUI (already-built views, components, pages, etc.) that make use of the many features offered by laravel-medialibrary? Some kind of "starter kit" perhaps?

Thanks.

[2019-08-02 23:42] freekmurze commented on #1521
Currently there is not, but we're thinking about providing that too. No ETA though, at the minimum this is at least half a year away.

[2019-08-02 23:42] #1521 closed

[2019-08-03 14:11] Livijn commented on #1364
It's still an issue, but it is not an issue for me anymore. If you get my point 😊 You can feel free to close this or try uploading that image yourself.

[2019-08-03 17:09] #1364 closed

[2019-08-04 14:12] Kyawzino commented on #220
In the temp folder files imgs are not showing public folder. How to fix this problem.

[2019-08-05 01:52] roncarino commented on #793
Hi @freekmurze,

so you can use "withCustomProperties($array)" just when you are adding an image but not on update...correct?
So if I have something like this:

[code]
"withCustomProperties" will throw "Call to undefined method"

Should I just do something like this instead?

[code]

[2019-08-05 15:45] Kyawzino commented on #757
how to upload image width is more than 4000 pixels

[2019-08-05 16:11] Kyawzino opened #1522 "Images width is more than 4000pixels can't upload"
Images width is more than 4000px can't upload images
response HTTP ERROR 500
page's not woking
how to fix it.
please reply .

[2019-08-05 23:13] freekmurze commented on #1522
I bet this is due to some constraint of your environment. Please make sure you can upload that image to your server without making use of our package.

Google a bit around post max size and file max size settings in the php ini file.

[2019-08-05 23:13] #1522 closed

[2019-08-07 12:27] s1rc commented on #1518
I fixed this issue by extending the `PerformConversions` job and specifying the connection and queue in the new job.

[code]

[2019-08-07 12:27] #1518 closed

[2019-08-07 18:42] EricBusch commented on #1047
@kamalkhan This results in an N+1 problem... at least it did for me.

To properly eager load media models from a single Media Library Collection, you should do something like this:

[code]

This will eager load all of your attachments for each model without eager loading other collections. This can be useful if you have lots of collections for a single model and those collections have a lot of rec

[2019-08-07 18:58] kamalkhan commented on #1047
@EricBusch I don't think that's entirely true.

Your **first query** is collecting both the `thumbnail` and the `preview` media collections which results in 8 hydrations (4 thumbnail and 4 preview collections)

Whereas, your **second query** is only accessing the thumbnail collection, hence only 4 hydrations (only 4 thumbnail collections).

But as far as collecting both the collections, your secon

[2019-08-08 14:26] jam1e opened #1524 "Limit number of images in collection"
Is there a simple way to limit the number of images a model can hold in a given collection?

For example, my Business model has one logo, which I have used `->single()` for, and up to 3 banner images. I would like to limit it so they cannot have more than 3, and any additional uploads would replace older ones.

[2019-08-09 11:08] jehkinen commented on #949
why this one is closed?
I have MariaDb 10.4 version and have issue with backslashes.

I'm trying to remove Medias as $model->media()->delete();
it produce query like

DELETE `media` WHERE `media`.`model_id` = ? AND `media`.`model_id` IS NOT NULL AND `media`.`model_type` = 'App\MyModel' but this query returns null because it must be

`media`.`model_type` = 'App\\MyModel', guys how did you solve thi

[2019-08-09 16:05] rik43 opened #1525 "very expensive getUrl()"
i make page profiling.
this line has 80k calls in one page of my site
[code]
https://github.com/spatie/image/blob/master/src/Manipulations.php#L689

getUrl() calls 188 times.

i think this is static info, may be cache this?

[2019-08-11 19:37] CoryGrandstaff commented on #1253
Did you find a solution Tripletens?

[2019-08-13 10:05] sushiljic opened #1526 "How to optimize and replace the original image when uploading to media?"
On the $post,there will be request featured containing image of the post,
i have used conversion to create the thumb of the image but i want to optimize the image also original one.
i am using
`$post->addMediaFromRequest('featured')->toMediaCollection('featured');`
Where on the Post model
` $this->addMediaConversion('thumb')
            ->width(env('THUMB_WIDTH',150))
            ->height(env('THU

[2019-08-15 14:59] josegus commented on #908
It works for me, I'm using a custom media model and adding the 'custom_url_generator_class' solve it

[2019-08-15 15:19] blorange2 opened #1527 "Using the Media Library for standalone uploads"
Hello,

Is it possible to use this MediaLibrary package to have both attached and unattached files? For instance a site may have a list of downloadable resources such as PDF or Word documents, but it may also have profile pictures or something similar attached to a `User` model.

In my instance the standalone media library has a migration that looks like so:

[code]

Then to attach files I have a

[2019-08-16 11:13] shortcodes opened #1529 "Cannot create video thumbnail using extractVideoFrameAtSecond"
Hello. I want to create a video frame from video/ images mixed collection

[code]

Video thumbnail are not being generated althougth no error occur. Urls via `getUrl('thumb')` are generated correctly but under them there are 404 errors for video files. Image files work ok. I am using simple avi files. What i do wrong?

[2019-08-16 22:12] danielshongo opened #1530 "how I can add a title and a description"
that is my codes

$admin=auth()->guard('admin')->user();
$admin->addMedia($request->avatarslider)
->toMediaCollection('sliders');

i wish to add the title and description  in database and
in the following I will display in the view, help me please

[2019-08-17 23:23] danielshongo opened #1531 "how can i get media collection"
that is my codes

 public function index()
    {
 $avatars=articles::all()->getMedia();
dd( $avatars);
 }
but i get this error
BadMethodCallException
Method Illuminate\Database\Eloquent\Collection::getMedia does not exist.

[2019-08-18 01:08] VincentKos commented on #1258
@brendt i'm gonna pr something soon then.

[2019-08-18 01:17] VincentKos commented on #1531
You can't do that i beleive.

Media are associated to a model, not a collection of models.

`articles::first()->getMedia() // this will work`

[2019-08-18 07:53] danielshongo commented on #1531
It sends me back null, but I  have the record in my table, I want to have all the colletion of my media

[2019-08-18 07:56] danielshongo commented on #1531
he send me back this
Collection {#357 ▼
  #items: []
}

[2019-08-18 08:07] danielshongo commented on #1531
I should determined the name of my colletion, thank you, he send back the last recording, I wish to have all the colletion of the table

[2019-08-18 19:15] danielshongo commented on #1531
I found in solution with a brother(Bitfumes, https://bitfumes.com) on skype, here is the solution
   $ppp=[];
  $at=articles::all();
  Foreach($at as $article){
  $ppp[]=$article->getMedia('sliders');
}

[2019-08-18 19:15] #1531 closed

[2019-08-19 10:28] atymic commented on #1530
You can use custom properties to add a title/description to a media item.

https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-custom-properties/

[code]

[2019-08-19 12:23] shortcodes commented on #1529
Somebody uses it successfully?

[2019-08-20 13:46] #1530 closed

[2019-08-20 16:17] Shandur commented on #1529
@shortcodes Hey!
I'd suggest you to check if your server(local/dev/prod) has FFMPEG and FFProbe installed.
There are lines from medialibrary.php that tells:
[code]

Buy I've not seen any mentions in documentation about it.
Here is a link that should help you http://ftrack.rtd.ftrack.com/en/stable/administering/managing_local_installation/configuring_ffmpeg.html

Cheers!

[2019-08-20 18:47] freekmurze commented on #1526
The medialibrary doesn’t make any changes to the original file. If you want to optimize the a file, you’ll have to do it yourself before adding it to the medialibrary.

[2019-08-20 18:47] #1526 closed

[2019-08-21 06:28] freekmurze commented on #1524
I'd accept a pull request that adds a `onlyKeepLatest($int)` function on `MediaCollection`. When adding a new item to the collection only the latest `$int` number of media models in it are kept, the rest is deleted. The PR should have updated test and updated docs. The `singleFile` method should, under the hood, call `onlyKeepLatests(1)`.

[2019-08-21 06:29] freekmurze commented on #1527
Only attached files are supported. If you want to have some sort of unattached files, create a dummy model and attach everything to that model.

[2019-08-21 06:29] #1527 closed

[2019-08-21 07:30] shortcodes commented on #1529
@Shandur Hej. Thanks for an answer. It appears I didn't have installed ffmpg. But now when it is installed nothing changed. Still got 404 where video thumbnails should be. It is weird because generating those thumbnails consumes preety much of server time. I have (for test purposes) some of video assets on AWS bucket and some on public disk but neither on AWS nor locally vide thumbnails are not be

[2019-08-21 10:03] tripletens commented on #1253
Not yet

[2019-08-21 10:04] tripletens commented on #1253
composer require spatie/laravel-medialibrary

Let me try this one

[2019-08-21 10:29] joshuadegier commented on #1524
Working on it! Got the code ready, heading over to writing the tests in a minute.

[2019-08-21 11:26] joshuadegier commented on #1474
Shouldn't this be debated first? I suppose when you make a model to implement `SoftDelete` it is not a given for everyone that the files should be deleted anyway. I can think of numerous of situations where I would want the record to be SoftDeleted but the files to be persisted (as it works now) for later use (or restoring the record including the media).

So, in my eyes, the solution wouldn't inv

[2019-08-21 12:36] dejury commented on #1525
Can't u just create your own UrlGenerator and make caching inside that one?

Something like this:

[code]

[2019-08-21 16:33] freekmurze commented on #1525
@rik43 feel free to create a PR with improvements around this.

[2019-08-21 16:36] freekmurze commented on #1524
This has been added in the latest released. Thanks for the PR @joshuadegier

[2019-08-21 16:36] #1524 closed

[2019-08-21 17:16] joshuadegier commented on #1474
I've made a draft for this: https://github.com/spatie/laravel-medialibrary/pull/1534

This PR only adds a single feature: whenever the model you are deleting uses `SoftDeletes` the media is deleted anyway when `$shouldDeleteMediaWhenSoftDeleting` is set to true.

[2019-08-21 18:01] freekmurze commented on #1474
Personally I'm not a fan of soft deletes in general and I don't want to go too far in supporting this. If you are using soft deletes and want to really delete media files, use `$this->getMedia($collectionName)->each->forceDelete()`.

[2019-08-21 18:01] #1474 closed

[2019-08-21 20:47] danielshongo opened #1535 "how can I extract the media in my view"
that is the codes of  my controller

  public function index(){
   	$title='With me | Home';
   	$ppp=[];
	$at=articles::all();
	Foreach($at as $article){
	$ppp[]['media']=$article->getMedia('sliders');
	$ppp[]['title']=$article->titre;
	}
   	return view('welcome',compact('title','ppp'));
   }
I want to get  {{ $media }} for all the responsive image

[2019-08-21 22:45] freekmurze commented on #1535
I don't understand the question. Here is the documentation on responsive images: https://docs.spatie.be/laravel-medialibrary/v7/responsive-images/getting-started-with-responsive-images/

[2019-08-21 22:45] #1535 closed

[2019-08-22 19:11] danielshongo opened #1536 "Eager loading relationship and calling getMedia()"
Firstly thank you for this package, a wonderful, wonderful package. Saved me many hours and I find the quality of code in any Spatie package to be top notch!

I'm using the package in a project that manages the article, but When I come to display all  article with foreach

   public function index(){

   	$title='With me | Home';
	$articlesget=articles::all();
	Foreach($articlesget as $article){

[2019-08-22 23:24] freekmurze commented on #1536
You can eager load the media relation

https://laravel.com/docs/master/eloquent-relationships#eager-loading

[2019-08-22 23:24] #1536 closed

[2019-08-23 10:30] Vusys commented on #781
For an application I'm working on we need to use Intervention's image package for adding an image conversion.

I've found two ways to do it, but neither seem especially ideal.

Both require adding an empty conversion:

[code]

The first solution is to piggy back off the `MediaHasBeenAdded` event. Register a listener and you can pull the converted file from storage, do something with it, then reupl

[2019-08-24 13:23] damms005 opened #1537 "Any plans for docset integration for available documentation?"
Sometimes it is easier to reference documents offline. Are there any plans to make [Spatie docs](https://docs.spatie.be) available offline? (e.g. as [Docset](https://kapeli.com/docsets)?)

[2019-08-24 14:18] vdbelt commented on #1537
You could just pull down this repo, and open the docs in your preferred IDE, editor or markdown reader (/docs folder).

[2019-08-24 14:22] damms005 commented on #1537
That's true; but I use a good number of Spatie's tools across my projects. So to pull down each of those repos may not be as efficient (remember it's about just briefly checking some implementation or quickly peeking at something).

Having a plan for stuff like Zeal will help in making Spatie's tools easy to use (like Vuejs and Tailwindcss, which both have Zeal's docset, btw)

[2019-08-24 16:12] francoism90 opened #1538 "Flood on medialibrary:regenerate"
When using the following command to regenerate the following 7 models:
[code]

And something goes wrong, e..g.:
[code]

This happens:
[code]

It seems to duplicate like crazy and it's filling up the drive space. I've tried multiple locations (even non cache), but I'm unable to address this issue.

Do you have an idea?

Thanks.

[2019-08-24 20:31] francoism90 commented on #1538
After some testing, I've found out my CPU can't keep up the workload.
I have created a script that now the `medialibrary:regenerate --ids=<1,2,3,..>` command every 10 seconds with an ID I would like to regenerate.

Is it true when running the command `medialibrary:regenerate` with multiple IDs , all the pending jobs will be processed at the same time and not one by one?

[2019-08-26 07:58] ashutoshSce opened #1540 "Laravel 6.0 support"
Hello. I was planning to upgrade my project to laravel 6.0 which is also using Laravel medialibrary and it seems that spatie/laravel-medialibrary does not support Laravel 6.0.

[2019-08-26 12:35] vdbelt commented on #1540
Laravel 6.0 has not yet been released. Once it is, spatie packages will be updated to support L6.0.

[2019-08-26 12:49] #1540 closed

[2019-08-27 01:06] brobey8 opened #1541 "Protected properties in src/FileAdder/FileAdder.php with no getters"
Hi,

I am using this package and it is working nicely, I am having to use the addAllMediaFromRequest function which as you know loops over an array of inputs in the request, building a fileAdder object for each.

The problem is that I am wanting to get the properties of these files for adding some historical information of when they were added, their file names etc. However I cannot access any of

[2019-08-27 13:34] ziming opened #1543 "Deleting a media only deletes the file, not the associated folder on S3"
Hi,

According to the docs, it says:

I tried it (my filesystems is S3) and what happens is only the file get deleted. the associated id folder doesn't get deleted. It becomes an empty folder instead (i.e. folder 123 for media id 123 still exist but empty)

What did I do wrong?

Thank you.

[2019-08-27 14:07] freekmurze commented on #1543
I think this is a bug, i'd accept a PR that fixes this.

[2019-08-27 15:09] Gummibeer commented on #1543
The same issue is on Azure - I beliefe that this is related to the blob-storage and that they don't know directories but `Filesystem::getMediaDirectory()` creates the directory - in blob storages this will result in a normal blob.

The error is here that it only excludes the driver `name` if it's `s3`. So it doesn't exclude by the driver or does it exclude other blob storages.
https://github.com/s

[2019-08-28 05:14] vishalinfyom commented on #1429
@brendt i have the same issue.

i am using custom path generator and here is my folder structure,

`media/profile_photo/1/file_name.jpg`

where 1 is `user_id` means `$media->model_id` , i have total 5 images into `media/profile_photo/1/...`

while deleting one of them `1/..` folder removed with all 5 images, but in DB only specific records is removed.

[2019-08-28 06:29] brendt commented on #1429
One media item is always stored in a separate folder by default. Please refer to https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-a-custom-directory-structure/#using-a-custom-directory-structure

[2019-08-28 08:09] kyle-rusby commented on #1540
![Alt Text](https://media.giphy.com/media/26gJAzOW1B7EdvWRG/giphy.gif)

Any ideas on a timeline for when this will be updated?

[2019-08-28 11:40] freekmurze commented on #1540
Sometime next week.

[2019-08-28 13:11] KMB opened #1546 "Latest commit killed online Docs?"
Looks like that as of today the v7 of the docs is not available anymore:
https://docs.spatie.be/laravel-medialibrary/v7/introduction
gives me a 404.

v6 is working fine, but it's missing stuff.
https://docs.spatie.be/laravel-medialibrary/v6/introduction

[2019-08-28 13:16] freekmurze commented on #1546
Thank you for bringing this to my attention, we’ll fix this soon.

[2019-08-28 13:16] silverqx commented on #1546
Yes, v7 docs disappeard few mins ago.

[2019-08-28 13:23] freekmurze commented on #1546
@riasvdv is on it to bring back the docs. Meanwhile you could just use the /docs directory in this repo.

[2019-08-28 13:24] chrisGeonet commented on #1546
how strange. The commit to remove the docs looks intentional. There's a mention of it in the changelog too.

[2019-08-28 14:09] riasvdv commented on #1546
All back! The removal of the docs was indeed intentional for archive downloads (composer uses this) to not pollute and increase people's vendor folders too much.

We used the same archive download for generating the docs, but this change broke it, so now we use a sparse checkout instead!

[2019-08-28 14:09] #1546 closed

[2019-08-28 14:12] silverqx commented on #1546
thx

[2019-08-29 13:54] brendt commented on #1541
`FileAdder::toMediaCollection` returns the media item, could you read the required information from there?

[2019-08-29 13:57] brendt commented on #1538
Are you using a sync queue driver or horizon? You should use the latter one.

[2019-08-29 13:58] brendt commented on #1537
No plans for this at the moment, if you have the source code on your machine, you also have the docs. We might look into this in the future, but that will be an issue unrelated to the media library.

[2019-08-29 13:58] #1537 closed

[2019-08-29 14:09] francoism90 commented on #1538
@brendt I'm using Horizon as queue driver and using `auto` as preset.

I found out that multiple jobs of the same Media-model are spawn when it has an invalid character in the filename and FFMpeg cannot probe the file, resulting in a loop. When the invalid char(s) as been fixed/removed the regenerate progress runs fine.

Is it true the `PerformConversions` job doesn't have any throttle? It would b

[2019-08-29 14:13] brendt commented on #1538
We probably could make improvements in this area. But we need to take into account that Laravel's throttling only works with Redis (https://laravel.com/docs/5.8/queues#rate-limiting), I don't think it'll be straight forward to add.

Are you able to constantly reproduce this? Are you willing to submit a PR with a failing test?

[2019-08-29 15:02] francoism90 commented on #1538
It would be great if a job (e.g. `Spatie\MediaLibrary\Jobs\PerformConversions`) could be controlled by the user's queue driver - adding Horizon features to set job rate limiting, max. simultaneously procs for jobs, etc. Or is this already possible? :)

[2019-08-30 13:00] Shandur commented on #220
@freekmurze Hey!
Have the same problem with "no space" due to /tmp folder filled with media{HASH} files.
I'm using s3 buckets to store files from URL but they seem not cleaned up :\
Don't you know what's going?
Thanks!!

[2019-08-30 13:29] Shandur commented on #220
@freekmurze Maybe this code is an issue?
vendor/spatie/laravel-medialibrary/src/FileAdder/FileAdder.php:312
[code]
Perhaps, there should be the following code?
[code]

[2019-08-30 18:32] piryguiry opened #1547 "ErrorException fclose(): supplied resource is not a valid stream resource"
Package version 7.10.1

After do a composer update on my project i have this issue, this occurs when i try to download a zip file of a collection of images, in previous version  before update it worked fine

i do something like

[code]

And i got this

![Screenshot from 2019-08-30 14-13-05](https://user-images.githubusercontent.com/1696665/64043520-ab0bee80-cb32-11e9-8e80-672bee009628.png)
![Scree

[2019-08-31 09:08] freekmurze commented on #1547
@rubenvanassche could you take a look?

[2019-08-31 11:51] francoism90 commented on #1538
@brendt I think I have solved the throttle issue:

[code]

[code]

[2019-09-02 09:10] augustusnaz opened #1549 "Can I use v4.0.0 with Laravel v5.8? My MySQL vserion is 5.1"
I get this message when I run `composer require spatie/laravel-medialibrary:^4.0.01`:
[code]

[2019-09-02 13:31] piterog opened #1550 "How can I save just a converted media?"
Guys, I'm using:

[code]

But I don't wanna a original file, how can I save just a converted media?

Thank you!

[2019-09-02 17:49] freekmurze commented on #1550
This currently is not possible with the medialib. Manipulate the image to the wanted format before adding it to the medialib.

[2019-09-02 17:49] #1550 closed

[2019-09-02 17:50] freekmurze commented on #1549
Please use a newer version of the package.

[2019-09-02 17:50] #1549 closed

[2019-09-03 09:05] Trexology opened #1551 "Prevent auto append of "media" when return eloquent"
Whenever I return an eloquent object, somehow the media relation is returned together with my attribute, how can I off this auto-loading feature?

"author": {
                    "id": 1,
                    "nick_name": "master",
                    "avg_rate": null,
                    "count_rate": null,
                    "avatar": "http://localhost/storage/1/emma-not-smiling-35x45_1_orig.jpg

[2019-09-03 16:07] aghayeff commented on #758
Same problem

[2019-09-03 16:49] eichgi commented on #758
I will look into the code and check if I could solve this. You can also use File Storage (https://laravel.com/docs/5.7/filesystem) and specify that your files should be stored in your space.

[2019-09-04 09:43] GabMic opened #1552 "Laravel 6 Support?"
Hello!
Is there a plan to update this package to support laravel 6, that has been released by now?
Thanks.

[2019-09-04 10:03] Reactads commented on #1552
There's a [PR ](https://github.com/spatie/laravel-medialibrary/pull/1542) that needs some love that addresses this.

[2019-09-05 12:00] mokhosh opened #1553 "not updating because of imagick"
I was using version 7.11 with Laravel 5.8 just fine. I decided to update Laravel to version 6.0 and media library to version 7.12 but now I get this error:

[code]

I also tried downloading imagick, putting the dll in my ext folder and setting the php.ini file, but the issue is still there.
Any ideas on a) why it is suddenly requiring me to install the optional imagick dependency b) how to install

[2019-09-05 12:36] mokhosh commented on #1480
@jstoone thanks man you saved me
@brendt but why tho?!

[2019-09-05 12:39] mokhosh commented on #1553
ok found a hacky solution provided by @jstoone:
add this to your `composer.json`:
[code]

[2019-09-05 12:39] #1553 closed

[2019-09-05 21:30] piryguiry commented on #1547
This error still persist on version 7.12.0

[2019-09-06 08:27] m-rufflesmcghie commented on #1547
New to all this coding stuff but after a quick Google it looks like
Their is nothing open for fclose() to close.
If I'm wrong then sorry just trying to get started with opensource dev :-)

[2019-09-06 08:39] rubenvanassche commented on #1547
Hi @piryguiry I guess @m-rufflesmcghie is right, there is nothing in the stream. So I think you should check if the files you're trying to put in the zip archive still exist. You could also try to change line 71 from `/vendor/spatie/laravel-medialibrary/src/MediaStream.php`to something like this:

[code]

If that solves the problem it means the stream was not created or created correctly.

[2019-09-06 14:40] piryguiry commented on #1547
@rubenvanassche I been following the recommendation, i check the files that i trying to put in the zip, all good at this part.

![Screenshot from 2019-09-06 10-31-59](https://user-images.githubusercontent.com/1696665/64436390-3f75d400-d092-11e9-830c-a02208d420db.png)

I change the line that you're mention, i was did something similar before. but i get the same error.

![Screenshot from 2019-09-06

[2019-09-06 14:45] Towhid86 commented on #946
how can I solve this problem .......

PS E:\xampp\htdocs\Laravel-Ecommerce> composer require spatie/laravel-medialibrary
Using version ^7.12 for spatie/laravel-medialibrary
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    -

[2019-09-06 14:52] Towhid86 commented on #1253
how can i solve this problem forlaravel-medialibrary ......

![problem](https://user-images.githubusercontent.com/40929493/64437535-3d3e6480-d0e8-11e9-972c-9bed97053cdd.JPG)

[2019-09-07 19:46] MattWohler commented on #1118
@voeurnchy did you ever resolve this?

[2019-09-09 21:20] AbdelElrafa commented on #1496
I can confirm that I have randomly received this in production as well.

[2019-09-10 11:22] dejury commented on #1552
Have a look at version 7.12.0. It supports Laravel 6.

[2019-09-10 13:40] Bunix commented on #1253
ok found a hacky solution provided by @jstoone:
add this to your composer.json:

{
    "require": {
+       "spatie/laravel-medialibrary": "^7.0.0"
    },
+   "provide": {
+       "ext-imagick": "*"
+   },
    "require-dev": {

    }
}

[2019-09-10 14:07] rnbroggi commented on #1547
Having the exact same problem when trying to download a zip file.
If it helps, for some reason it seems to work fine on my production app with php 7.1 but not on the one with php 7.3
![screenshot](https://user-images.githubusercontent.com/29467666/64620865-094e9200-d3bb-11e9-83a9-83253ff0f7f0.PNG)

[2019-09-10 16:16] piryguiry commented on #1547
@rubenvanassche, @rnbroggi Yes it's only the zip download fails, in my case on production runs fine with php 7.3.9, and the package version 7.6.0, but after update have this issue.

[2019-09-10 19:17] rnbroggi commented on #1547
@piryguiry Yup, switched back to V7.6.0 and works. Looks like there's indeed an issue with the new version

[2019-09-11 08:00] falur opened #1555 "Get Original File (Not conversion)"
[code]
**in field file_name writes conversions name**

[2019-09-11 11:33] prullenbak opened #1556 "Disable/skip mediaconversions"
Is it possible to add media to a model and skipping the mediaconversions? I'm trying to write a feature test and I don't want to generate thumbnails etc. every time I run the tests.

So something like $model->addMedia($media)->withoutConversions(); Or something like that?

Thanks!

[2019-09-11 11:36] freekmurze commented on #1556
Feel free to submit a PR for this. Make sure to include tests and an updated docs 👍

[2019-09-11 11:36] #1556 closed

[2019-09-11 12:13] prullenbak commented on #1556
Lol. I wasn't trying to tell you this should be in there, just wondering :)

But maybe if I have time soon, I will try to add something.

Thanks for this (and other) great package(s)!

[2019-09-11 14:53] okaufmann opened #1557 "[Question] Optimization tools with Laravel Vapor"
Hi,

I just started Laravel Vapor (no experience with Lambdas yet) and ask myself how to use medialibrary's optimisation tools (https://docs.spatie.be/laravel-medialibrary/v7/installation-setup/#optimization-tools).

I think these can't be installed in a Lambda Function (not tested yet though).

Are there any other Vapor Users, thought about this?

[2019-09-11 20:45] bgarrison25 commented on #1547
Same here. I just rolled back from 7.9 -> 7.6 and it started working again. Had the same issue.

[2019-09-12 04:20] pbgswd commented on #1553
the provide statement was how I got it done today after a lot of time having this problem.

[2019-09-12 10:34] martin-ro opened #1558 "Get private object from S3"
Hi,

I'm uploading images to S3 and set them to private via config in `medialibrary.php` like so:

[code]

Now when I try to retrieve the image for example like this:
[code]
I'm getting Access Denied.

I have set up a IAM user for the bucket with the following policy:

[code]

[2019-09-14 12:47] stemount commented on #1112
@harrysbaraini's answer is *so* close, but it is missing `parent::boot()` which will cause `Undefined index: App\Models\Media`

`<?php

namespace App\Models;

use Illuminate\Database\Eloquent\Model;
use Illuminate\Support\Str;
use Spatie\MediaLibrary\Models\Media as BaseMedia;

class Media extends BaseMedia
{
    public $incrementing = false;

    /**
     * @see https://github.com/spatie/laravel-

[2019-09-15 12:37] amarezenebe opened #1560 "how to pagination get media("avatar")"
How to paginate this?????
$avatar=auth()->user()->getmedia("avatar")

[2019-09-15 16:33] freekmurze commented on #1560
If you wish to paginate don't use the `getMedia` methods but use the Eloquent relationship.

[code]

You can put some extra where conditions between `media()` and `paginate()`.

[2019-09-15 16:33] #1560 closed

[2019-09-16 12:38] emprove opened #1561 "Cant use own Media model"
For example, registerMediaConversions(Media $media = null) method of the HasMediaTrait use typehint with "use Spatie\MediaLibrary\Models\Media;" - we cant implement our own model with different namespace (such as "App\Models") due to error "declaration must be compatible with Spatie\MediaLibrary\Models\Media".

[2019-09-16 18:20] ChristopherCarranza opened #1562 "Chrome / Firefox File Extension Missing"
When using a Media object as a direct response, the file extension is missing when downloading through Chrome or Firefox, Safari has the extension however. I'm using Laravel 6 and MediaLibrary 7.12. The file is hosted on DigitalOcean. The code below is what is used.

[code]

I tried using the more advanced output below, but the path is relative it seems and just sends back an html file with the it

[2019-09-17 00:06] #1562 closed

[2019-09-17 02:07] patrickomeara opened #1563 "Imagick dependency and Laravel Vapor"
I've just tried to update to `v7.12.1` where the dependency for imagick has been removed.

https://github.com/spatie/laravel-medialibrary/commit/2382f0d23d00991e87581c084b801cd93cfb55c1

Imagick is still required in `spatie/pdf-to-image` I've forked `laravel-medialibrary` to try to decouple that dependency as per your comment on https://github.com/spatie/laravel-medialibrary/issues/1480#issuecomme

[2019-09-17 09:00] vdbelt commented on #1561
You'll need to extend the default Media model.

See this page for an example:
https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-your-own-model/

[2019-09-17 09:29] emprove commented on #1561
I cant extend default, cause default use Illuminate\Database\Eloquent\Model, i use Jenssegers\Mongodb\Eloquent\Model.

[2019-09-18 12:39] jordyparks commented on #646
THIS COMMENT SAVED MY LIFE 👍

[2019-09-20 10:30] bigbharatjain opened #1564 "Media files to be accessed by authenticated user only"
Hello
Is it possible to allow only authenticated users to access the media files?
If user tries to access storage url redirect them to login page.
How can I achieve this?

[2019-09-20 10:47] freekmurze commented on #1564
This is out of scope for this package.

[2019-09-20 10:47] #1564 closed

[2019-09-20 11:09] elwin opened #1565 "Backup of S3 files"
Hi there! This is a question rather than an issue.

I'm currently using medialibrary to store images on DigitalOcean Spaces and figuring out a way to keep them backed up.

I was thinking of storing the files simultaneously to two different storage systems, e.g. DO spaces + AWS S3 (essentially a mirror) but reading only from one, however, this doesn't protect me from errors made from my side (e.g.

[2019-09-21 06:12] ziming commented on #1547
7.6.3 works for me, after that the newer versions has this issue. I'm using PHP 7.3 if it helps

[2019-09-22 09:30] ncatanchin commented on #1547
I ran into both of these problems today.

The first was "solved" by checking `is_resource` before attempting `fclose()`

[code]

The second problem is related to Zipstream not sending any HTTP headers by default, which leads to the binary zip data being shown directly in browser:

[code]

The problems would appear to not be related to `laravel-medialibrary` specifically.

References:
* https://git

[2019-09-22 20:59] daugaard47 opened #1567 "Not installing on Laravel 6"
I'm trying to install this package with a Fresh install of Laravel 6.

Tried with version 7.12.0: `composer require "spatie/laravel-medialibrary:^7.12.0"` as it mentions "add support for Laravel 6".

I get the following error.

[code]
Can anyone help me solve this issue so I can get it up and going? Any help would be appreciated.

[2019-09-23 07:40] rubenvanassche commented on #1547
Hi, guys I was on vacation but looking into this today!

[2019-09-24 07:08] eroslover opened #1568 "Cannot save big file"
I faced out with a problem that I can't save a big file because the file size value is out of range for type integer.
I understand that I can write additional migration with `$table->unsignedBigInteger('size')->change();`
But why don't you change `$table->unsignedInteger('size')` to `$table->unsignedBigInteger('size')` in migration stab?

[2019-09-24 07:12] freekmurze commented on #1568
You are the first one to report this, so not too many people have use the medialib with such large files.

I've updated the migration.

If you see further improvements, feel free to PR them.

[2019-09-24 07:12] #1568 closed

[2019-09-24 07:14] freekmurze commented on #1555
There too little info for me to go on. The tests prove that this functionality is working fine. Feel free to open a new PR with more info on how to recreate the problem in a fresh Laravel app.

[2019-09-24 07:14] #1555 closed

[2019-09-24 18:06] NKDM44 opened #1572 "Return value of XYZ::getFallbackMediaPath() must be of the type string, null returned"
In HasMediaTrait.php:

Line: 283: return optional -> null, but function expects string
    public function getFallbackMediaPath(string $collectionName = 'default') **: string**
    {
        return optional($this->getMediaCollection($collectionName))->fallbackPath;
    }

That wasn't intended, right?

[2019-09-25 06:50] freekmurze commented on #1547
The fix by @rubenvanassche is now merged and tagged. This problem is fixed in v7.12.3 of the package.

[2019-09-25 06:50] #1547 closed

[2019-09-25 06:55] StApostol opened #1573 "Rewrite BaseUrlGenerator::getPathRelativeToRoot"
It might be better to rewrite the method to something like that

[code]

[2019-09-25 07:00] freekmurze commented on #1573
Feel free to open a PR with the changes you want. Make sure you add the reason why you want the change and add tests.

[2019-09-25 07:00] #1573 closed

[2019-09-25 07:01] freekmurze commented on #1572
This has been fixed in the latest version.

[2019-09-25 07:01] #1572 closed

[2019-09-25 07:07] StApostol commented on #1573
@freekmurze I created a discussion because I don’t know the initial reasons why it was done differently.

[2019-09-25 08:26] francoism90 commented on #1567
Works fine here on Laravel 6.0, maybe the vendor directory has been corrupted. Could you try again in a clean copy?

[2019-09-25 11:39] Nathanw opened #1574 "Responsive images being deleted."
Issue with responsive image conversions being deleted if the name contains the word of another conversion e.g. `large` and `x-large`. If `x-large` is defined before `large` when running the conversion for `large` it will delete the `x-large` conversions. I believe this is because of this code: `return Str::contains($path, $conversionName);` in [Filesystem@removeResponsiveImages:133](https://github

[2019-09-25 11:47] Namoshek opened #1575 "MediaObserver is not being registered"
Package | Version
---------|----------
`laravel/framework` | 6.0.3
`spatie/laravel-medialibrary` | 7.14.0

I'm running into a very strange issue that I have never ever noticed anywhere else so far. For some reason, the `MediaObserver` is not being registered. Both, `register()` and `boot()` of the `MediaLibraryServiceProvider` are executed properly (verified via some added logs and by fetching a b

[2019-09-25 13:05] ToxaGeek opened #1576 "Duplicate // in getResponsiveImagesDirectoryUrl()"
Duplicate // in https://github.com/spatie/laravel-medialibrary/blob/af0505b7e1f4c5c92b616aa30e5253f2c98fc647/src/UrlGenerator/LocalUrlGenerator.php#L99
`'/responsive-images/'` at `getPathForResponsiveImages()` and `.'/'` in the end of `getResponsiveImagesDirectoryUrl()`

[2019-09-25 14:57] vedmant commented on #1366
You can try to use addMediaFromBase64()

[2019-09-25 18:51] tnorthcutt commented on #1567
I am running into this same problem. @francoism90 what do you mean by "vendor directory has been corrupted"?

@daugaard47 Were you able to get this fixed?

[2019-09-25 18:54] tnorthcutt commented on #1575
It looks like maybe this is related to https://github.com/spatie/laravel-medialibrary/issues/1567, perhaps?

[2019-09-25 19:33] Namoshek commented on #1575
Not getting any installation errors, so I'd probably say no. Actually, I'm not getting any error at all, just not the desired behavior either.

[2019-09-25 21:29] daugaard47 commented on #1567
@tnorthcutt No, I ran a new clean install of laravel and still ran into the exact same problem again. Really have no idea why this is happening. If you figure it out, please let me know what you did to get it working and I'll do the same.

[2019-09-25 22:02] tnorthcutt commented on #1575
@Namoshek Ok, thanks for letting me know.

[2019-09-25 22:10] tnorthcutt commented on #1567
@daugaard47 Will do. I tried on a clean install of Laravel and had success there... but in my app, I did `rm -rf ./vendor && rm -rf composer.lock`, then tried `composer install` and ran into the same problem 🙁

[2019-09-26 08:46] bstrahija commented on #1481
Ok, so we're still having this issue. We have 3 workers setup, and every worker has 3 processes with simple balancing. Since the conversions work on like every 5th/6th try, I'm guessing there an issue with 1 or 2 of those 3 workers.

So, is there a way to tell which worker is responsible for the failed job?
Our workers look something like this:

    some-dummy-app-q-worker-1-Z2Mu
    some-dummy-ap

[2019-09-26 13:21] dakira commented on #92
@ctf0 Actually Laravel has this built in. You can get a hashed version off the file itself. I always want the files saved hashed (keeping the original name), so I use this trait:

[code]

Now I just use HasHashedMediaTrait instead of the original trait.

[2019-09-27 00:12] ctf0 commented on #92
@dakira hashing the file based on content means the file have to be loaded into memory first, while using something generic like uuid is faster and does the same job

[2019-09-27 07:27] ceesvanegmond commented on #535
@riasvdv Any chance of sharing this plugin? 👍

[2019-09-27 15:33] martinschenk commented on #1204
found any solution? i also don't want to save the original.

[2019-09-27 15:54] tnorthcutt commented on #1567
@freekmurze I would love to help solve this! Can you provide any guidance on how I can debug, what information would be helpful, etc.?

[2019-09-27 21:20] SvanThuijl commented on #1567
In the MediaLibraryServiceProvider the config does not seem to load directly after publishing. I did publish the config file manually by copying the file and cleared my config cache manually by removing the bootstrap/cache/config.php.

Running composer dump-autoload and the issue is resolved.

[2019-09-28 03:51] pbgswd opened #1578 "Laravel 6, error on adding with composer require"
Using laradock, Laravel 6, seems to be an issue here when adding package with composer require spatie/laravel-medialibrary

laradock@084ffc0ed756:/var/www/fresh/laravel$ composer require spatie/laravel-medialibrary
Using version ^7.14 for spatie/laravel-medialibrary
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)

[2019-09-28 15:14] heagueron commented on #1567
I am also experimenting trouble installing the package on Laravel 6.

PS C:\Users\luise\laravel\event_backend> composer require "spatie/laravel-medialibrary:^7.0.0"
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Install

[2019-09-29 11:59] oluwajubelo1 commented on #1264
@mhardaniel , please can you show me an example of how to integrate cloudinary with this package? I've been finding it difficult. Thanks

[2019-09-29 17:53] oluwajubelo1 opened #1579 "Error when uploading to cloudinary"
Good day @freekmurze ,
I got this error message when trying to upload files to cloudinary, feof() expects parameter 1 to be resource, null given. The error message shows me a snippet of where the issue is coming from, it's from :
vendor\spatie\laravel-medialibrary\src\Filesystem\Filesystem.php
while (! feof($stream)) {
            $chunk = fread($stream, 1024);
            fwrite($targetFileStream

[2019-09-30 08:30] dakira commented on #92
@ctf0 `hashName` does no hashing of the file, it just generates a name and adds the extension.

[code]

[2019-09-30 08:39] ctf0 commented on #92
oh, i must have confused it with something else, thanx for the headsup

[2019-09-30 17:41] freekmurze commented on #1578
I'm able to install the package in a fresh copy of Laravel.

I'm not a Laradock user, so haven't tested it with that.

I'd accept a PR that fixes this for Laradock users.

[2019-10-01 00:38] pbgswd commented on #1578
@freekmurze I must admit I am stumped by this one. I did all the commands with composer and artisan to clear out bad states in Laravel. I asked a peer about it as well and he only said it looks to be happening really early in the execution cycle. It may have been caused by something else that I have not figured out yet.

[2019-10-01 00:38] #1578 closed

[2019-10-01 23:15] saqueib commented on #1446
@pvs9 Can you share what was the issue?

[2019-10-02 13:26] VitoScarangella opened #1580 "Use two different media tables"
I'm sharing the same database for two different laravel application, but i want to split media table one for each application. I'd like to call the second one as "ge_media" and from that application handle all the uploads and settings for that particular media table.

[2019-10-02 13:28] freekmurze commented on #1580
Out of the box the medialibrary doesn't support this behaviour. What you could do is use custom models. On a model you can specify which db table should be used (this is handled by Laravel).

In the config file of the medialibrary you can specify the model to be used. You can dynamically change this value in your code.

[2019-10-02 13:28] #1580 closed

[2019-10-02 15:30] liran-co opened #1581 "Upload files from a non-local disk"
It doesn't seem possible to use `addMedia` with files from non-local disks, such as s3. Is this intentional, or am I doing something wrong?

[2019-10-02 17:13] ssmusoke commented on #1567
Running in the same issue on Mojave, PHP 7.2.12, composer 1.7.3

"require": {
        "php": "^7.2",
        "facade/ignition": "^1.6",
        "fideloper/proxy": "^4.0",
        "intervention/image": "~2.4",
        "laravel/framework": "^6.0",
        "laravel/nova": "^2.3",
        "laravel/tinker": "^1.0",
        "league/flysystem-aws-s3-v3": "^1.0",
        "spatie/laravel-fractal": "^5.6",

[2019-10-03 07:31] francoism90 commented on #1567
I didn't had trouble with this package, but I remember having the same issue with other packages that should be compatible with Laravel 6. Anyway, a workaround is to remove them (backup/commit project first!), upgrade to Laravel 6 and finally reinstall the missing packages. Also use `composer outdated` to check out-of-dated packages, before trying to upgrade to Laravel 6.

[2019-10-03 10:29] oluwajubelo1 commented on #1271
@Dmarthaller , can you please show me the way on how you solved this? I'll be grateful. Thanks

[2019-10-03 20:14] TickFitness opened #1583 "MediaStream outputting not downloading in API route"
PHP Version: 7.3.3
Laravel Version: 6.0.3
Laravel Media Library: 7.12.2

When accessing an API endpoint via browser (Chrome) the zip file is not downloaded but seems to just display lots of characters on screen.

![image](https://user-images.githubusercontent.com/47610017/66107908-458ba180-e5b9-11e9-9332-86e73cdb8113.png)

[code]

[2019-10-03 20:23] TickFitness commented on #1583
Response headers don't seem to be correct...

![image](https://user-images.githubusercontent.com/47610017/66161042-583ac080-e623-11e9-8976-cd2d623bf7ef.png)

Middleware being used...

[code]

My json-response middleware which I have pasted below.
[code]

[2019-10-03 20:34] #1583 closed

[2019-10-03 20:35] TickFitness commented on #1583
Closed this issue, updating the package fixed the problem.

[2019-10-04 10:13] ixperiencenl commented on #1460
I am having this problem too. I just can't get it to skip the image conversion if it's a PDF, DOCX or whatever other extension. How did you solve this?

[2019-10-04 11:07] rubenvanassche commented on #1575
Hi @Namoshek,

I couldn't reproduce your issue in a clean Laravel installation.

Can you verify if the `MediaLibraryServiceProvider` is registered? If so can you check what's in the `$mediaClass` variable in `MediaLibraryServiceProvider`? Since we're calling `$mediaClass::observe(new MediaObserver());` there which handles the control over to the Laravel Framework(https://laravel.com/docs/5.8/eloqu

[2019-10-04 11:38] rubenvanassche commented on #1574
Hi @Nathanw

I tried to reproduce your issue but the images still exist.

I have a User:
[code]

And a test:

[code]

When looking into the `public/1/responsive-images` directory I can find conversation for large and grey-large.

Could you please tell me what I need to change so my grey-large conversions would be deleted?

[2019-10-04 11:52] ixperiencenl opened #1584 "Unsupported image type. GD driver is only able to decode JPG, PNG, GIF or WebP files"
When trying to upload files like PDF's, DOCX or MPEG4, I always get this error. The upload is completed but this error pops up.

PDF's aren't being generated but DO upload.

I already tried a custom Generator, but it looks like the MediaLibrary doesn't take this into account.
The error comes from Intervention\Image\Exception\NotReadableException and gives this because the file extension isn't corr

[2019-10-04 18:16] tnorthcutt commented on #1567
@francoism90 In my case, the app was already on Laravel 6 (and was started on Laravel 6), so there's nothing to upgrade 😕 .

If it helps anyone debugging this, this line in `MediaLibraryServiceProvider::boot()` returns `null`:
[code]

[2019-10-04 18:28] tnorthcutt commented on #1567
I was finally able to get this working by commenting out most of `MediaLibraryServiceProvider::boot()` (except for the `$this->publishes()` portion at the top), then publishing the config file, then running `artisan config:clear`. Then, I was able to delete the published config file, uncomment the `boot()` method, and things still worked. Hopefully that's helpful to someone.

[2019-10-04 21:16] Namoshek commented on #1575
Hi @rubenvanassche,

thanks for asking. Yes, the service provider is registered and the `$mediaClass` variable contains the correct FQCN `Spatie\MediaLibrary\Models\Media`. Execution of the service provider is also flawless (I debugged the execution and it looks fine; I also added log statements before and after the `$mediaClass::observe(new MediaObserver())` statement and there is no issue there

[2019-10-06 20:05] Nathanw commented on #1574
@rubenvanassche will take a look at this tomorrow and get back to you with a reproducible test.

[2019-10-07 10:52] #1552 closed

[2019-10-07 10:53] freekmurze opened #1586 "The tests are failing"
This should be fixed.

[2019-10-07 10:55] freekmurze commented on #1581
Sure you can, take a look at the example here: https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/working-with-multiple-filesystems/

[2019-10-07 10:57] freekmurze commented on #1579
Seems like the error is occuring somewhere in the Filesystem layer. To work with external filesystems the package just used Laravel filesystem abstraction, which uses Flysystem under the hood.

For issue around this, open an issue at the tracker of flysystem or the flysystem driver you are using.

[2019-10-07 10:57] #1579 closed

[2019-10-07 10:59] freekmurze commented on #1565
This question is out of scope of the medialibrary. Implementing a backup strategy is your responsability, the package doesn't take care of this.

I think you can enable some kind of backup on S3 itself.

[2019-10-07 10:59] #1565 closed

[2019-10-07 13:50] jameslkingsley commented on #1581
Having the same issue - though the issue is not uploading **to** a separate disk, but uploading **from**. My use case right now is uploading an avatar via Laravel Vapor S3 stream (all handled on the client), and then on the server I want media-library to add the file that already exists in the S3 bucket in the `/tmp` directory. Something like `addMedia('tmp/something', 's3')` would be good.

[2019-10-07 14:41] jameslkingsley opened #1587 "Laravel Vapor Support"
Laravel Vapor requires you to upload files via a client-side S3 stream, in order to avoid reaching the 6 MB request limit that AWS Lambda has.

When the file is uploaded to S3 via the client-side stream, the path to the uploaded file is then sent to the server, which should then send it through media-library's pipeline.

This is seemingly difficult to implement on the surface, and I think requires

[2019-10-07 15:51] liran-co commented on #1581
@freekmurze, sorry if I wasn't clear. What @jameslkingsley described is what I'm looking for - uploading files **from** a non-local disk.

[2019-10-07 21:56] Nathanw commented on #1574
Hey @rubenvanassche if you run your tests again but use the s3 driver you should see it remove the "grey-large" responsive images. This could be with how s3 matches file names but i'm not sure.

[2019-10-08 07:43] freekmurze commented on #1581
Right... I think support for this should be added to the medialibrary. Currently I don't have time to look into it. If you need this quick, I'd accept a PR with tests and updated docs that adds support for this to the package.

[2019-10-08 07:44] freekmurze commented on #1587
This one is related to #1581

I don't have time to work on this now, but I'd accept a PR that adds support for this scenario to the package.

[2019-10-08 08:00] jameslkingsley commented on #1581
I'm currently working on getting a quick solution built into this package

[2019-10-08 09:43] jameslkingsley opened #1589 "Add option to use original file as conversion until the actual conversion is created"
An option that would perhaps be useful - maybe this is the wrong way to do this - is to use the original file for the specified conversions, until the real conversions have been created. This would solve issues where conversions need to be queued, but also referenced before those jobs have executed.

[2019-10-08 13:26] jameslkingsley commented on #1589
On second thought this seems like a bad solution. If a conversion is not yet created then the `getFirstMediaUrl('collection', 'conversion')` (and similar) should return with the original?

[2019-10-08 19:53] msassa commented on #1522
I have the same problem, images larger than 4050px take a long time to perform conversions. And all the queue is delayed.
I try with an image of 4100x2000px, with a weight of 600kb and the delay is incredibly large.
While with a 4050x2000px, with a weight of 2.2Mb, the delay is 2 seconds.
The conversions I am applying is a simple resize.
Any way to avoid this? It's breaking completely my queue

[2019-10-09 08:39] freekmurze commented on #1586
Test are still failing...

[2019-10-09 14:44] ixperiencenl commented on #1584
Looks like no one has or had this problem?

[2019-10-09 14:56] devinfd commented on #220
This issue still exists

[2019-10-09 14:59] msassa commented on #1522
I think this was solved changing the image driver to imagick.
https://github.com/spatie/laravel-medialibrary/issues/395#issuecomment-258824206

[2019-10-09 17:13] adminfriso opened #1592 "Delete function removes to much"
When calling the delete function on the media eventually in Filesystem.php the removeAllFiles method is called. Here the complete directory with its contents is deleted.
When overriding the default behaviour for path generation there are cases that there is other content in the directory of the media that is deleted.
EG, for the scouts group i developed a photo book (going opensource soon ;) ). he

[2019-10-09 17:55] freekmurze commented on #1592
That behaviour is documented. See last paragraph here: https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-a-custom-directory-structure/

[2019-10-09 17:55] #1592 closed

[2019-10-09 18:06] adminfriso commented on #1592
Do you have any suggestions to let this work in my case?

[2019-10-10 11:47] Treggats commented on #1584
I've messaged you in Slack, but also posting here to keep everyone up to date on the progress.

This package is, as far as I can see, for images only. So there is no support for non images like a pdf.
When dealing with pdf's I'd suggest using the [pdf-to-image](https://github.com/spatie/pdf-to-image) package to create an image from your pdf and then use Medialibrary to create a thumbnail.

[2019-10-10 15:08] imannms opened #1593 "how to set s3 root ?"
I have read the docs, but not find anything related to `how to set s3 root`.

I didn't want to use default root: `'/'`.
I want to use different directory: `'/my/custom/root/'`.

[2019-10-10 22:47] freekmurze commented on #1593
I don't think the S3 Flysystem driver currenlty allows this

[2019-10-10 22:47] #1593 closed

[2019-10-11 07:35] riasvdv commented on #1586
Tests are no longer failing!

[2019-10-11 07:35] #1586 closed

[2019-10-11 07:57] riasvdv commented on #1567
I can't reproduce this on a fresh Laravel 6 install (^6.2 in composer), maybe something was fixed to solve this in the Laravel release.

[2019-10-15 09:56] ixperiencenl commented on #1584
PDF generating does work when running the **regenerate** command. Also, in the documentation it states: "The PDF generator requires Imagick and Ghostscript. If you’re running into issues with Ghostscript have a look at issues regarding Ghostscript."

[2019-10-15 14:14] jariesdev opened #1595 "php artisan medialibrary:regenerate --only-missing on S3 driver using minio"
Hi, first of all thank you for your wonderful work with this package.

I have an issue regarding `php artisan medialibrary:regenerate --only-missing` command it appears that not checking if the file already exists and once run it updates all conversions. I can check because all timestamp has been updated and taking lots of time to finish

[2019-10-15 22:43] freekmurze commented on #1595
Can you PR a failing test for us to fix?

[2019-10-16 12:10] rubenvanassche commented on #1575
Hi @Namoshek,

I'm sorry I can't help you. You could maybe try to install the media library in a clean Laravel installation on your system. If it still fails there's maybe something wrong with the configuration of your system?

Good luck!

I will close this issue for now, feel free to reopen it if you have a new lead!

[2019-10-16 12:10] #1575 closed

[2019-10-16 13:12] devilstars commented on #1567
Same error here:
[code]

Clean laravel 6.2 installation.

@SvanThuijl's solution helped to solve it.

[2019-10-16 13:45] #1258 closed

[2019-10-16 13:59] rubenvanassche commented on #1574
Hi @Nathanw,

I just ran the test i've written above on s3 and still have both the `large` and `grey-large` images. Can you provide your failing test?

[2019-10-16 20:28] ManukMinasyan commented on #1567
I have the same error with laravel 6.2.

[2019-10-18 14:01] aprdev47 commented on #949
Illuminate \ Database \ QueryException (HY000)

SQLSTATE[HY000]: General error: 2036 (SQL: select * from `media` where `media`.`model_id` = 41 and `media`.`model_id` is not null and `media`.`model_type` = App\User)

Works fine in my production instance

Having an issue while running it locally

[2019-10-18 14:49] jehkinen commented on #949
I solved this issue by changing relation names for morph relation type

[code]

[2019-10-19 07:20] webcrazy commented on #1543
I just tested this issue with my s3 and looks like working fine.

[2019-10-19 07:26] Gummibeer commented on #1543
@webcrazy what's the name of your filesystem S3 storage? Is it `s3` like the driver or something else?

[2019-10-19 07:40] webcrazy commented on #1543
@Gummibeer laravel media library driver s3.
1. I created a bucket in amazon s3
2. I created a bucket
3. created IAM user
then I uploaded a few images associated an eloquent user. And I deleted that user and every folder inside bucket is gone. So I think it's working as expected.

[2019-10-19 07:56] ziming commented on #1543
what is the iam policy you used?

[2019-10-19 07:59] webcrazy commented on #1543
@ziming  AmazonS3FullAccess

[2019-10-19 10:36] Gummibeer commented on #1543
@webcrazy could you change the name of your storage to something else and try if it still deletes the "folder"?

[2019-10-19 15:31] webcrazy commented on #1543
@Gummibeer you mean the bucket name?

[2019-10-19 16:30] Gummibeer commented on #1543
@webcrazy no I mean the name of your filesystem storage in the Laravel config.
So in the `config/filesystems.php`.

[2019-10-19 19:06] guifelix opened #1597 "Custom path"
I've tried many ways of setting a custom path but no luck so far...
this are my files:
CustomPathGenerator
[code]

config/medialibrary.php
[code]

app/Http/Controllers/ApplicationController.php (store)
[code]
app/Http/Controllers/ApplicationController.php
[code]
Application Model
[code]

[2019-10-19 20:14] #1597 closed

[2019-10-20 02:19] webcrazy commented on #1543
@Gummibeer  I changed it to local, tested with a few images and still working it fine.

[2019-10-21 09:43] zahidhassanshaikot commented on #749
try this
// delete previous image in the database
                $query = DB::table('media')->where('id', $media_id);
                if ($query->count() > 0) :
                    $query->delete();
                endif;

                $path= storage_path("app/public/" . $media_id);
                //remove folder
                $this->rmdir_recursive($path);

protected function rmdir_recursi

[2019-10-21 10:42] thrazu opened #1598 "delete all media on model truncate method"
Hi and many thanks for this great library!
I'm using a model named Temp for storing temporary media and I need to truncate this model at the end of the day. The truncate method `Temp::truncate();` does not remove all the media. In fact, all media remains untouched.

[2019-10-21 11:52] MelimeliDev opened #1599 "Cannot install the package with laravel 6.2"
Problem 1
- Installation request for spatie/laravel-medialibrary 7.0.0 -> satisfiable by
spatie/laravel-medialibrary[7.0.0].
- Conclusion: remove laravel/framework v6.3.0
- Conclusion: don't install laravel/framework v6.3.0
- spatie/laravel-medialibrary 7.0.0 requires illuminate/bus ~5.5.0|~5.6.0 -> satisfiable by laravel/framework[5.5.x-dev, 5.6.x-dev]
- don't install illuminate/bus v5.6.35|don't

[2019-10-21 11:55] freekmurze commented on #1598
It'll work with `Temp::each()->delete()`.

[2019-10-21 11:55] #1598 closed

[2019-10-22 10:21] francoism90 opened #1600 "Animated GIF conversion not working"
I'm really confused how to proper generate animated GIF conversions. I tried suggestions as seen in #948, but I'm keep getting a static GIF.

[code]

[code]

[code]

Thanks.

[2019-10-22 11:35] zohaibhassan156 commented on #1599
Same problem with Laravel 6.3

[2019-10-23 08:54] francoism90 commented on #1600
I was confused about how the generators work. It seems only the first matching generator is used and it's simple perform one single task.

I have workaround it by waiting for events and simple run a second job to perform additional stuff. This also seems a bit of a better solution as it allows reading the Media model as well. :)

[2019-10-23 08:54] #1600 closed

[2019-10-23 10:52] chisumo2016 commented on #86
I am using window OS  .

[41;1m Spatie\MediaLibrary\Exceptions\FileCannotBeAdded\UnreachableUrl [49;22m : [33mUrl `C:\laragon\www\Real-Estate-Application\public\images/locations/birmingham.jpg` cannot be
reached[39m

  at [32mC:\laragon\www\Real-Estate-Application\vendor\spatie\laravel-medialibrary\src\Exceptions\FileCannotBeAdded\UnreachableUrl.php[39m:[32m11[39m
     7| class UnreachableUrl exte

[2019-10-23 10:53] chisumo2016 opened #1601 "Image Path issue on window - Help"
I am using window OS .

[41;1m Spatie\MediaLibrary\Exceptions\FileCannotBeAdded\UnreachableUrl [49;22m : [33mUrl C:\laragon\www\Real-Estate-Application\public\images/locations/birmingham.jpg cannot be
reached[39m

at [32mC:\laragon\www\Real-Estate-Application\vendor\spatie\laravel-medialibrary\src\Exceptions\FileCannotBeAdded\UnreachableUrl.php[39m:[32m11[39m
7| class UnreachableUrl extends FileCa

[2019-10-23 11:01] stefan377 opened #1602 "Set order_column when associating a file"
Hi,
how can I set a order_column when I associate a file? In documentation I see only a method for changing value after retrieving the media item.
Is there something like
[code]

[2019-10-23 13:05] chisumo2016 opened #1603 "public_path() issues"
I am trying to add the image using media library   with the following piece of code  below
$locationObject->addMediaFromUrl(public_path('images/locations/' . $slug . '.jpg' ))
            ->toMediaCollection('photo');

but when i run php artisan migrate: fresh --seed I get the error on the console  as shown below

Spatie\MediaLibrary\Exceptions\FileCannotBeAdded\UnreachableUrl [49;22m : [33mUrl `C

[2019-10-24 09:56] lingotacro opened #1605 "getfirstmediaurl() on null"
hi since i begin to use this library i have this probem when i try to retrieve the mediaUrl.
to get mediasUrl i do that :
**`$datasB->getFirstMediaUrl('page_img')`**
and i get always this error when the medias does not exist
**call to a member function getfirstmediaurl() on null**
pls i need to your answer .

[2019-10-24 10:58] chisumo2016 commented on #190
I am still having some issues with the media library.  Can some who is willing to assist with the public path.
Spatie\MediaLibrary\Exceptions\FileCannotBeAdded\UnreachableUrl [49;22m : [33mUrl `C:\laragon\www\Real-Estate-Application\public\/images/locations/birmingham.jpg` cannot be
 reached[39m

code
  'disks' => [

        'local' => [
            'media' => [
                'driver' => 'local'

[2019-10-24 12:15] 4g3nt0r4ng3 commented on #1228
Just chain it.
`$images = $this->getMedia('images')->where('id', $this->primaryMediaId);`

[2019-10-24 12:57] messerli90 opened #1606 "SQL err: Incorrect integer value when using UUID"
I could not associate images with a model that has `uuid` as the primary key using

`$community->addMediaFromRequest('media')->toMediaCollection('avatars');`

And getting the error:
`SQLSTATE[HY000]: General error: 1366 Incorrect integer value: 'f71279cd-6f33-4edc-a7fe-7f70cb9d039a' for column 'model_id' at row 1`

After some digging I found the migration uses:

`$table->morphs('model');`

I updat

[2019-10-24 13:04] moyvera commented on #190
@chisumo2016 I think you should use addMedia only instead of addMediaFromUrl

I'm not checking the code but I remember addMediaFromUrl is mean to be used for remote URLs via http

Docs: https://docs.spatie.be/laravel-medialibrary/v7/api/adding-files/#addmedia

[2019-10-24 21:25] freekmurze commented on #1605
Make sure `$datasB` contains a model and not `null`

[2019-10-24 21:25] #1605 closed

[2019-10-25 05:17] brobey8 commented on #1541
Thanks for the reply @brendt I didn't end up using it in this way but I have noted your comment as a way to do this in the future. Closing the issue.

[2019-10-25 05:17] #1541 closed

[2019-10-25 07:52] tiangzcdgz opened #1607 "Single File Upload"
How i can upload file without association with my model?

[2019-10-26 05:56] freekmurze commented on #1607
This currently is not possible.

[2019-10-26 05:56] #1607 closed

[2019-10-28 12:36] elnurxf commented on #1599
Same here
Installation request for laravel/framework (locked at v5.8.35, required as 5.8.*) -> satisfiable by laravel/framework[v5.8.35].

[2019-10-28 13:15] tariksisbacak opened #1608 "responsive images manipulation and watermark"
Hi,

How do I add watermark to the responsiveImages collection?

I used spatie/image but I get "Server error" error with laravel valet.

Thanks

[2019-10-28 17:48] lukadriel7 opened #1609 "Creating single file collection on the fly"
Hello, Thank you again for the great packages (I almost always check Spatie when I need something).
I am trying to implement a comic viewer where each page of an issue is a single file collection.
The problem is I don't know in advance the number of pages so I would like to know if it is possible to
create single file collection without defining them in the model.
I would normally use a collection

[2019-10-29 01:17] eduardaarosaa opened #1610 "Retorno em branco ao tentar recuperar uma imagem"
Estou tentando recuperar imagens de uma consulta, está limitada a 3 imóveis, e queria recuperar as imagens dos imóveis.
![view_foto](https://user-images.githubusercontent.com/36130064/67729642-9af87a00-f9d0-11e9-8965-9a8c485ccd8b.png)

Essa é minha view

![metdo](https://user-images.githubusercontent.com/36130064/67729661-b5caee80-f9d0-11e9-9187-690a6e791bc2.png)

Esse é meu metodo

Simplesmente n

[2019-10-29 03:43] freekmurze commented on #1599
I'm able to install the package in the newest version of Laravel.

How you tried installing it in a vanilla copy of Laravel?

[2019-10-29 04:08] freekmurze commented on #1610
Please use English when creating issues.

[2019-10-29 04:08] #1610 closed

[2019-10-29 04:39] MelimeliDev commented on #1599
I just tried again with a fresh vanilla copy of laravel 6.4.0 (laravel new ...)
Failed again, same error.

Problem 1
    - Installation request for spatie/laravel-medialibrary 7.0.0 -> satisfiable by spatie/laravel-medialibrary[7.0.0].
    - Conclusion: remove laravel/framework v6.4.0
    - Conclusion: don't install laravel/framework v6.4.0
    - spatie/laravel-medialibrary 7.0.0 requires illumina

[2019-10-29 07:34] freekmurze commented on #1599
@rubenvanassche can you try to recreate this?

[2019-10-29 09:45] RomanNur opened #1611 "Using own model"
Hi, I'am trying to use my own model (table) instead of standard `media` one.
I changed parameter 'media_model' in medialibrary.php to my own class like this
`'media_model' => App\Models\App\CustomMedia::class`
Then in the CustomMedia.php model I wrote the following
[code]

Now, when I'am entering the index page of a resource with image parameter:
[code]

I'am getting an error like
`... unknown col

[2019-10-29 11:11] freekmurze commented on #1611
It's better to use the original column names.

[2019-10-29 11:11] #1611 closed

[2019-10-29 12:34] RomanNur commented on #1611
So as of now, it's impossible to use any other table/ column names except standard `media` table and standard columns? Why is there an option to change the model in the config then? I'am not complaining, just curious. I will use default `media` than.

[2019-10-29 12:39] eduardaarosaa commented on #1610
Sorry, I not know.
I will write other issues in English.
Thanks

[2019-10-29 12:42] eduardaarosaa opened #1612 "Blank Return When Trying to Return Media"
I am trying to retrieve images from a query, it is limited to 3 properties, and wanted to retrieve images from properties.

![view](https://user-images.githubusercontent.com/36130064/67767958-4dabf500-fa30-11e9-9d8d-6723b819f008.png)
These my view

![controller](https://user-images.githubusercontent.com/36130064/67767988-556b9980-fa30-11e9-9719-40691f8c3fb4.png)

These my controller

Simply return

[2019-10-29 20:39] atymic commented on #1608
Can you post some more specific errors?
There's not a lot to go on in your issue.

[2019-10-30 06:47] elnurxf commented on #1599
Able to install without specified version by:
composer require spatie/laravel-medialibrary

It's automatically detects and installs version ^7.14

[2019-10-30 07:23] #1599 closed

[2019-10-30 12:05] tariksisbacak commented on #1608
I solved the problem. but i want to apply watermark to responsive images

withResponsiveImages()

this way you can do it with thumb and watermark.

`
            $this->addMediaConversion($media->basename.'-watermark')
            ->watermark(public_path('assets/images/logo.png'))
            ->nonQueued();`

[2019-10-30 12:20] hazem-taha opened #1613 "Getting The "/tmp/****" file does not exist or is not readable."
Hello,

I'm getting the below error even if I'm uploading very small images.

![image](https://user-images.githubusercontent.com/46519001/67857785-b4acd500-fb28-11e9-8ec1-394d71935af5.png)

any solution ??

Thanks

[2019-10-31 00:44] freekmurze commented on #1611
This allows you to add extra methods and add extra fields to a model.

[2019-10-31 10:34] tariksisbacak commented on #1608
Solved.

[code]

I only have one question. What should I do to use the original file instead of the large thumbnail ?

<img width="561" alt="Screen Shot 2019-10-31 at 13 34 24" src="https://user-images.githubusercontent.com/15222704/67939696-2a757700-fbe3-11e9-8f69-42b5836aa8aa.png">

[2019-10-31 13:34] bogatyrev-dev opened #1614 "withManipulations work only for '*'"
[code]
'thumb' conversion registered in model

I expect the thumb to be rotated 90 and greyscale. but it only rotated

[2019-10-31 14:09] tariksisbacak commented on #1614
I tried, but i couldn't get it to work. However, you can define registerMediaConversions and do it with spatie/image.

https://docs.spatie.be/image/v1/image-manipulations/effects

[code]

[2019-10-31 15:57] bogatyrev-dev commented on #1614
@tariksisbacak ty for answer. The above is just an example. In my production code i need withManipulations()

I found a solution.
In my code above i use  `->toMediaCollection($collectionName);`
But `->performOnCollections($collectionName)` was not written in my registerMediaConversions
[code]

Аfter i added it everything everything work as it should

[2019-10-31 15:57] #1614 closed

[2019-10-31 19:54] freekmurze commented on #1602
Agreed.

[2019-10-31 19:54] #1602 closed

[2019-10-31 19:56] freekmurze commented on #1613
@hazem-taha it's probably related to some permission setting in your environment. If there is something that can be done in medialibrary to fix this, send a PR.

[2019-10-31 19:56] #1613 closed

[2019-11-03 12:43] TimothePearce commented on #1603
You should try to use the `addMedia()` methods instead.

[code]

[2019-11-03 21:36] sudipt0 opened #1616 "Return value of Spatie\MediaLibrary\PathGenerator\BasePathGenerator::getBasePath() must be of the type string, null returned"
**Getting an error in Laravel 6.2**

[code]

`vendor/spatie/laravel-medialibrary/src/PathGenerator/BasePathGenerator.php:39`

[2019-11-04 08:21] allaniftrue opened #1617 "Trigger event on a specific model"
How do you trigger ```Spatie\MediaLibrary\Events\MediaHasBeenAdded``` event on a specific model?

[2019-11-04 08:58] freekmurze commented on #1617
If you add media to a model, the event will be fired.

[2019-11-04 08:58] #1617 closed

[2019-11-04 09:07] freekmurze commented on #1616
The tests prove that the latest version of this package is working perfectly. Could you try installing the latest version of the pacakge in a vanilla laravel app and check if you are having problems there?

[2019-11-04 09:08] #1603 closed

[2019-11-04 10:41] maxmillan opened #1618 "PHP Error: Call to a member function getUrl() on string in /var/www/html/chatApp/app/User.php on line 68"
public function registerMediaCollections()
    {
        $this
            ->addMediaCollection('avatar')
            ->acceptsFile(function (File $file) {
                return $file->mimeType === 'image/jpeg';
            })
            ->registerMediaConversions(function (Media $media){
                $this->addMediaConversion('card')
                    ->width(368)
                    ->wid

[2019-11-04 10:41] #1618 closed

[2019-11-04 18:09] bbashel1 opened #1619 "Media download using StoreFromUrl is downloading as text/html"
It seems file URL from google drive is not the end URL of the file. It has multiple redirect URLs so this library is keeping  as  "text/html". Is there any way I can / or this library handle redirect URL? Also, does this library have any maximum limitation media download? My app have already download 900K+ media using this library so is there any limit of number?

[2019-11-04 20:59] arnakoguzhan commented on #1062
Same as @Canser. Both my mac and on the server Ubuntu have the same issue while I trying to add multiple images from request using addAllMediaFromRequest().

Also, an interesting thing, when I was trying to edit existing model (or newly created model) the function above works. I could not figure it out that it happened when I try to store a new model.

[2019-11-05 00:12] allaniftrue commented on #1617
I mean on a specific model only, so that it won't trigger on other models with media.

[2019-11-05 01:00] allaniftrue commented on #1617
Nvm, I just added a check for model_type to filter which event can only pass through. Thanks!
Example:

[code]

[2019-11-05 07:38] farvisun opened #1620 "Create temp folder in storage, when use custom s3 like driver"
I write a custom driver that use S3Client . media library use it fine and all things work perfect, but today I figureout there is a folder in local storage folder that names `storage/medialibrary/temp/`.
At that folder there is a lot of folders that all folders have single file with zero byte.this is my custom driver code
[code]

after just 4 weeks, this is number of folders in temp
[code]

[2019-11-05 13:46] kevinmakwana commented on #1567
I have the same error with laravel 6.2.

[2019-11-05 13:58] RobertCordes commented on #1553
Thanks @mokhosh. Your solution is hacky but i works :)

[2019-11-06 09:15] Pixelairport opened #1621 "Media::find($id) not working"
Hi. Maybe there is another way, but i try to get a Media Model Object from Database. I have a user which has a lot of "Connected Friends". I have only the ids for the friends and want to show the avatars. But i dont want to load each friend. I want to get the media objects and after that get the path of them. Is that possible? Because this does not work:

[code]
It will return null, even there is

[2019-11-06 10:36] Pixelairport commented on #1621
not sure why ... its now working

[2019-11-06 10:36] #1621 closed

[2019-11-07 19:35] mohammad76 opened #1622 "Update Attached Media"
How can I Update or edit attached media from Model ?

[2019-11-07 22:22] freekmurze commented on #1622
Media is just an eloquent model, so you can treat it as such.

[code]

You can't change a file that is associated with a media. You can always just delete the media and attach a new file (causing a new Media model being created) to your model.

[2019-11-07 22:22] #1622 closed

[2019-11-08 15:38] jodak94 commented on #1551
up

[2019-11-08 17:25] gdebrauwer commented on #1558
If a file has visibility 'private' on S3, that normally means you can't access the file via its url. I don't think the IAM user's policy has any effect on that.

[2019-11-10 07:10] mebron opened #1624 "Unable to install on Laravel 6.5"
Getting following error:-
Installation request for laravel/framework (locked at v6.5.0, required as ^6.2) -> satisfiable by laravel/framework[v6.5.0]

please update

[2019-11-10 08:39] fsaravi opened #1625 "moving files from one model to another in ftp filesystem raise error: ftp_rmdir(): Can't remove directory: No such file or directory"
in ftp filesystem when I want to move file from one model to another model this error raise:
ftp_rmdir(): Can't remove directory: No such file or directory

when I trace code found that when function removeAllFiles in class Spatie\MediaLibrary\Filesystem\Filesystem calls (line 104), it tries to remove root files folder and in subsequent it tries to remove **conversions** and **responsiveImages** f

[2019-11-11 08:23] danielshongo opened #1626 "medialibrary not save the picture in the storage file in prodution"

[2019-11-11 08:37] freekmurze commented on #1626
There’s too little info here to reproduce the issue. Tests prove that the package is working as intended. Please submit a failing test.

[2019-11-11 08:37] #1626 closed

[2019-11-11 08:40] fsaravi commented on #1624
I install it in laravel/framework 6.5 and it works without any problem.
maybe your composer.lock file creates this problem.
can you remove composer.lock file and try again.

[2019-11-11 08:42] #1624 closed

[2019-11-11 09:03] mebron commented on #1624
noway, still getting error

Installation request for spatie/laravel-medialibrary 7.0.0 -> satisfiable by spatie/laravel-medialibrary[7.0.0].
    - Conclusion: remove laravel/framework v6.5.0
    - spatie/laravel-medialibrary 7.0.0 requires illuminate/bus ~5.5.0|~5.6.0 -> satisfiable by illuminate/bus[5.5.x-dev, 5.6.x-dev, v5.5.0, v5.5.15, v5.5.16, v5.5.17, v5.5.2, v5.5.28, v5.5.33, v5.5.34, v5.5.3

[2019-11-11 09:50] danielshongo commented on #1626
when i refrech the web site after uploading images, it only black, but when i make ctrl+u i see the link for images, but the folder storage are empty

[2019-11-11 13:05] fsaravi opened #1627 "Declaration of App\Models\Task::registerMediaConversions(?App\Models\Media $media = NULL) must be compatible with Spatie\MediaLibrary\HasMedia\HasMedia::registerMediaConversions(?Spatie\MediaLibrary\Models\Media $media = NULL)"
I set my Media Model in config file that is extend of Spatie\MediaLibrary\Models\Media and it is in App\Models namespace.

when I try to add registerMediaConversions method to my model that has some media, raise this error:
[code]

this error is completely clear. the method should completely compatible with method that declares in interface HasMedia.

[2019-11-11 15:46] tiagosimoesdev commented on #1613
I'm getting the same issue . Already tried in Windows, macOS and linux ..

[2019-11-11 15:52] mi600 commented on #621
In my case, the folder did not exist in `public/`. After creating the folder, the exception disappeared

[2019-11-12 05:15] amirasyraf commented on #1567
Experiencing the same error on Laravel 6.2

[2019-11-12 06:20] martindrapeau commented on #812
Same problem on Windows.

[2019-11-13 03:05] connecteev commented on #675
Updated for medialibrary v7:

[code]

[2019-11-13 03:14] connecteev opened #1628 "Specify folder for S3 storage dynamically (during media creation / upload)"
#675 addressed the problem of not being able to customize the path / folder for storage in S3.

However, there still is no way (that I know of) to save images (for different collections) in different sub-folders. For example, a saveTo() would be useful:

[code]

[2019-11-13 14:08] Aronastu opened #1629 "Reading Exif data is not supported by this PHP installation."
I already add exif extension on my php.int, but the problem is not solve. I also check in my terminal php -m and exif enable properly, what should I do next ? any suggestion and help.

[2019-11-13 14:27] Aronastu commented on #1629
restart the server //it will work

[2019-11-13 14:28] Aronastu commented on #1629
Spatie\MediaLibrary\Exceptions\FileCannotBeAdded\FileDoesNotExist

other problem!!  any help

[2019-11-13 15:26] CharlyZA commented on #1567
This worked perfectly for me with Laravel v6.5.1. Thank you so much

[2019-11-13 19:20] freekmurze commented on #1628
We don't need this functionality ourselves, so probably we won't add this.

[2019-11-13 19:20] #1628 closed

[2019-11-14 06:30] academici opened #1630 "[Question] Using registerMediaConversions with custom filename"
[code]

Hot to implement custom filename generation for media conversion?

[2019-11-14 20:35] francoisdop opened #1631 "Bug with CustomPathGenerator"
I implemented a customPathGenerator class:

`class CustomPathGenerator implements PathGenerator`

in the method:
`getPath(Media $media)`

if I use any string with $media->id it works perfectly:
`getPath(Media $media)
{
return 'test' . $media->id . '/';
}
`

But If I doesn't return with $media->id it Doesn't create the folder thus not uploading anything:
`
getPath(Media $media)
{
return 'test' . '/

[2019-11-14 22:02] francoisdop commented on #1631
the culprit is in Spatie\MediaLibrary\Filesystem\Filesystem:

`
public function copyToMediaLibrary(string $pathToFile, Media $media, ?string $type = null, ?string $targetFileName = null)
    {
...
$this->filesystem
                ->disk($media->disk)
                ->put($destination, $file);
....
}
`

also if set the getPath to an existing folder (ex: 'users') it will wipe out this folder with

[2019-11-15 02:36] francoisdop commented on #1631
after investigation

this will not work :

`
getPath(Media $media) {
return 'test' . '/';
 }
`

but this will work:

`
getPath(Media $media)
{
return 'test' . '/x';
 }
`

(not finishing the string with a slash '/')

why ??

[2019-11-15 10:42] freezer278 commented on #1370
I have same issue, can this be fixed?

[2019-11-18 11:00] paligiannis opened #1632 "Getting Model Without Media"
Hey all, is it possible to retrieve model without related media. I have a database with 40.000 products and when I do `Products::all()` it runs 2 queries I am interested in.
1. `select * from products` -> normal 173.12ms
2. `select * from media where media.model_id in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, .... HU

[2019-11-18 11:23] 82136 opened #1633 "Error when installing"
Hello, i'm getting an error when i'm trieing to install the package:

Class name must be a valid object or a string

  at C:\xampp\htdocs\powerproject\vendor\spatie\laravel-medialibrary\src\MediaLibraryServiceProvider.php:33
    29|         ], 'views');
    30|
    31|         $mediaClass = config('medialibrary.media_model');
    32|

    34|
    35|         $this->loadViewsFrom(__DIR__.'/../resou

[2019-11-18 21:01] AforDesign opened #1635 "How To use a Custom Image Optimizer (Tinify)"
I'm having troubles with the default optimizers.
Especially with 8bit png's (with reduced number of colours and transparency).
The scaled down conversions are up to 10 times as big as the original, defying the purpose of optimizing.

Therefor I'd like to use [Tinify](https://tinypng.com/), which already has an API and gives excellent results out of the box.

Is it possible to replace the default o

[2019-11-19 09:54] AforDesign commented on #1635
There is no real need for a custom optimizer anymore.
Apparently, it's not the optimizing process which causes the incremented file sizes.

This cause lies within the ->withResponsiveImages() function.
I'll open a new issue for this and will close this one.

It would still be nice to be able to use Tinify (or anther online service) though, as its optimizing results are still giving a better result

[2019-11-19 10:49] AforDesign commented on #1635
update:
I'm not sure why the difference in filesize was that big in the first place.
After a rebuild of the project, the difference is not that dramatic anymore.
Still a noticable increase though.

For example:
<img width="798" alt="Schermafbeelding 2019-11-19 om 11 37 39" src="https://user-images.githubusercontent.com/26324454/69139566-0eb61000-0ac1-11ea-9fc0-36cc7126feb1.png">

[2019-11-19 13:24] ixperiencenl commented on #1511
@drtheuns did you manage to solve this issue?

[2019-11-20 06:17] ettaegbe commented on #1633
Hello guys. I'm also having this same issue. Composer revert didn't work and I'm stuck.

[2019-11-20 06:20] waitaamon commented on #1567
Experiencing the same in laravel 6.2. tried solutions above but none worked

[2019-11-20 06:49] ettaegbe commented on #1633
go to bootstrap/cache and delete config.php, packages.php services.php.
Then install an older version of the library.
I installed 7.14.0 and it works

[2019-11-20 13:38] rubenvanassche commented on #1632
Hi @paligiannis, you're probably loading the media items in your Products model. This causes the extra query with media items. You should take a look here in the Laravel documentation: https://laravel.com/docs/master/eloquent-relationships#eager-loading . I will close this issue for now since it has nothing to do with the package 😃.

[2019-11-20 13:38] #1632 closed

[2019-11-21 20:38] aleksandertabor opened #1636 "Conversion file names"
Currently after conversion names are generated with this scheme:
[code]
source:
https://github.com/spatie/laravel-medialibrary/blob/master/src/Conversion/Conversion.php

where **getName()** is conversion name like 'thumb'.
output is: originalName-**thumb**.jpg

**_Question:_** Is it possible to get custom file names for conversions without name inside or use subfolders for each conversion and keep

[2019-11-22 16:38] sdudasko opened #1637 "Max filesize for multiple files counted together"
Is there a way to check `maxFileSize` for all files together? For example, we have `maxFileSize` set to 20MB so the user can attach either one big file with the size of 20MB or 20 files with the size of 1MB.

If there is not any built-in way do you have an idea how would I implement this feature?

[2019-11-22 22:19] jozeflambrecht opened #1638 "How to convert HEIC images"
Is there a way to convert images (from a form request) from .HEIC (iPhone) to .PNG/.JPEG?

[2019-11-22 22:52] freekmurze commented on #1638
No .HEIC isn't supported yet. You have to convert it yourself to .png or .jpeg before adding it the medialibrary.

[2019-11-22 22:52] #1638 closed

[2019-11-23 12:56] martin-ro commented on #1581
Any progress on that?

[2019-11-26 08:44] jameslkingsley opened #1643 "How to control maximum file size during runtime?"
I need to limit the upload file size based on the user's remaining storage space - right now I'm using this:

[code]

and then I'm using it like this:

[code]

I'm wondering whether there is a better way to accomplish this, that is perhaps already built into the library? Maybe something like this:

[code]

[2019-11-26 19:24] freekmurze commented on #1643
You can use media collections to restrict file sizes.

https://docs.spatie.be/laravel-medialibrary/v7/working-with-media-collections/defining-media-collections/#only-allow-certain-files-in-a-collection

`Spatie\MediaLibrary\File` has a size property.

[2019-11-26 19:24] #1643 closed

[2019-11-27 07:46] MfundoM commented on #1567
I installed a new project
composer create-project --prefer-dist laravel/laravel project_name
and then ran spatie, and it worked.

[2019-11-27 08:48] harryWonder commented on #1613
I also got the same issue... The upload logic works fine for some controllers but doesn't for others.

[2019-11-27 15:12] Lukasss93 opened #1644 "Move method changes disk to default"
When I move media from one to another model the disk is changed to default.
I'm not sure if this is a bug...

[2019-11-27 15:22] piep14 opened #1645 "Don't move a file"
Hello, why this code remove a original picture ?

`$has_property
->addMedia($url)
->withCustomProperties(['legend' => $legend])
->toMediaCollection();`

[2019-11-27 15:22] Lukasss93 commented on #1644
I suggest to merge this PR: https://github.com/spatie/laravel-medialibrary/pull/1402

[2019-11-27 17:34] EbenezerOyenuga commented on #1082
I am facing the same issue please I still do not understand what to do. Can you please help break it down in more simpler terms as I am new to API resources and all. Thanks

[2019-11-27 20:03] jcalonso opened #1646 "Serialization of 'Closure' is not allowed"
Hello!,

I am having a `Serialization of 'Closure' is not allowed` exception when calling the `getFirstMediaUrl` method on a model that is saved in the session,

### Example:

Route:
[code]

Model:
[code]

Laravel 6.6.0
Laravel medialibrary 7.14.2
Php 7.3.12

Flareapp link: https://flareapp.io/share/bP9kQZ5Q#F31

Any ideas why this is happening and how to avoid it?

Thanks

[2019-11-29 12:56] danteYuX commented on #1616
**I have the same error in Lumen 6.2.0**
Return value of Spatie\MediaLibrary\PathGenerator\BasePathGenerator::getBasePath() must be of the type string, null returned in .... /vendor/spatie/laravel-medialibrary/src/PathGenerator/BasePathGenerator.php:39

[2019-11-29 14:32] jameslkingsley commented on #1643
This doesn't override the default `max_file_size` configuration option. I need the default max file size to remain at 10 MB, except on a particular model where it has an unlimited size (as uploading is being directly handled by S3).

[2019-11-29 14:47] jameslkingsley commented on #1643
By using my original solution, will I run into issues with changing the config during runtime?

[2019-11-29 15:17] zsoro2 commented on #1627
This is worked for me.

from this:

`
public function registerMediaConversions()
{
}
`

to this:
`
public function registerMediaConversions(Media $media = null)
{
}
`

[2019-11-29 19:01] EricBusch commented on #1348
@nnvvii

I was wanting to do the same thing. Here's how I handled it in my blade file without publishing any MediaLibrary views.

[code]

This generates the following HTML:

[code]
Hope this helps!

[2019-11-30 23:00] rmundel opened #1648 "Pass additional data to Jobs"
Hey guys, how could I pass additional data to the package Jobs?

For instance I would like to pass my Tenant information to the Job.

I created a custom path_generator class to store the file for the respective tenant inside its own folder, defined by the uuid,

[code]

[2019-12-02 11:01] #1513 closed

[2019-12-02 13:09] rmundel commented on #1648
Nvm. Solved setting the company uuid into a custom model.
thanks

[2019-12-02 13:09] #1648 closed

[2019-12-02 20:16] tanthammar opened #1649 "Documentation is gone?"
Today the documentation for v7 and v6 returns 404.
I can only find docs for v5.

https://docs.spatie.be/laravel-medialibrary/v7/introduction

Has it moved?

[2019-12-02 20:48] #1627 closed

[2019-12-02 20:55] freekmurze commented on #1645
This behaviour is documented. Please add `preserveOriginal` to the chain if you want to preserve the original.

[2019-12-02 20:55] #1645 closed

[2019-12-03 00:08] djunehor commented on #1649
The documentation is back😀

[2019-12-03 02:42] teddyhendryanto opened #1650 "Spatie\MediaLibrary\Jobs\PerformConversions pointing to wrong project folder"
Hi,

Is there anyone who face same problem with mine?
Whenever I dispatch PerformConversions, it pointing to wrong project folder.
I got this kind of error message:
League\Flysystem\FileNotFoundException: File not found at path: 11428/01885f06c66321c0e45e1c3bd05b16171743e1ca.png in **/srv/www/xox_middleware**/vendor/league/flysystem/src/Filesystem.php:389

In fact, my image is under **/srv/www/bla

[2019-12-03 10:32] jorisatabix commented on #1649
It's gone again

[2019-12-03 10:53] drtheuns commented on #1511
@ixperiencenl Sorry for the late reply.

No we didn't manage to fix this issue using the media library. In the end we switched the config `database.default` while executing the `addMedia` and set it back afterwards.

Thinking about it now, it _might_ be possible to hack something together using the `withAttributes` on the `FileAdder` (and maybe Laravel's attribute mutators?). Either way, I don't s

[2019-12-03 11:34] djunehor commented on #1649
I'm not sure what the problem is, but I can access both v7 and v6 documentation

[2019-12-03 12:26] jorisatabix commented on #1649
It has returned indeed.

[2019-12-03 14:24] trevorpan opened #1651 "How to assign an algolia media path?"
Are there any specific preparations on this package needed to make media clickable with algolia?
It seems like if a model has the HasMedia trait the path would be accessible.

My basic goal is for Algolia to populate an image associated with a post on my site's search page.

I've implemented the `toSearchableArray()` in the model. However, it's not clear how to make the image shown. e.g. we wouldn

[2019-12-03 14:56] Fredericld opened #1652 "Issue installing package with composer"
Hi,

I am running the laravel 6.
Tried to install the package

` "require": {
        "php": "^7.1.3",
        "spatie/laravel-medialibrary" : "^7.0.0"
    },`

Here is he error I got
`Generating optimized autoload files

   Symfony\Component\Debug\Exception\FatalThrowableError  : Class name must be a valid object or a string

  at C:\projects\projects\fcms1\vendor\spatie\laravel-medialibrary\src\

[2019-12-03 16:13] Fredericld commented on #1652
Tried with
`"require": { "php": "^7.1.3", "spatie/laravel-medialibrary" : "^7.16.0" },`

Same error

[2019-12-03 21:19] Ashish-Kushwaha opened #1654 "Associating files"
i am getting error ......

Spatie\MediaLibrary\Exceptions\FileCannotBeAdded\FileDoesNotExist
File `builder1.jpg` does not exist

[2019-12-05 00:44] tdondich opened #1655 "Utilizing a custom generator on a per model basis does not work according to documentation"
Per documentation at https://docs.spatie.be/laravel-medialibrary/v7/converting-other-file-types/creating-a-custom-image-generator/ , you should be able to add a getImageGenerators method in your model in order to use a custom generator specific to that model.

Unfortunately, it appears that this method will never get called as the getImageGenerators() method is called on the Spatie Media model and

[2019-12-05 09:39] nikolayandreev commented on #1423
I agree that this would be a great addition to the plugin, because today I needed it too.. CKEDITOR ajax uploads, before Entity creation.

This is how I solved it, without looking for more packages other than the great media library.

[code]
[code]

[2019-12-05 10:43] drtheuns opened #1656 "The Media\Model depends on non-existant function on UrlGenerator interface"
In the `Spatie\MediaLibrary\Models\Media` class there is the following function:

[code]

The `UrlGeneratorFactory::createForMedia` returns a type of the `UrlGenerator` interface, which does not contain the `getPath()` function.

We had written our own `UrlGenerator` according to the docs, but when it went live we were seeing errors with the `PerformConversions` due to this unexpected method call

[2019-12-05 14:10] rohan-krishna commented on #1652
Having the same error. Laravel 6.2.

[2019-12-05 14:50] Fredericld commented on #1652
I got it work eventually. My system runs on Laravel 6.6.2
I deleted manually the config.php file in bootstrap/config, ran a composer update and no error.

If you still have issues, review this    https://github.com/spatie/laravel-medialibrary/issues/1567

[2019-12-05 19:42] rnbroggi commented on #1633
Been having the same issue and this worked.

In case future readers don't know, the way to install specific packages versions is by removing the '^', like this:

`composer require "spatie/laravel-medialibrary:7.14.0"`

[2019-12-05 23:42] #1652 closed

[2019-12-06 04:50] biholaindrasinh opened #1658 "Upload medias before creating model object."
I have a situation where I want to upload images for the products while creating a product. My script author already used this package and providing product images upload on the edit product. How do I provide product images upload on to create a product?

[2019-12-06 09:52] freekmurze commented on #1649
This is fixed.

[2019-12-06 09:52] #1649 closed

[2019-12-06 09:54] freekmurze commented on #1651
That could work, yes!

[2019-12-06 09:54] #1651 closed

[2019-12-07 16:34] fsaravi commented on #1627
did you extend media class of media library in Spatie\MediaLibrary\Models\Media namespace?
if you work with default media model then yes that will work.
but if you extend default class then this falls in this problem.

[2019-12-07 17:04] crslp commented on #887
I think that this still is an issue on certain systems.
In my shared environment I encounter the issue that /tmp is not readable despite beeing set to 777.
To quote my hosting provider: "You can write to this directory but not read from it. It is possible that files from other customers are present."
This causes a problem: The fix in [spatie/image#38](https://github.com/spatie/image/issues/38) jus

[2019-12-07 17:25] crslp commented on #1293
Thank you very much!
This worked for me on a shared hosting and should be considered for implementation.

[2019-12-07 22:41] elifbyte commented on #1331
hi, i working with custom path generator.
in google drive path is GDriveFolderId/filename.txt, so after make directory i can get id directory.
for custom path generator is:
[code]

[2019-12-09 10:39] Mapteg34 commented on #1304
+1 for me. Without this option i cant use medialibrary in transactions code

[2019-12-09 14:34] enniosousa opened #1659 "Not escaping blank space on responsive images URLs"
The original image has a blank space in name, so all responsive images use the original na as prefix.

When the image is rendered the output is like that:
[code]

On image `src` attribute the blank space is escaped, the same doesn't happen with responsive images.

The responsive images' URL not escaped throw me the error `Failed parsing 'srcset' attribute value since it has an unknown descriptor.`

[2019-12-09 16:28] ziming opened #1660 "Downloaded zip file cannot be opened error after 7.14.2"
Hi,

After updating laravel-medialibrary beyond 7.14.2

Downloaded zip files (generated by MediaStream) could no longer be opened.

Attaching a screenshot

https://share.getcloudapp.com/z8un7dWz

For now I downgrade back to laravel-medialibrary 7.14.2 as it is the last working version where downloaded generated zip file could be opened. So my guess is something in 7.16.0 broke it

Thank you! :)